USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessDetailsByIDForContactEnquiry]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BusinessDetailsByIDForContactEnquiry]
@ID BIGINT = 0
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM Business WHERE ID = @ID
END


GO
