USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[VerifyCurrentQtyDuringOrder]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[VerifyCurrentQtyDuringOrder]--34,95,0,19,0
@BusinessID BIGINT = 0,
@UserID BIGINT = 0,
@RemainingQuantity int output,
@CurrentCartQuantity int output,
@ReturnVal int output
AS
BEGIN	
	SET NOCOUNT ON;
	SET @ReturnVal = 0
	SET @RemainingQuantity = 0
	
	DECLARE @Qty INT = 0
	DECLARE @TotalQty INT	SET @TotalQty = 0
	DECLARE @RemainingQty INT SET @RemainingQty = 0
	DECLARE @CurrentCartQty INT	 SET @CurrentCartQty = 0

	SELECT @Qty = Qty
	FROM Cart(NOLOCK) 	
	WHERE UserID = @UserID AND CAST(Cart.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
	AND BusinessID = @BusinessID AND IsOrderCompleted = 0
	
	SET @CurrentCartQuantity = @Qty

	SELECT @TotalQty = ISNULL(BS.NoOfItems, 0),
			@RemainingQty = (ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0))			
	FROM  Business(NOLOCK) AS B 
	INNER JOIN BusinessScheduleCurrentDay(NOLOCK) AS BS ON BS.BusinessID = B.ID AND CAST(BS.CurrentDate AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 				
	LEFT OUTER JOIN VW_BusinessCurrentDayPurchaseQty AS V ON V.BusinessID = B.ID			
	WHERE (B.Status = 1) AND (B.IsSalesAdmin = 0) AND B.ID = @BusinessID
			
	
	SELECT @CurrentCartQty = ISNULL(Qty,0) 
	FROM CurrentDayOrderQTy(NOLOCK) 
	WHERE CAST(CurrentDayOrderQTy.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
		AND BusinessID = @BusinessID 
		AND DATEDIFF(MINUTE, CurrentDayOrderQTy.CreatedOn, dbo.Fun_australiaDateTime()) <= 10
	
	print @RemainingQty
	print @CurrentCartQty
	print @Qty
	
	IF (@CurrentCartQty + @Qty) <= @RemainingQty
	BEGIN
	
		IF EXISTS(
					SELECT 1 FROM CurrentDayOrderQTy(NOLOCK) 
					WHERE CAST(CurrentDayOrderQTy.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
						AND BusinessID = @BusinessID 		
						AND DATEDIFF(MINUTE, CurrentDayOrderQTy.CreatedOn, dbo.Fun_australiaDateTime()) <= 10				
				)
		BEGIN
			UPDATE CurrentDayOrderQTy	
			SET Qty = Qty + @Qty,
				CreatedOn = dbo.Fun_australiaDateTime()			
			WHERE CAST(CurrentDayOrderQTy.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
				AND BusinessID = @BusinessID	
				AND DATEDIFF(MINUTE, CurrentDayOrderQTy.CreatedOn, dbo.Fun_australiaDateTime()) <= 10		
				
		END
		ELSE
		BEGIN	
			INSERT INTO CurrentDayOrderQTy(BusinessID, Qty, CreatedOn)
			VALUES(@BusinessID, @Qty, dbo.Fun_australiaDateTime() )
		END
		SET @ReturnVal = 1
	END
	ELSE
	BEGIN
		SET @RemainingQuantity = @RemainingQty - @CurrentCartQty
		IF @RemainingQuantity < 0
			SET @RemainingQuantity = 0
		SET @ReturnVal = -1 -- No Qty Available
	END
	
END





GO
