USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[CategoryModify]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CategoryModify]  
 @ID int=0,  
 @Name varchar(200)='',  
 @ImageName varchar(100)='',   
 @CategoryURL varchar(250)='',  
 @ReturnVal int=0 output  
as  
begin  
 set nocount on  
 set @ReturnVal = 0  
 
 set @CategoryURL= dbo.Fun_UrlString(@Name)    

 IF @ID = 0  
 Begin  
  if not exists(select 1 from dbo.Category(NOLOCK) where Name =@Name)  
  Begin  
	   Insert into dbo.Category(Name,CategoryURL,CreatedOn, ImageName)  
	   values(@Name,@CategoryURL,getdate(),@ImageName)  
	   set @ReturnVal=scope_Identity()  
  End  
  else  
   set @ReturnVal= -1  
 End  
 Else  
 Begin  
  if not exists(select 1 from dbo.Category(NOLOCK) where Name =@Name and ID <> @ID)  
  Begin  
   Update dbo.Category set  
    Name =@Name,  
    CategoryURL =@CategoryURL,  
	ImageName=@ImageName,
    CreatedOn = getdate()
    where ID =@ID  
   set @ReturnVal =@ID  
  End  
  else  
   set @ReturnVal= -1  
 End  
   
End


GO
