USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[GetAdminDetails]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAdminDetails]	
	@UserID int 
as
begin
	set nocount on	
		select * from Admin where ID = @UserID
end


GO
