USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[CMSBYID_Webservice]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CMSBYID_Webservice]
	@ID INT = 0	
AS
BEGIN
		SET NOCOUNT ON
		SELECT * FROM CMS WHERE ID = @ID
	
END
GO
