USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessMonthlyReport]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessMonthlyReport]
@FromDate DATETIME,
@ToDate DATETIME,
@ID INT=0
AS
begin
	SET NOCOUNT ON;

	SELECT * FROM
	(
		SELECT	
			YEAR(BusinessOrder.CreatedOn) as Y, 
			MONTH(BusinessOrder.CreatedOn) AS M,  
			SUM(BusinessOrder.ItemPrice) AS P,
			DATENAME(MONTH,BusinessOrder.CreatedOn) AS MN 
		FROM BusinessOrder (NOLOCK)
		INNER JOIN BusinessOrderProduct(NOLOCK) ON BusinessOrder.ID = BusinessOrderProduct.OrderID AND BusinessOrderProduct.BusinessID = @ID
		WHERE CAST(BusinessOrder.CreatedOn AS DATE) >= CAST(@FromDate AS DATE) AND CAST(BusinessOrder.CreatedOn AS DATE) <= CAST(@ToDate AS DATE)
		GROUP BY YEAR(BusinessOrder.CreatedOn), MONTH(BusinessOrder.CreatedOn), DATENAME(MONTH,BusinessOrder.CreatedOn)
	)t1 ORDER BY Y DESC, M DESC
END


GO
