USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminGetList]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminGetList]      
 @ID int=0,          
 @FirstName varchar(50)='',          
 @LastName varchar(50)='',          
 @UserName varchar(100)='',          
 @EmailID varchar(100)='',          
 @TotalAdmin  int=0 output,          
 @CurrentPage int=1 output,          
 @RecordPerPage int=10,          
 @SortOrd varchar(5)='DESC',          
 @SortColumn varchar(15)='ID',        
 @IsSuperAdmin int = 0           
as          
begin          
 set nocount on;          
          
 set @FirstName = dbo.ReplaceSingleQuote(@FirstName)          
 set @LastName = dbo.ReplaceSingleQuote(@LastName)          
 set @UserName = dbo.ReplaceSingleQuote(@UserName)          
 set @EmailID = dbo.ReplaceSingleQuote(@EmailID)          
        
     
      
 declare @Query as varchar(1000)          
 declare @RecQuery as nvarchar(2500)          
 set @Query=''          
          
 if @ID<>0          
  set @Query=@Query + ' and ID =' + cast(@ID as varchar)          
 if @FirstName<>''          
  set @Query=@Query + ' and FirstName like ''%' + @FirstName + '%'''          
          
 if @LastName<>''          
  set @Query=@Query + ' and LastName like ''%' + @LastName + '%'''          
          
 if @UserName<>''          
  set @Query=@Query + ' and UserName like ''%' + @UserName + '%'''          
          
 if @EmailID<>''          
  set @Query=@Query + ' and EmailID like ''%' + @EmailID + '%'''          
  
 set @Query=@Query + ' and ISNULL(DeletedYN,0)=0'
          
--if @IsSuperAdmin = 0       
 --set @Query = @Query + ' and IsSupAdmin = 0 '        
   print @Query      
 declare @MaxPage int          
 set @RecQuery='select @TotalAdmin=count(1) from dbo.Admin where 1=1 ' + @Query             
 exec dbo.sp_ExecuteSql @RecQuery,N'@TotalAdmin int output',@TotalAdmin output          
           
 set @MaxPage=ceiling(isnull(@TotalAdmin,0) / (@RecordPerPage * 1.0))            
           
 if @MaxPage < @CurrentPage          
 begin          
  if @MaxPage<=0          
   set @CurrentPage = 1          
  else          
   set @CurrentPage = @MaxPage                         
 end          
           
 declare @Top as int          
 declare @Bottom as int          
 set @Top=((@CurrentPage - 1) * @RecordPerPage + 1)          
 set @Bottom = (@CurrentPage * @RecordPerPage)           
         
 if @RecordPerPage = -1        
 begin        
  set @RecQuery='select * from (select FirstName as [First Name],'+          
  'LastName as [Last Name],Username,EmailID as [Email Address],Phone as [Phone Number],' +          
  'CreatedDate,case when Status = 1 then ''Active'' else ''Inactive'' end as Status ' +          
  ' from dbo.Admin where 1=1 ' + @Query + ')t1'        
 end        
 else        
 begin        
     
  set @RecQuery='select * from (select row_number() over (order by '+ @SortColumn + ' ' + @SortOrd + ') as RowNumber,ID,FirstName,'+          
  'LastName,UserName,Password,EmailID,Phone,ImageName,[dbo].[Fun_UserPages](Admin.ID) as Pages,' +          
  'CreatedDate,IsSupAdmin,IPaddress,Status,case when AdminType=1 then ''SuperAdmin'' when AdminType=2 then ''Team Manager'' else ''Agent'' end as  AdminType' +          
  ' from dbo.Admin where 1=1 ' + @Query + ')t1 where t1.RowNumber>=' + cast(@Top as varchar) + ' and t1.RowNumber <=' + cast(@Bottom as varchar)          
     
 end        
           
 exec dbo.sp_ExecuteSql @RecQuery          
end


GO
