USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateCurrentQtyDuringOrder]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateCurrentQtyDuringOrder]
@BusinessID BIGINT = 0,
@Qty INT = 0
AS
BEGIN	
	SET NOCOUNT ON;
	
	IF EXISTS(
				SELECT 1 FROM CurrentDayOrderQTy(NOLOCK) 
				WHERE CAST(CurrentDayOrderQTy.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
					AND BusinessID = @BusinessID 						
			)
	BEGIN
		UPDATE CurrentDayOrderQTy	
		SET Qty = 
			CASE WHEN Qty - @Qty <= 0
				THEN 0
				ELSE  Qty - @Qty
			END				
		WHERE CAST(CurrentDayOrderQTy.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
			AND BusinessID = @BusinessID			
				
	END
		
	
END




GO
