USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[Updatelatlong]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Updatelatlong] 
( 
	@ID bigint=0, 	
	@Lat varchar(max)='', 
	@Long varchar(max)=''	
) 
AS 
BEGIN
SET NOCOUNT ON; 
	UPDATE Business SET Latitude = @Lat, Longitude = @Long
	WHERE ID = @ID

END
GO
