USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrderNotications]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateOrderNotications] 
( 
	@OrderID VARCHAR(MAX)
) 
AS 
BEGIN
	SET NOCOUNT ON; 

	UPDATE BusinessOrderProduct SET IsNotificationSent = 1 
	WHERE ID IN(SELECT items from dbo.Fun_SplitStr(@OrderID,','))
END

GO
