USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateDonationsSequence]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[UpdateDonationsSequence] --'2,1,3'  
@ID varchar(1000)='',  
@SequenceNo varchar(1000)=''  
as  
begin  
 if @ID <> ''  
 begin  
  declare @MID int  
  set @MID = 0  
  declare @SeqNo int  
  set @SeqNo = 1  
  DECLARE cur_Donations CURSOR FOR    
  SELECT items FROM dbo.Fun_SplitStr(@ID,',')    
  
  OPEN cur_Donations     
  FETCH NEXT FROM cur_Donations INTO @MID     
  
  WHILE @@FETCH_STATUS = 0     
  BEGIN   
   --print cast(@MID as varchar(10)) + ' and ' + cast(@SeqNo as varchar(10))  
   update Donations set SequenceNo = @SeqNo where ID = @MID  
    set @SeqNo = @SeqNo + 1  
     FETCH NEXT FROM cur_Donations INTO @MID     
  END     
  
  CLOSE cur_Donations     
  DEALLOCATE cur_Donations  
 end  
end


GO
