USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[PagesList]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PagesList]       
as          
begin          
	set nocount on;          
	select * from Pages where Status = 1 order by RANK
          
end


GO
