USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessUpdate]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessUpdate]
 @ID bigint,  
 @Name varchar(200)='',  
 @ABN varchar(200)='',  
 @StreetAddress varchar(500)='',  
 @Location varchar(500)='',  
 @FullName varchar(200)='',  
 @EmailAddress varchar(200)='',  
 @BusinessPhone varchar(20)='',  
 @Mobile varchar(20)='',
 @Password varchar(500)='',  
 @ReturnVal bigint output    
as    
begin    
 SET NOCOUNT ON;

 SELECT @ReturnVal = 0
 IF @ID > 0    
 BEGIN
		IF NOT EXISTS(SELECT 1 FROM dbo.Business(NOLOCK) where EmailAddress=@EmailAddress AND ID <> @ID)
		BEGIN
			UPDATE Business
				SET 
					Name = @Name, 
					ABN  = @ABN, 
					StreetAddress = @StreetAddress, 
					Location = @Location, 
					FullName = @FullName, 
					EmailAddress = @EmailAddress, 
					BusinessPhone = @BusinessPhone,
					Mobile = @Mobile
				WHERE ID = @ID
			
			SET @ReturnVal = @ID
		END
		ELSE
		   SELECT @ReturnVal = -1 
 END    

END


GO
