USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[MenuSubList]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MenuSubList]--2,''  
 @ParentID int = 0,  
 @ParentURL varchar(100)=''   
as  
begin  
 set nocount on   
  
 SELECT Menu.ID, Menu.Name, Menu.MenuURL, Menu.ParentID,Menu.LinkType, Menu.ExternalLink,Menu.ExternalLinkURL, StaticURL, Menu.CMSID, Menu.Status,   
 Menu.LevelNo, Menu.SequenceNo, Menu.Position, MenuTree.TreeLevelNo, @ParentURL as ParentURL, ISNULL(VW_Menu.count, 0) as [Count],  
    MenuTree.TreeList, MenuTree.TreeLevel, MenuTree.TreeSubList, MenuTree.HasChild, ISNULL(CMS.PageUrl,'') as CMSUrl FROM Menu INNER JOIN    
 MenuTree ON Menu.ID = MenuTree.MenuID LEFT JOIN CMS on CMS.ID = Menu.CMSID Left join VW_Menu on VW_Menu.ParentID = Menu.ParentID where Menu.ParentID = @ParentID  
end


GO
