USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[EmailTemplateSave]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmailTemplateSave]  
(  
@ID int=0 output,  
@TemplateName varchar(100)='',  
@Template varchar(8000)='',   
@Subject varchar(1000)='',  
@IsError int=0 output  
)  
AS  
begin  
	SET NOCOUNT ON;  

	SET @IsError=0
	
	set @TemplateName = dbo.[PreventSQLInjection](@TemplateName)


	if @ID=0  
	begin  
		if not exists(select 1 from dbo.EmailTemplate where TemplateName=@TemplateName)  
		begin  
			insert into dbo.EmailTemplate  
			(TemplateName,Template,Subject)  
			values  
			(@TemplateName,@Template,@Subject)        
			set @IsError=scope_identity()           
		
		end  
		else
			set @IsError=-1
	end  
	else  
	begin  
		if not exists(select 1 from dbo.EmailTemplate where TemplateName=@TemplateName and ID<>@ID)  
		begin  
			update dbo.EmailTemplate set  
			TemplateName=@TemplateName,  
			Subject = @Subject,  
			Template=@Template      
			where ID=@ID  
			
			set @IsError=@ID 
			
		end  
		else
			set @IsError=-1  
	end  
end


GO
