USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserFavouriteBusinessAdd]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserFavouriteBusinessAdd]
 @UserID bigint,  
 @BusinessID bigint 
AS    
BEGIN    
 SET NOCOUNT ON;
	
	IF NOT EXISTS(SELECT 1 FROM UserFavouriteBusiness WHERE UserID = @UserID AND BusinessID = @BusinessID)
	BEGIN
		INSERT INTO UserFavouriteBusiness(UserID,BusinessID )
		VALUES(@UserID,@BusinessID )
	END

END


GO
