USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessList]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessList]
	@ID int = 0,
	@Name varchar(200)='',
	@Email varchar(200)='',
	@TotalRecord  int=0 output,
	@CurrentPage int=1 output,
	@RecordPerPage int=10,
	@SortOrd varchar(5)='DESC',
	@SortColumn varchar(20)='ID'
as
begin
	set nocount on
	set @Name = dbo.ReplaceSingleQuote(@Name)

	declare @Query as varchar(1000)
	declare @RecQuery as nvarchar(2500)
	set @Query=''

	if @ID<>0
		set @Query=@Query + ' and ID =' + cast(@ID as varchar)
	if @Name<>''
		set @Query=@Query + ' and Name like ''%' + @Name + '%'''
	if @Email <> ''
		set @Query=@Query + ' and EmailAddress like ''' + @Email + '%'''

	set @Query=@Query + ' and IsSalesAdmin=0'

	declare @MaxPage int
	set @RecQuery='select @TotalRecord=count(1) from dbo.Business(NOLOCK) where 1=1 ' + @Query 		
	exec dbo.sp_ExecuteSql @RecQuery,N'@TotalRecord int output',@TotalRecord output
	
	set @MaxPage=ceiling(isnull(@TotalRecord,0) / (@RecordPerPage * 1.0))		
	
	if @MaxPage < @CurrentPage
	begin
		if @MaxPage<=0
			set @CurrentPage = 1
		else
			set @CurrentPage = @MaxPage															
	end
	
	declare @Top as int
	declare @Bottom as int
	set @Top=((@CurrentPage - 1) * @RecordPerPage + 1)
	set @Bottom = (@CurrentPage * @RecordPerPage)	
	
	 if @RecordPerPage = -1      
	 begin      
	   SET @RecQuery='select * from (select  Name AS [Business Name], FullName, EmailAddress, BusinessPhone, Mobile, 
		ABN, StreetAddress, Location, BSBNo, AccountNumber, BankName, AccountName, 
		CASE Status WHEN 1 THEN ''Active'' ELSE ''Deactive'' END AS [Status] '+            
	  ' ,convert(VARCHAR(10),CreatedOn,103) as [Registered Date]'+'  
	  from dbo.Business 	  
	  where 1=1 ' + @Query + ')t1 '    
    
	 end      
	 else      
	 begin 
		set @RecQuery='select * from (select row_number() over (order by '+ @SortColumn + ' ' + @SortOrd + ') as RowNumber,Business.* '+
		' from dbo.Business(NOLOCK) where 1=1 ' + @Query + ')t1 where t1.RowNumber>=' + cast(@Top as varchar) + ' and t1.RowNumber <=' + cast(@Bottom as varchar)
	end
	print @RecQuery
	
	exec dbo.sp_ExecuteSql @RecQuery
end


GO
