USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminOperation]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminOperation]
	@ID varchar(2000)='',
	@UpdatedUserID	bigint=0,
	@OprType smallint=2
as
begin
	set nocount on
	if @OprType=1
	BEGIN	
		--delete from dbo.Admin where ID in (select items from dbo.Fun_SplitStr(@ID,','))
		update dbo.Admin set DeletedYN=1, DeletedUserID=@UpdatedUserID,DeletedDate=GETDATE()
		 where ID in (select items from dbo.Fun_SplitStr(@ID,','))
	END	
	else if @OprType=2
		update dbo.Admin set Status=1,UpdatedUserID=@UpdatedUserID, UpdatedDate=GETDATE()		
		 where ID in (select items from dbo.Fun_SplitStr(@ID,','))
	else if @OprType=3
		update dbo.Admin set Status=0,UpdatedUserID=@UpdatedUserID, UpdatedDate=GETDATE()
		 where ID in (select items from dbo.Fun_SplitStr(@ID,','))
end


GO
