USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminCheckPasswordToken]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminCheckPasswordToken]
	@strPasswordToken varchar(25)=''
as
begin
	set nocount on
	select [Password],EmailID,FirstName,LastName from dbo.Admin
	where PasswordToken = @strPasswordToken
end


GO
