USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessTimelyReport]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessTimelyReport]
--   [dbo].[BusinessTimelyReport]0,'05/08/2018','05/21/2018'
	@BusinessID BIGINT=0,
	@StartDate DATETIME,
	@EndDate	DateTime	
as
begin
	SET NOCOUNT ON;
	

	DECLARE @businessorder TABLE
	(
		BID						INT IDENTITY(1,1),
		BusinessID				BIGINT,
		SoldQty					INT,
		TotalAmountBeforeBMH	DECIMAL(18,2),--(DonaTiona + temprice + TransactionFee
		BMH						DECIMAL(18,2), 
		GrandTotal				DECIMAL(18,2)
	)


	INSERT INTO @businessorder(BusinessID, SoldQty, TotalAmountBeforeBMH, BMH, GrandTotal)
	SELECT BusinessID, SUM(Qty) AS SoldQty, SUM(ISNULL(Donation, 0) + ISNULL(ItemPrice, 0) + ISNULL(TransactionFee, 0)) AS TotalAmountBeforeBMH, SUM(BusinessOrder.BringMeHomeFee) BMH, SUM(BusinessOrder.GrandTotal) GrandTotal
	FROM BusinessOrder(NOLOCK)
	INNER JOIN BusinessOrderProduct(NOLOCK) ON BusinessOrder.ID = BusinessOrderProduct.OrderID
	WHERE CAST(CreatedOn AS Date) >= CAST(@StartDate AS Date) AND CAST(CreatedOn AS Date) <= CAST(@EndDate AS Date)
	GROUP BY BusinessID 



	-- Get Report
	
	IF @BusinessID > 0
	BEGIN
		SELECT t1.*,ISNULL(b.BID,0) AS BID, ISNULL(b.BusinessID,0) AS BusinessID, ISNULL(b.SoldQty,0) AS SoldQty, ISNULL(b.TotalAmountBeforeBMH,0) AS TotalAmountBeforeBMH, ISNULL(b.BMH,0) AS BMH, ISNULL(b.GrandTotal,0) AS GrandTotal, Name As BusinessName FROM 
		(
			SELECT BusinessScheduleCurrentDay.BusinessID, SUM(NoOfItems) AS TotalPosted FROM dbo.BusinessScheduleCurrentDay(NOLOCK)
			WHERE CAST(CurrentDate AS Date) >= CAST(@StartDate AS Date) AND CAST(CurrentDate AS Date) <= CAST(@EndDate AS Date)
			AND BusinessScheduleCurrentDay.BusinessID = @BusinessID
			GROUP BY BusinessScheduleCurrentDay.BusinessID 
		)t1 LEFT JOIN @businessorder b ON b.BusinessID = t1.BusinessID
		INNER JOIN Business on Business.ID = t1.BusinessID
		
		
	END
	ELSE
	BEGIN
		SELECT t1.*,ISNULL(b.BID,0) AS BID, ISNULL(b.BusinessID,0) AS BusinessID, ISNULL(b.SoldQty,0) AS SoldQty, ISNULL(b.TotalAmountBeforeBMH,0) AS TotalAmountBeforeBMH, ISNULL(b.BMH,0) AS BMH, ISNULL(b.GrandTotal,0) AS GrandTotal, Name As BusinessName FROM 
		(
			SELECT BusinessScheduleCurrentDay.BusinessID, SUM(NoOfItems) AS TotalPosted FROM dbo.BusinessScheduleCurrentDay(NOLOCK)
			WHERE CAST(CurrentDate AS Date) >= CAST(@StartDate AS Date) AND CAST(CurrentDate AS Date) <= CAST(@EndDate AS Date)
			GROUP BY BusinessScheduleCurrentDay.BusinessID 
		)t1 LEFT JOIN @businessorder b ON b.BusinessID = t1.BusinessID
			INNER JOIN Business on Business.ID = t1.BusinessID
	END
END


GO
