USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[GetOrderNotificationListByNotificationID]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetOrderNotificationListByNotificationID] 
@NotificationID	BIGINT = 0
AS 
BEGIN
SET NOCOUNT ON; 


	-------------------- Notification Module-----------------------------

	DECLARE @NotificationDetails TABLE
	(
		NotificationID		BIGINT,
		NotificationText	VARCHAR(MAX)
	)

	INSERT INTO @NotificationDetails
	(
		NotificationID
		,NotificationText
	)
	SELECT ID, [Message] 
	FROM [dbo].[Notifications](NOLOCK)
	WHERE IsSend =0 
		AND ID = @NotificationID


	SELECT * FROM @NotificationDetails


	SELECT UserID, U.DeviceKey, a.NotificationText, a.NotificationID, ISNULL(DeviceType,'A') AS DeviceType, ISNULL(NotificationCount,0) AS NotificationCount
	FROM [dbo].[NotificationBusiness] NB (NOLOCK)
	INNER JOIN @NotificationDetails a ON a.NotificationID = NB.NotificationID
	INNER JOIN BusinessAuthToken U (NOLOCK) ON U.BusinessID = NB.UserID
	WHERE U.DeviceKey <> ''

	SELECT UserID, U.DeviceKey, a.NotificationText, a.NotificationID, ISNULL(DeviceType,'A') AS DeviceType, ISNULL(NotificationCount,0) AS NotificationCount  
	FROM [dbo].[NotificationSalesAdmin] NB (NOLOCK)
	INNER JOIN @NotificationDetails a ON a.NotificationID = NB.NotificationID
	INNER JOIN BusinessAuthToken U (NOLOCK) ON U.BusinessID = NB.UserID
	WHERE U.DeviceKey <> ''

	SELECT UserID, U.DeviceKey, a.NotificationText, a.NotificationID , ISNULL(DeviceType,'A') AS DeviceType, ISNULL(NotificationCount,0) AS NotificationCount 
	FROM [dbo].[NotificationUsers] NB (NOLOCK)
	INNER JOIN @NotificationDetails a ON a.NotificationID = NB.NotificationID
	INNER JOIN Users U (NOLOCK) ON U.ID = NB.UserID AND U.Status = 1

	-------------------- Notification Module-----------------------------

END


GO
