USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[DashboardReport]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DashboardReport]--2018

--   [dbo].[DashboardReport]2017
	@YEAR INT=0	
as
begin
	SET NOCOUNT ON;
	
	 DECLARE @Month TABLE
	(
		MOnthNumber INT,
		MName VARCHAr(50)
	)
	INSERT INTO @Month(MOnthNumber, MName) VALUES(1, 'Jan')
	INSERT INTO @Month(MOnthNumber, MName) VALUES(2, 'Feb')
	INSERT INTO @Month(MOnthNumber, MName) VALUES(3, 'Mar')
	INSERT INTO @Month(MOnthNumber, MName) VALUES(4, 'Apr')
	INSERT INTO @Month(MOnthNumber, MName) VALUES(5, 'May')
	INSERT INTO @Month(MOnthNumber, MName) VALUES(6, 'Jun')
	INSERT INTO @Month(MOnthNumber, MName) VALUES(7, 'Jul')
	INSERT INTO @Month(MOnthNumber, MName) VALUES(8, 'Aug')
	INSERT INTO @Month(MOnthNumber, MName) VALUES(9, 'Sep')
	INSERT INTO @Month(MOnthNumber, MName) VALUES(10, 'Oct')
	INSERT INTO @Month(MOnthNumber, MName) VALUES(11, 'Nov')
	INSERT INTO @Month(MOnthNumber, MName) VALUES(12, 'Dec')
	
	
---------------------------------------- Business Registered----------------------------------------------------
DECLARE @BusnessRegistered TABLE
(
	MonthNumber INT,
	BusinessRegistered INT
)
INSERT INTO @BusnessRegistered(MonthNumber, BusinessRegistered)
select MONTH(Business.CreatedOn) AS MonthNumber, COUNT(1) AS BusinessRegistered  
FROM Business WHERE IsSalesAdmin = 0
AND YEAR(Business.CreatedOn) = @YEAR
GROUP BY YEAR(Business.CreatedOn), MONTH(Business.CreatedOn)

---------------------------------------- Business Registered----------------------------------------------------


---------------------------------------- Users Registered----------------------------------------------------
DECLARE @UsersRegistered TABLE
(
	MonthNumber INT,
	UsersRegistered INT
)
INSERT INTO @UsersRegistered(MonthNumber, UsersRegistered)
select MONTH(Users.CreatedDate) AS MonthNumber, COUNT(1) AS UsersRegistered  
FROM Users WHERE YEAR(Users.CreatedDate) = @YEAR
GROUP BY YEAR(Users.CreatedDate), MONTH(Users.CreatedDate)

---------------------------------------- Users Registered----------------------------------------------------

---------------------------------------- Total Registered----------------------------------------------------

DECLARE @TotalRegistered TABLE
(
	MonthNumber INT,
	TotalRegistered INT
)

INSERT INTO @TotalRegistered(MonthNumber, TotalRegistered)
SELECT M.MonthNumber,( ISNULL(U.UsersRegistered,0) + ISNULL(B.BusinessRegistered,0)) AS TotalRegistered 
FROM @Month M 
LEFT JOIN @UsersRegistered U ON U.MonthNumber = M.MOnthNumber
LEFT JOIN @BusnessRegistered B ON B.MonthNumber = M.MOnthNumber

---------------------------------------- Total Registered----------------------------------------------------




	DECLARE @Report TABLE
	(
		[Month] INT,
		[Year] INT,
		[MonthName] VARCHAR(100),
		TotalAmount DECIMAL(18,2),
		BMH	DECIMAL(18,2),
		GrandTotal DECIMAL(18,2),
		Donation DECIMAL(18,2),
		Qty INT,
		TotalRegistered INT
	)



	;WITH CTE
	AS
	(
		SELECT * FROM
		(
			SELECT	
				YEAR(BusinessOrder.CreatedOn) as Y, 
				MONTH(BusinessOrder.CreatedOn) AS M,  
				--SUM(ISNULL(BusinessOrder.ItemPrice,0)) AS TotalAmount,
				--SUM(ISNULL(BusinessOrder.ItemPrice,0) + ISNULL(BusinessOrder.TransactionFee,0)) AS TotalAmount,
				SUM(ISNULL(BusinessOrder.ItemPrice,0) - ISNULL(BusinessOrder.BringMeHomeFee,0)) AS TotalAmount,
				SUM(ISNULL(BusinessOrder.BringMeHomeFee,0)) AS BMH,
				--SUM(ISNULL(BusinessOrder.GrandTotal,0)) AS GrandTotal,
				SUM(BusinessOrder.GrandTotal - ISNULL(BusinessOrder.TransactionFee, 0)- ISNULL(BusinessOrder.Donation, 0)) GrandTotal,
				SUM(ISNULL(BusinessOrder.Donation,0)) AS Donation,
				SUM(ISNULL(BusinessOrderProduct.Qty,0)) AS Qty,
				DATENAME(MONTH,BusinessOrder.CreatedOn) AS MN 
			FROM BusinessOrder (NOLOCK)
			INNER JOIN BusinessOrderProduct(NOLOCK) ON BusinessOrder.ID = BusinessOrderProduct.OrderID 		
			WHERE YEAR(BusinessOrder.CreatedOn) = @YEAR
			GROUP BY YEAR(BusinessOrder.CreatedOn), MONTH(BusinessOrder.CreatedOn), DATENAME(MONTH,BusinessOrder.CreatedOn)
		)t1 
	)

	INSERT INTO @Report ([Month],[Year], [MonthName], TotalAmount, BMH, GrandTotal, Donation, Qty, TotalRegistered)

	SELECT M.MOnthNumber as [Month], @Year AS [Year], MName as [MonthName], ISNULL(TotalAmount, 0) as [TotalAmount], ISNULL(BMH,0) AS BMH, ISNULL(GrandTotal,0) as GrandTotal, ISNULL(Donation,0) as Donation
	, ISNULL(Qty,0) as Qty, ISNULL(T.TotalRegistered,0) AS TotalRegistered
	FROM @Month M
	LEFT JOIN CTE ON CTE.M = M.MOnthNumber
	LEFT JOIN @TotalRegistered T ON T.MonthNumber = M.MOnthNumber
	

	DECLARE @MonthName VARCHAR(5000) SET @MonthName = ''
	DECLARE @TotalAmount VARCHAR(5000) SET @TotalAmount = ''
	DECLARE @BMH VARCHAR(5000) SET @BMH = ''
	DECLARE @GrandTotal VARCHAR(5000) SET @GrandTotal = ''
	DECLARE @Donation VARCHAR(5000) SET @Donation= ''
	DECLARE @Qty VARCHAR(5000) SET @Qty = ''
	DECLARE @TotalUsersRegistered VARCHAR(5000) SET @TotalUsersRegistered = ''


	SELECT  @MonthName = @MonthName + '"' + [MonthName] + '",', @TotalAmount = @TotalAmount + '"' + CAST(TotalAmount AS VARCHAR(100)) + '",', @BMH = @BMH + '"' + CAST(BMH AS VARCHAR(100))  + '",', @GrandTotal = @GrandTotal + '"' + CAST(GrandTotal AS VARCHAR(100))  + '",', @Donation = @Donation + '"' + CAST(Donation AS VARCHAR(100))  + '",', @Qty = @Qty + '"' + CAST(Qty AS VARCHAR(100))  + '",', @TotalUsersRegistered = @TotalUsersRegistered + '"' + CAST(TotalRegistered AS VARCHAR(100))  + '",' FROM @Report
	--SELECT  @MonthName = @MonthName + [MonthName] + ',', @TotalAmount = @TotalAmount + CAST(TotalAmount AS VARCHAR(100)) + ',' FROM @Report


	if LEN(@MonthName)>0
		SET @MonthName = SUBSTRING(@MonthName,1,len(@MonthName)-1)

	if LEN(@TotalAmount)>0
		SET @TotalAmount = SUBSTRING(@TotalAmount,1,len(@TotalAmount)-1)

	if LEN(@BMH)>0
		SET  @BMH = SUBSTRING(@BMH,1,len(@BMH)-1)
		
	if LEN(@GrandTotal)>0
		SET @GrandTotal = SUBSTRING(@GrandTotal,1,len(@GrandTotal)-1)
		
	if LEN(@Donation)>0
		SET @Donation = SUBSTRING(@Donation,1,len(@Donation)-1)
		
	if LEN(@Qty)>0
		SET @Qty = SUBSTRING(@Qty,1,len(@Qty)-1)
		
	if LEN(@TotalUsersRegistered)>0
		SET @TotalUsersRegistered= SUBSTRING(@TotalUsersRegistered,1,len(@TotalUsersRegistered)-1)

	--SELECT * FROM @Report

	SELECT @TotalAmount AS TotalAmount, @MonthName AS [Month], @BMH As BMH, @GrandTotal as GrandTotal, @Donation as Donation, @Qty AS Qty, @TotalUsersRegistered AS TotalUsersRegistered
	
	SELECT SUM(TotalAmount) AS TotalAmount, SUM(BMH) as BMH, SUM(GrandTotal) as GrandTotal, SUM(Donation) as Donation, SUM(Qty) as Qty, SUM(TotalRegistered) AS TotalRegistered FROM @Report
	
	select count(1) AS UsersCount from Users WHERE CAST(CreatedDate AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
	
	select count(1) as BusinessCount from Business where IsSalesADmin=0 AND CAST(CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 

END





GO
