USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[MenuListTree]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MenuListTree] 
AS 
BEGIN 
declare @vchrSpaceChar varchar(100) 
set @vchrSpaceChar = '--' 
declare @intCurrID int 
set @intCurrID = 0 

truncate table MenuTree 

create table #root (tmid int identity(1,1),catid int, visited bit) -- create temporary table for generating tree list 

insert into #root(catid,visited) select ID,0 from Menu -- Insert all ID from Menu table in temporary table root 
-- Declare variables
declare @intCount int,@intMax int,@intParentID int 
declare @intCurParentID int, @intCurCatID int,@vchrCurCatName varchar(1000) 
declare @intCatID int, @vchrCatName varchar(1000),@vchrFinalCat varchar(1000),@vchrCatID varchar(250) 
declare @intLevel int,@vchrCatFirstName varchar(1000),@intLevelCount int,@vchrFinalCat1 varchar(1000), @vchrMenuURL varchar(1000) , @vchrFinalURL varchar(1000),  @vchrCurMenuURL varchar(1000)
declare @intHasChild int 
--End declaration 

set @intCount=1 
set @intMax=0 
set @intMax = (select max(tmid) from #root) 

while @intCount <= @intMax 
begin 
	select @intCatID=ID, @vchrCatName=[Name], @intCurParentID=ParentID, @vchrMenuURL = MenuURL,
		   @intHasChild = (Case when not exists (select 1 from Menu where ParentID=catid) then 0 else 1 end ) from #root join Menu on catid=ID 
		   where tmid=@intCount 

	set @intCurCatID = @intCatID 
	set @vchrCurCatName = @vchrCatName 
	set @intParentID = @intCurParentID 
	set @vchrFinalCat = @vchrCurCatName 
	set @vchrCurMenuURL = @vchrMenuURL
	set @vchrFinalURL = @vchrCurMenuURL
	set @intLevel=1 
	set @vchrCatFirstName=@vchrCatName 
	set @vchrCatID=cast(@intCatID as varchar) -- generate the tree structure 

	while isnull(@intCurParentID,0) > 0 
	begin 
		select @intCurCatID=ID, @vchrCurCatName = [Name], @vchrCurMenuURL = MenuURL, @intCurParentID=ParentID from Menu where ID=@intCurParentID 
		
		set @vchrFinalCat = rtrim(ltrim(@vchrCurCatName)) + ' -> ' + @vchrFinalCat
		set @vchrFinalURL = rtrim(ltrim(@vchrCurMenuURL)) + '/' + @vchrFinalURL
		set @vchrCatID = cast(@intCurCatID as varchar) + ',' + cast(@vchrCatID as varchar) 
		set @intLevel=@intLevel+1 
	end -- End 

	declare @vchrSubLevel varchar(8000) 
	set @intLevelCount = @intLevel 
	set @vchrFinalCat1 = '|' + cast(@intLevel as varchar) + '| ' + @vchrCatFirstName 
	set @vchrSubLevel = @vchrCatFirstName 

	print @vchrSubLevel 

	while @intLevelCount >1 
	begin 
		set @vchrFinalCat1 = @vchrSpaceChar + @vchrFinalCat1 
		set @vchrSubLevel = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+ @vchrSubLevel 
		set @intLevelCount = @intLevelCount-1 
	end 
	set @vchrCatID = '0,' + @vchrCatID + ',0' 
	insert into MenuTree(MenuID, TreeLevelNo, TreeList, TreeLevel,TreeSubList,HasChild, URLString) 
	select @intCatID,@intLevel,@vchrFinalCat1,@vchrFinalCat,@vchrSubLevel,@intHasChild, @vchrFinalURL set @intCount = @intCount+1 
end 
End


GO
