USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessLogout]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessLogout]
 @ID INT = 0,
 @DeviceKey VARCHAR(1000)=''    
AS    
BEGIN    
	SET NOCOUNT ON    
	UPDATE BusinessAuthToken set AuthToken='', DeviceKey='', DeviceType =''
	WHERE BusinessID = @ID
		AND DeviceKey = @DeviceKey
 END

GO
