USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[CMSList]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CMSList]
	@ID int = 0,
	@PageTitle varchar(200)='',
	@PageUrl varchar(200)='',
	@TotalRecord  int=0 output,
	@CurrentPage int=1 output,
	@RecordPerPage int=10,
	@SortOrd varchar(5)='DESC',
	@SortColumn varchar(20)='ID',
	@HeadText varchar(MAX) = '',
@BodyFooterText varchar(MAX) = ''

as
begin
	set nocount on
	set @PageTitle = dbo.ReplaceSingleQuote(@PageTitle)

	declare @Query as varchar(1000)
	declare @RecQuery as nvarchar(2500)
	set @Query=''

	if @ID<>0
		set @Query=@Query + ' and ID =' + cast(@ID as varchar)
	if @PageTitle<>''
		set @Query=@Query + ' and PageTitle like ''%' + @PageTitle + '%'''
	if @PageUrl <> ''
		set @Query=@Query + ' and PageUrl like ''' + @PageUrl + '%'''

	declare @MaxPage int
	set @RecQuery='select @TotalRecord=count(1) from dbo.CMS where 1=1 ' + @Query 		
	exec dbo.sp_ExecuteSql @RecQuery,N'@TotalRecord int output',@TotalRecord output
	
	set @MaxPage=ceiling(isnull(@TotalRecord,0) / (@RecordPerPage * 1.0))		
	
	if @MaxPage < @CurrentPage
	begin
		if @MaxPage<=0
			set @CurrentPage = 1
		else
			set @CurrentPage = @MaxPage															
	end
	
	declare @Top as int
	declare @Bottom as int
	set @Top=((@CurrentPage - 1) * @RecordPerPage + 1)
	set @Bottom = (@CurrentPage * @RecordPerPage)	
	
	set @RecQuery='select * from (select row_number() over (order by '+ @SortColumn + ' ' + @SortOrd + ') as RowNumber,ID,PageTitle,PageUrl,PageDescription, ImageName,CMSMetaTitle,CMSMetaKeyword,CMSMetaDescription,Status,HeadText,BodyFooterText,CreatedOn,ShowEnquiryForm'+
	' from dbo.CMS where 1=1 ' + @Query + ')t1 where t1.RowNumber>=' + cast(@Top as varchar) + ' and t1.RowNumber <=' + cast(@Bottom as varchar)
	
	print @RecQuery
	
	exec dbo.sp_ExecuteSql @RecQuery
end


GO
