USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[GetNotificationFromNotificationList]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetNotificationFromNotificationList] 
AS 
BEGIN
	SET NOCOUNT ON; 

	DECLARE @NotificationTime DATETIME
	SELECT @NotificationTime = CONVERT(VARCHAR(10),[dbo].[Fun_australiaDateTime](),101) + ' ' + CONVERT(VARCHAR(5), [dbo].[Fun_australiaDateTime](),108)
	SELECT @NotificationTime
	
	DECLARE @NotificationDetails TABLE
	(
		NotificationID		BIGINT,
		NotificationText	VARCHAR(MAX)
	)

	INSERT INTO @NotificationDetails
	(
		NotificationID
		,NotificationText
	)
	SELECT ID, [Message] 
	FROM [dbo].[Notifications](NOLOCK)
	WHERE ScheduleTime = @NotificationTime
		AND IsSend =0 
		AND IsSchedule = 1


	SELECT * FROM @NotificationDetails
		
	
	SELECT UserID, U.DeviceKey, a.NotificationText, a.NotificationID, ISNULL(NotificationCount,0) AS NotificationCount , DeviceType
	FROM [dbo].[NotificationBusiness] NB (NOLOCK)
	INNER JOIN @NotificationDetails a ON a.NotificationID = NB.NotificationID
	INNER JOIN BusinessAuthToken U (NOLOCK) ON U.BusinessID = NB.UserID
	WHERE U.DeviceKey <> ''

	SELECT UserID, U.DeviceKey, a.NotificationText, a.NotificationID, ISNULL(NotificationCount,0) AS NotificationCount	, DeviceType
	FROM [dbo].[NotificationSalesAdmin] NB (NOLOCK)
	INNER JOIN @NotificationDetails a ON a.NotificationID = NB.NotificationID
	INNER JOIN BusinessAuthToken U (NOLOCK) ON U.BusinessID = NB.UserID
	WHERE U.DeviceKey <> ''

	SELECT UserID, U.DeviceKey, a.NotificationText, a.NotificationID, ISNULL(NotificationCount,0) AS NotificationCount	, DeviceType
	 FROM [dbo].[NotificationUsers] NB (NOLOCK)
	INNER JOIN @NotificationDetails a ON a.NotificationID = NB.NotificationID
	INNER JOIN Users U (NOLOCK) ON U.ID = NB.UserID AND U.Status = 1


END

GO
