USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessCurrentDayScheduleUpdateCronJob]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessCurrentDayScheduleUpdateCronJob] 
AS    
BEGIN    
 SET NOCOUNT ON;    
     
    DECLARE @BusinessID BIGINT		
	DECLARE @NoOfItems INT
	DECLARE @OriginalPrice DECIMAL(18,2)
	DECLARE @DiscountValue	DECIMAL(18,2)
	DECLARE @PickupFromTime DATETIME
	DECLARE @PickupToTime DATETIME
	DECLARE @CurrentDay INT = 0

	IF (DATEPART(weekday,dbo.Fun_australiaDateTime()) - 1) = 0
		SET @CurrentDay = 7
	ELSE 
		SET @CurrentDay =  DATEPART(weekday,dbo.Fun_australiaDateTime()) - 1	


	DECLARE @curGetBusinessSchedule CURSOR
	SET @curGetBusinessSchedule = CURSOR FOR	
	
		SELECT BusinessID, NoOfItems, OriginalPrice, DiscountValue, PickupFromTime, PickupToTime FROM BusinessSchedule(NOLOCK)
		INNER JOIN Business(NOLOCK) ON Business.ID = BusinessSchedule.BusinessID
		WHERE DayNo = @CurrentDay
		
	OPEN @curGetBusinessSchedule
	FETCH NEXT
	FROM @curGetBusinessSchedule INTO @BusinessID, @NoOfItems, @OriginalPrice, @DiscountValue, @PickupFromTime, @PickupToTime 
	WHILE @@FETCH_STATUS = 0
	BEGIN
	
		EXEC [dbo].[BusinessCurrentDayScheduleUpdate_CronJob] @BusinessID, @NoOfItems, @OriginalPrice, @DiscountValue, @PickupFromTime, @PickupToTime
		
	FETCH NEXT
	FROM @curGetBusinessSchedule INTO @BusinessID, @NoOfItems, @OriginalPrice, @DiscountValue, @PickupFromTime, @PickupToTime
	END
	CLOSE @curGetBusinessSchedule
	DEALLOCATE @curGetBusinessSchedule
    
END


GO
