USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserCreditCardAdd]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserCreditCardAdd]
@UserID BIGINT = 0,
@CustomerID VARCHAR(1000)='',
@LastDigits	VARCHAR(10)='',
@CardType VARCHAR(100)='',
@ReturnVal int output
AS
BEGIN	
	SET NOCOUNT ON;
	SET @ReturnVal = 0
	IF NOT EXISTS(SELECT 1 FROM UserCreditCards WHERE UserID = @UserID AND LastDigits = @LastDigits)
	BEGIN		
		INSERT INTO UserCreditCards
                 (UserID, CustomerID, LastDigits, CardType)
		VALUES   (@UserID,@CustomerID,@LastDigits,@CardType)
		SET @ReturnVal = 1

	END		
END

GO
