USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[FAQListAtFront]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FAQListAtFront]  
as  
begin  
 set nocount on  
 --select top 2 * from News where Status = 1  order by [Date] DESC  
    
 select * from faq 
 where   Status = 1  order by SequenceNo
end
GO
