USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[User_LoginCheck]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[User_LoginCheck]
 @UserName varchar(50)='',              
 @Password varchar(100)='', 
 @FacebookID  varchar(1000)='', 
 @DeviceKey  varchar(MAX)='',
 @DeviceType	varchar(2)='A',
 @IsError smallint=0 output              
AS
BEGIN
               
	SET NOCOUNT ON;
	DECLARE @AuthToken varchar(500) SET @AuthToken = ''
	SET @IsError=1     
 
 IF @FacebookID <> ''
 BEGIN
	 IF EXISTS(SELECT 1 FROM dbo.Users(NOLOCK) WHERE FacebookID = @FacebookID and [Status]=1)               
	 BEGIN	 
			SET @IsError=0	
			SELECT @AuthToken = LOWER(NEWID())
			UPDATE Users SET AuthTOken =  @AuthToken WHERE  FacebookID = @FacebookID and [Status] = 1

			--UPDATE Users set DeviceKey='',DeviceType ='' where DeviceKey=@DeviceKey

			UPDATE Users set DeviceKey=@DeviceKey, DeviceType=@DeviceType WHERE FacebookID = @FacebookID  


			SELECT top 1 * FROM dbo.Users(NOLOCK) WHERE FacebookID = @FacebookID
	 END
	 ELSE
	 BEGIN
		SET @IsError=4       
		SELECT 1
	 END
 END
 ELSE
 BEGIN	
	          
	 IF EXISTS(SELECT 1 FROM dbo.Users(NOLOCK) WHERE Email=@UserName and Password =@Password and Status=1)               
	 BEGIN                
			SET @IsError=0           
			SELECT @AuthToken = LOWER(NEWID())
			UPDATE Users SET AuthTOken =  @AuthToken WHERE  Email = @UserName and Password = @Password   
			--UPDATE Users set DeviceKey='' where DeviceKey=@DeviceKey
			UPDATE Users set DeviceKey=@DeviceKey, DeviceType=@DeviceType WHERE  Email = @UserName and Password = @Password  

			SELECT TOP 1 * FROM dbo.Users(NOLOCK) WHERE Email = @UserName and Password = @Password  
	 END                              
	 ELSE IF EXISTS (SELECT 1 FROM dbo.Users(NOLOCK) WHERE Email=@UserName and Password =@Password and Status=0)               
	 BEGIN              
		SET @IsError=2              
		SELECT 1            
	 END              
	 ELSE            
	 BEGIN            
		SET @IsError=1              
		SELECT 1            
	 END            
	        
	 IF(@Password = '')      
	 BEGIN      
	 IF EXISTS (SELECT 1 FROM dbo.Users(NOLOCK) WHERE Email=@UserName and Status=0)               
	 BEGIN      
	  SET @IsError=3         
	 END      
	 ELSE IF EXISTS (SELECT 1 FROM dbo.Users(NOLOCK) WHERE Email=@UserName and Status=1)               
	 BEGIN      
	  SET @IsError=0      
	 END      
	 ELSE      
	  SET @IsError=1      
	 END      
END
            
END

GO
