USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[SetIPAddress]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetIPAddress]  
 @IPAddress varchar(100)='',  
 @UserID int   
as  
BEGIN  
 SET NOCOUNT ON   
 UPDATE dbo.ADMIN SET IpAddress = @IPAddress, AccessDate = GETUTCDATE() where ID = @UserID 
 
 Insert into dbo.AdminLoginHistory values(@UserID,@IPAddress,GETUTCDATE())
 
end


GO
