USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBusinessProfilePhoto]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UpdateBusinessProfilePhoto]    
 @ID BIGINT,   
 @ProfilePhotoID int = 0, 
 @ReturnVal BIGINT OUTPUT    
as    
BEGIN    
 SET NOCOUNT ON;
	EXEC [dbo].[BusinessUpdateLastLogin] @ID
	IF @ProfilePhotoID > 0
	BEGIN
		
		Declare @OldProfilePhotoID int SELECT @OldProfilePhotoID = 0
		SELECT @OldProfilePhotoID = ProfilePhotoID FROM dbo.Business(NOLOCK) where ID = @ID

		UPDATE dbo.Business 
			SET ProfilePhotoID	=	@ProfilePhotoID
		WHERE ID=@ID  


		UPDATE ProfilePhoto SET IsUSed = 0 WHERE ID = @OldProfilePhotoID
		UPDATE ProfilePhoto SET IsUSed = 1 WHERE ID = @ProfilePhotoID
	END
	SET @ReturnVal = 1
	
     
END


GO
