USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateNoticationsCountForUsersWithDeviceKeyXML]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UpdateNoticationsCountForUsersWithDeviceKeyXML] 
@Users	VARCHAR(MAX) = '',
@Business VARCHAR(MAX) = '',
@BusinessXML XML = NULL,
@UserXML XML = NULL
AS 
BEGIN
SET NOCOUNT ON; 

	IF @Users <> ''
	BEGIN
		UPDATE Users SET NotificationCount = ISNULL(NotificationCount,0) + 1 
			WHERE ID IN(SELECT items FROM dbo.Fun_SplitStr(@Users, '###'))
	END

	IF @Business <> ''
	BEGIN
		UPDATE BusinessAuthToken SET NotificationCount = ISNULL(NotificationCount,0) + 1 
			WHERE BusinessID IN(SELECT items FROM dbo.Fun_SplitStr(@Business, '###'))
	END


	IF OBJECT_ID('tempdb..#BusinessNotificationXML') IS NOT NULL
	BEGIN
		DROP TABLE #BusinessNotificationXML
	END

	CREATE TABLE #BusinessNotificationXML
	(		
		NotificationID	BIGINT	
		,UserID	BIGINT			
		,DeviceKey	VARCHAR(1000)
	)	

	IF OBJECT_ID('tempdb..#UserNotificationXML') IS NOT NULL
	BEGIN
		DROP TABLE #UserNotificationXML
	END

	CREATE TABLE #UserNotificationXML
	(		
		NotificationID	BIGINT	
		,UserID	BIGINT			
		,DeviceKey	VARCHAR(1000)
	)	

	
	-------------------------------USER UPDATE------------------------------------------------------------------------

	IF (@UserXML IS NOT NULL)
	BEGIN 
		INSERT INTO #UserNotificationXML
		(
			NotificationID	
			,UserID
			,DeviceKey
		)
		SELECT 			
			OFG.value('@ID[1]', 'BIGINT') AS NotificationID
			,OFG.value('@UserID[1]', 'BIGINT') AS UserID
			,OFG.value('@DeviceKey[1]', 'VARCHAR(1000)') AS DeviceKey			
		FROM @UserXML.nodes('/Notifications/Notification') O(OFG)


		DECLARE @UID BIGINT SET @UID = 0
		DECLARE @UNID BIGINT SET @UNID = 0
		DECLARE @UDeviceKEY VARCHAR(MAX) SET @UDeviceKEY = ''


		DECLARE curUsers CURSOR FOR 
			SELECT UserID, DeviceKey, NotificationID FROM #UserNotificationXML
		OPEN curUsers  
		FETCH NEXT FROM curUsers INTO @UID, @UDeviceKEY, @UNID  

		WHILE @@FETCH_STATUS = 0  
		BEGIN  			

			UPDATE [dbo].[NotificationUsers] SET DeviceKey = @UDeviceKEY, IsSend = 1
			WHERE NotificationID = @UNID
				AND UserID =  @UID
			
			FETCH NEXT FROM curUsers INTO  @UID, @UDeviceKEY, @UNID
		END 

		CLOSE curUsers  
		DEALLOCATE curUsers 
	END
	-------------------------------------------------------------------------------------------------------


	--------------------------------BUSINESS UPDATE -----------------------------------------------------------------------


	IF (@BusinessXML IS NOT NULL)
	BEGIN 
		INSERT INTO #BusinessNotificationXML
		(
			NotificationID	
			,UserID
			,DeviceKey
		)
		SELECT 			
			OFG.value('@ID[1]', 'BIGINT') AS NotificationID
			,OFG.value('@UserID[1]', 'BIGINT') AS UserID
			,OFG.value('@DeviceKey[1]', 'VARCHAR(1000)') AS DeviceKey			
		FROM @BusinessXML.nodes('/Notifications/Notification') O(OFG)
	


		DECLARE @BID BIGINT SET @BID = 0
		DECLARE @BNID BIGINT SET @BNID = 0
		DECLARE @BDeviceKEY VARCHAR(MAX) SET @BDeviceKEY = ''


		DECLARE curBusiness CURSOR FOR 
			SELECT UserID, DeviceKey, NotificationID FROM #BusinessNotificationXML
		OPEN curBusiness  
		FETCH NEXT FROM curBusiness INTO @BID, @BDeviceKEY, @BNID  

		WHILE @@FETCH_STATUS = 0  
		BEGIN  
			
				INSERT INTO NotificationBusinessAuthTokenLog(NotificationID,UserID,DeviceKey)
				VALUES(@BNID, @BID, @BDeviceKEY)

			  FETCH NEXT FROM curBusiness INTO  @BID, @BDeviceKEY, @BNID 
		END 

		CLOSE curBusiness  
		DEALLOCATE curBusiness 
	END
	-------------------------------------------------------------------------------------------------------

	IF OBJECT_ID('tempdb..#BusinessNotificationXML') IS NOT NULL
	BEGIN
		DROP TABLE #BusinessNotificationXML
	END

	IF OBJECT_ID('tempdb..#UserNotificationXML') IS NOT NULL
	BEGIN
		DROP TABLE #UserNotificationXML
	END

END

GO
