USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[MenuDropdown]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[MenuDropdown]--'add3',17
@mode varchar(100) = 'add',
@ID int = 0
as
begin	
	set nocount on;
	create table #Tree (id int, sequence varchar(1000), levelSeqNo int)
	if @mode = 'add'
		insert #Tree select id, right(space(10) + convert(varchar(10),SequenceNo),10), 1 from Menu where ParentID = 0 order by SequenceNo
	else
		insert #Tree select id, right(space(10) + convert(varchar(10),SequenceNo),10), 1 from Menu where ParentID = 0 and ID <> @ID order by SequenceNo
	declare @i int
	select @i = 0
	while @@rowcount > 0
	begin
		select @i = @i + 1
		if @mode = 'add'
		begin
			insert #Tree
			select Menu.id, sequence + right(space(10) + convert(varchar(10),Menu.LevelNo),10) + right(space(10) + convert(varchar(10),Menu.id),10) , @i + 1
			from Menu, #Tree where #Tree.levelSeqNo = @i and Menu.ParentID = #Tree.id
		end
		else
		begin
			insert #Tree
			select Menu.id, sequence + right(space(10) + convert(varchar(10),Menu.LevelNo),10) + right(space(10) + convert(varchar(10),Menu.id),10) , @i + 1
			from Menu, #Tree where #Tree.levelSeqNo = @i and Menu.ParentID = #Tree.id and Menu.ID <> @ID
		end


	end	

	select space((levelSeqNo-1)*4) + Menu.name as MenuName,Menu.id ,sequence,levelSeqNo, LevelNo,ParentID, HasChild,CMSID, URLString, LinkType,TreeList,TreeLevelNo, StaticURL, ExternalLinkURL from #Tree, Menu, MenuTree where #Tree.id = Menu.id and #Tree.id = MenuTree.MenuID  order by sequence, LevelNo

	
End


GO
