USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessProductList_bk4]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[BusinessProductList_bk4]--0, '','','','',0,1,100,1,'-37.69978539','144.91406726'
@UserID	BIGINT = 0,
@CategoryIDs varchar(500)='',
@Search1 varchar(max)='',
@Search2 varchar(max)='',
@Search3 varchar(max)='',
@Postcode int=0,
@CurrentPage int=3 output,
@RecordPerPage int=100,
@TotalRecord int=0 output,
@Lat1 varchar(500)='',
@Lon1 varchar(500)=''
AS
begin
	SET NOCOUNT ON;
	SET @Search1 = dbo.ReplaceSingleQuote(@Search1)
	SET @Search2 = dbo.ReplaceSingleQuote(@Search2)
	SET @Search3 = dbo.ReplaceSingleQuote(@Search3)	
	
	DECLARE @Range int set @Range = 0
	SELECT @Range = Value  from GeneralSetting where keyword = 'externallink'
	
	DECLARE  @CurrentDateTime DATETIME = dbo.Fun_australiaDateTime()
	
	DECLARE @PickupTimeCondition VARCHAR(1000) = ''
	--IF @RecordPerPage < 10000
	--	SET @PickupTimeCondition = 'AND ( CAST(''' + CONVERT(VARCHAR(100), @CurrentDateTime, 113) + ''' AS TIME) >= CAST(BS.PickupFromTime AS TIME) AND  CAST(''' + CONVERT(VARCHAR(100), @CurrentDateTime, 113) + ''' AS TIME) <= CAST(BS.PickupToTime AS TIME))'
		



	--if @Postcode = 0 
	--begin
	--	select @Postcode = Postcode from dbo.ausSuburbDatabase(nolock) where Suburb=@Search1
	--end
	--if @Postcode = 0 
	--begin
	--	select @Postcode = Postcode from dbo.ausSuburbDatabase(nolock) where Suburb=@Search2
	--end
	--if @Postcode = 0 
	--begin
	--	select @Postcode = Postcode from dbo.ausSuburbDatabase(nolock) where Suburb=@Search3
	--end
	declare @TempCond nvarchar(max)
	declare @Query nvarchar(max)
	declare @Condition varchar(8000)
	set @Condition=''
	set @Search1 = [dbo].[RemoveSpecialCharacter](@Search1)
	set @Search2 = [dbo].[RemoveSpecialCharacter](@Search2)
	set @Search3 = [dbo].[RemoveSpecialCharacter](@Search3)	


		--StreetAddress, Location


	if len(@Search1)<>0		
		set @Condition= @Condition +' and (StreetAddress like ''%' + @Search1 + '%'' or Location like ''%' + @Search1 + '%'' or Name like ''%' + @Search1 + '%'')'
	if len(@Search2)<>0
		set @Condition= @Condition +' and (StreetAddress like ''%' + @Search2 + '%'' or Location like ''%' + @Search2 + '%'' or Name like ''%' + @Search1 + '%'')'
	if len(@Search3)<>0
		set @Condition= @Condition +' and (StreetAddress like ''%' + @Search3 + '%'' or Location like ''%' + @Search3 + '%'' or Name like ''%' + @Search1 + '%'')'
	
	if @Range>0 
		set @Condition= @Condition +' and (GeoDistance <= '+ cast (@Range as VARCHAr(100))+' )'
	--GeoDistance
		
	--Declare @PostCodeAllList varchar(max) set @PostCodeAllList = ''
	--if @Postcode > 0
	--begin
	--		set @Condition = ''
	--		select @PostCodeAllList = @PostCodeAllList + cast(postcode as varchar(max))+ ',' from dbo.getPostcodedistanceList(@PostCode,@Range)
	--		if LEN(@PostCodeAllList)>0
	--			set @PostCodeAllList = SUBSTRING(@PostCodeAllList,0,LEN(@PostCodeAllList))
		
	--	if @PostCodeAllList<>''								
	--		set @Condition=@Condition + ' and Postcode in(select distinct items from dbo.Fun_SplitStr('''+@PostCodeAllList+''','',''))'  
	--end			
	
	
	IF @CategoryIDs <> ''
	BEGIN
			set @TempCond= 'select @TotalRecord=count(1) FROM 
			(
				SELECT * FROM (
				SELECT  dbo.Fun_BusinessFoodItemsNames(B.ID) AS FoodItems, B.ID, B.Name, B.FullName, B.EmailAddress, B.Latitude,B.Longitude,
				ISNULL(BS.NoOfItems, 0) AS TotalQty, ISNULL(V.PurchaseQty, 0) AS PurchaseQty, (ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0)) AS RemainingQty,
				BS.OriginalPrice, 
				CASE ISNULL(DiscountValue,0) 
					WHEN 0 THEN 0
					--ELSE (BS.OriginalPrice - (BS.OriginalPrice * ISNULL(D.Discount,0))/100 ) 
					ELSE (BS.OriginalPrice - ISNULL(DiscountValue,0))
				END	AS DiscountPrice,
				BS.PickupFromTime,BS.PickupToTime, P.ImageName, StreetAddress, Location, BusinessPhone, Mobile,
				CASE WHEN ''' + cast(@Lat1 as varchar) + ''' <> '''' AND ''' + cast(@Lon1 as varchar) + ''' <> ''''  AND B.Latitude <> '''' AND B.Longitude <> ''''
					THEN 
						Cast(geography::Point(''' + cast(@Lat1 as varchar) + ''',''' + cast(@Lon1 as varchar) + ''', 4326).STDistance(geography::Point(B.Latitude, B.Longitude, 4326))/1000 As int)
					ELSE
						0
				END AS GeoDistance
				FROM  Business(NOLOCK) AS B 
				INNER JOIN BusinessScheduleCurrentDay(NOLOCK) AS BS ON BS.BusinessID = B.ID AND CAST(BS.CurrentDate AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
				'+ @PickupTimeCondition +'
				INNER JOIN ProfilePhoto(NOLOCK)  AS P ON P.ID = B.ProfilePhotoID 
				LEFT OUTER JOIN VW_BusinessCurrentDayPurchaseQty AS V ON V.BusinessID = B.ID
				--LEFT JOIN Discount(NOLOCK) D ON D.ID = BS.DiscountID
				INNER JOIN BusinessCategory(NOLOCK) BC ON BC.BusinessID = B.ID
				WHERE (B.Status = 1) AND (B.IsSalesAdmin = 0) 

				AND CategoryID IN (SELECT items FROM dbo.Fun_SplitStr('''+ @CategoryIDs +''','',''))
				)a1		
				GROUP BY FoodItems,ID,Name,FullName,EmailAddress,Latitude,Longitude,TotalQty,PurchaseQty,RemainingQty,OriginalPrice,DiscountPrice,PickupFromTime,PickupToTime,ImageName,StreetAddress,Location,BusinessPhone,Mobile,GeoDistance

			)t1 WHERE 1=1 ' + @Condition	
	
	END
	ELSE
	BEGIN
			set @TempCond= 'select @TotalRecord=count(1) FROM 
			(
				SELECT * FROM(
				SELECT  dbo.Fun_BusinessFoodItemsNames(B.ID) AS FoodItems,B.ID, B.Name, B.FullName, B.EmailAddress, B.Latitude,B.Longitude,
				ISNULL(BS.NoOfItems, 0) AS TotalQty, ISNULL(V.PurchaseQty, 0) AS PurchaseQty, (ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0)) AS RemainingQty,
				BS.OriginalPrice, 
				CASE ISNULL(DiscountValue,0) 
					WHEN 0 THEN 0
					--ELSE (BS.OriginalPrice - (BS.OriginalPrice * ISNULL(D.Discount,0))/100 ) 
					ELSE (BS.OriginalPrice - ISNULL(DiscountValue,0)) 
				END	AS DiscountPrice,
				BS.PickupFromTime,BS.PickupToTime, P.ImageName, StreetAddress, Location, BusinessPhone, Mobile
				,CASE WHEN ''' + cast(@Lat1 as varchar) + ''' <> '''' AND ''' + cast(@Lon1 as varchar) + ''' <> ''''  AND B.Latitude <> '''' AND B.Longitude <> ''''
					THEN 
						Cast(geography::Point(''' + cast(@Lat1 as varchar) + ''',''' + cast(@Lon1 as varchar) + ''', 4326).STDistance(geography::Point(B.Latitude, B.Longitude, 4326))/1000 As int)
					ELSE
						0
				END AS GeoDistance
				FROM  Business(NOLOCK) AS B 
				INNER JOIN BusinessScheduleCurrentDay(NOLOCK) AS BS ON BS.BusinessID = B.ID AND CAST(BS.CurrentDate AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
				'+ @PickupTimeCondition +'
				INNER JOIN ProfilePhoto(NOLOCK)  AS P ON P.ID = B.ProfilePhotoID 
				LEFT OUTER JOIN VW_BusinessCurrentDayPurchaseQty AS V ON V.BusinessID = B.ID
				--LEFT JOIN Discount(NOLOCK) D ON D.ID = BS.DiscountID				
				WHERE (B.Status = 1) AND (B.IsSalesAdmin = 0) 
				)a1		
				GROUP BY FoodItems,ID,Name,FullName,EmailAddress,Latitude,Longitude,TotalQty,PurchaseQty,RemainingQty,OriginalPrice,DiscountPrice,PickupFromTime,PickupToTime,ImageName,StreetAddress,Location,BusinessPhone,Mobile,GeoDistance

			)t1 WHERE 1=1 ' + @Condition	
	
	END
		print @TempCond
	EXEC sp_executesql @TempCond,N'@TotalRecord int output',@TotalRecord output

	print @TotalRecord
	DECLARE @TotalPage int
	SET @TotalPage = ceiling(@TotalRecord/(@RecordPerPage * 1.0))

	IF (@TotalPage<@CurrentPage)
		SET @CurrentPage=@TotalPage

	DECLARE @Start INT
	DECLARE @End INT
	SET @Start = ((@CurrentPage - 1) * @RecordPerPage) +1
	SET @End = @CurrentPage * @RecordPerPage
	
	IF @CategoryIDs <> ''
	BEGIN
		SET @Query='select * from ( select row_number() over (order by GeoDistance ASC, Name asc) as RowNumber,* from (
			SELECT * FROM(
				SELECT 				                    
				dbo.Fun_BusinessFoodItemsNames(B.ID) AS FoodItems,B.ID, B.Name, B.FullName, B.EmailAddress, B.Latitude,B.Longitude,
				ISNULL(BS.NoOfItems, 0) AS TotalQty, ISNULL(V.PurchaseQty, 0) AS PurchaseQty,
				CASE WHEN 
						--CAST(''' + CONVERT(VARCHAR(100), @CurrentDateTime, 113) + ''' AS TIME) >= CAST(BS.PickupFromTime AS TIME) AND  CAST(''' + CONVERT(VARCHAR(100), @CurrentDateTime, 113) + ''' AS TIME) <= CAST(BS.PickupToTime AS TIME)
						 (CAST(''' + CONVERT(VARCHAR(100), @CurrentDateTime, 113) + ''' AS TIME) <= CAST(BS.PickupToTime AS TIME) AND (ISNULL(DiscountValue,0)>0))
					 THEN (ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0))
					 ELSE 0
				END AS RemainingQty,
				--, (ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0)) AS RemainingQty,
				BS.OriginalPrice, 
				CASE ISNULL(DiscountValue,0) 
					WHEN 0 THEN 0
					--ELSE (BS.OriginalPrice - (BS.OriginalPrice * ISNULL(D.Discount,0))/100 ) 
					ELSE (BS.OriginalPrice - (ISNULL(DiscountValue,0))) 
				END	AS DiscountPrice,
				BS.PickupFromTime,BS.PickupToTime, P.ImageName, StreetAddress, Location, BusinessPhone, Mobile,
				--[dbo].[Fun_GetGeoDistance](''' + cast(@Lat1 as varchar) + ''',''' + cast(@Lon1 as varchar) + ''',B.Latitude, B.Longitude) AS GeoDistance
				CASE WHEN ''' + cast(@Lat1 as varchar) + ''' <> '''' AND ''' + cast(@Lon1 as varchar) + ''' <> ''''  AND B.Latitude <> '''' AND B.Longitude <> ''''
					THEN 
						Cast(geography::Point(''' + cast(@Lat1 as varchar) + ''',''' + cast(@Lon1 as varchar) + ''', 4326).STDistance(geography::Point(B.Latitude, B.Longitude, 4326))/1000 As int)
					ELSE
						0
				END AS GeoDistance
				,CASE WHEN  ISNULL(UserFavouriteBusiness.ID,0)> 0 THEN 1 ELSE 0 END AS ISFavourite
				FROM  Business(NOLOCK) AS B 
				INNER JOIN BusinessScheduleCurrentDay(NOLOCK) AS BS ON BS.BusinessID = B.ID AND CAST(BS.CurrentDate AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
				'+ @PickupTimeCondition +'
				INNER JOIN ProfilePhoto(NOLOCK)  AS P ON P.ID = B.ProfilePhotoID 
				LEFT OUTER JOIN VW_BusinessCurrentDayPurchaseQty AS V ON V.BusinessID = B.ID
				--LEFT JOIN Discount(NOLOCK) D ON D.ID = BS.DiscountID	
				INNER JOIN BusinessCategory(NOLOCK) BC ON BC.BusinessID = B.ID			
				LEFT JOIN UserFavouriteBusiness(NOLOCK) ON UserFavouriteBusiness.BusinessID = B.ID AND UserFavouriteBusiness.UserID = ' + cast(@UserID as varchar) + '
				WHERE (B.Status = 1) AND (B.IsSalesAdmin = 0) 				
				AND CategoryID IN (SELECT items FROM dbo.Fun_SplitStr('''+ @CategoryIDs +''','',''))
				)a1		
				GROUP BY FoodItems,ID,Name,FullName,EmailAddress,Latitude,Longitude,TotalQty,PurchaseQty,RemainingQty,OriginalPrice,DiscountPrice,PickupFromTime,PickupToTime,ImageName,StreetAddress,Location,BusinessPhone,Mobile,GeoDistance,ISFavourite		
				
				)t2 WHERE 1=1 ' + @Condition + ')t1 where t1.RowNumber between ' + cast(@Start as varchar) + ' and ' + cast(@End as varchar)		
	END
	ELSE
	BEGIN
		SET @Query='select * from ( select row_number() over (order by GeoDistance ASC ,Name asc) as RowNumber, * from (
			SELECT * FROM(
				SELECT 			                    
				dbo.Fun_BusinessFoodItemsNames(B.ID) AS FoodItems, B.ID, B.Name, B.FullName, B.EmailAddress, B.Latitude,B.Longitude, 
				ISNULL(BS.NoOfItems, 0) AS TotalQty, ISNULL(V.PurchaseQty, 0) AS PurchaseQty,
				CASE WHEN 
						--CAST(''' + CONVERT(VARCHAR(100), @CurrentDateTime, 113) + ''' AS TIME) >= CAST(BS.PickupFromTime AS TIME) AND  CAST(''' + CONVERT(VARCHAR(100), @CurrentDateTime, 113) + ''' AS TIME) <= CAST(BS.PickupToTime AS TIME)
						 (CAST(''' + CONVERT(VARCHAR(100), @CurrentDateTime, 113) + ''' AS TIME) <= CAST(BS.PickupToTime AS TIME) AND (ISNULL(DiscountValue,0)>0))
					 THEN (ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0))
					 ELSE 0
				END AS RemainingQty,
				--, (ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0)) AS RemainingQty,
				BS.OriginalPrice, 
				CASE ISNULL(DiscountValue,0) 
					WHEN 0 THEN 0
					--ELSE (BS.OriginalPrice - (BS.OriginalPrice * ISNULL(D.Discount,0))/100 ) 
					ELSE (BS.OriginalPrice - (ISNULL(DiscountValue,0))) 
				END	AS DiscountPrice,
				BS.PickupFromTime,BS.PickupToTime, P.ImageName, StreetAddress, Location, BusinessPhone, Mobile,
				--[dbo].[Fun_GetGeoDistance](''' + cast(@Lat1 as varchar) + ''',''' + cast(@Lon1 as varchar) + ''',B.Latitude, B.Longitude) AS GeoDistance
				CASE WHEN ''' + cast(@Lat1 as varchar) + ''' <> '''' AND ''' + cast(@Lon1 as varchar) + ''' <> ''''  AND B.Latitude <> '''' AND B.Longitude <> ''''
					THEN 
						Cast(geography::Point(''' + cast(@Lat1 as varchar) + ''',''' + cast(@Lon1 as varchar) + ''', 4326).STDistance(geography::Point(B.Latitude, B.Longitude, 4326))/1000 As int)
					ELSE
						0
				END AS GeoDistance
				,CASE WHEN  ISNULL(UserFavouriteBusiness.ID,0)> 0 THEN 1 ELSE 0 END AS ISFavourite
				FROM  Business(NOLOCK) AS B 
				INNER JOIN BusinessScheduleCurrentDay(NOLOCK) AS BS ON BS.BusinessID = B.ID AND CAST(BS.CurrentDate AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
				'+ @PickupTimeCondition +'
				INNER JOIN ProfilePhoto(NOLOCK)  AS P ON P.ID = B.ProfilePhotoID 
				LEFT OUTER JOIN VW_BusinessCurrentDayPurchaseQty AS V ON V.BusinessID = B.ID
				--LEFT JOIN Discount(NOLOCK) D ON D.ID = BS.DiscountID		
				LEFT JOIN UserFavouriteBusiness(NOLOCK) ON UserFavouriteBusiness.BusinessID = B.ID AND UserFavouriteBusiness.UserID = ' + cast(@UserID as varchar) + '
				WHERE (B.Status = 1) AND (B.IsSalesAdmin = 0) 				
				)a1		
				GROUP BY FoodItems,ID,Name,FullName,EmailAddress,Latitude,Longitude,TotalQty,PurchaseQty,RemainingQty,OriginalPrice,DiscountPrice,PickupFromTime,PickupToTime,ImageName,StreetAddress,Location,BusinessPhone,Mobile,GeoDistance,ISFavourite		
				
				)t2 WHERE 1=1 ' + @Condition + ')t1 where t1.RowNumber between ' + cast(@Start as varchar) + ' and ' + cast(@End as varchar)		
	END
	print @Query
	EXEC sp_executesql @Query
END

GO
