USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[GetOrderNotificationList]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetOrderNotificationList] 
AS 
BEGIN
SET NOCOUNT ON; 

-------------------- ORDER Notification -----------------------------
	DECLARE @CurrentTime TIME
	SELECT @CurrentTime = CAST(CAST([dbo].[Fun_australiaDateTime]() AS TIME) AS VARCHAR(5))


	
	
	SELECT BusinessOrderProduct.ID AS OrderID,BusinessOrder.UserID, BusinessOrder.CreatedOn, 
		   BusinessOrderProduct.BusinessID, BusinessOrderProduct.PickupFromTime, BusinessOrderProduct.PickupToTime
			,BusinessOrderProduct.IsNotificationSent, Users.Name, Users.DeviceKey, Users.DeviceType, ISNULL(NotificationCount,0) AS NotificationCount			
	FROM   BusinessOrder(NOLOCK)
	INNER JOIN BusinessOrderProduct(NOLOCK) ON BusinessOrder.ID = BusinessOrderProduct.OrderID
	INNER JOIN Users(NOLOCK) ON Users.ID = BusinessOrder.UserID
	WHERE CAST(BusinessOrder.CreatedOn AS DATE) = CAST([dbo].[Fun_australiaDateTime]() AS DATE)
		AND CAST(@CurrentTime AS TIME) >= CAST(BusinessOrderProduct.PickupFromTime AS TIME) 
		AND CAST(@CurrentTime AS TIME) <= CAST(BusinessOrderProduct.PickupToTime AS TIME) 
		AND BusinessOrderProduct.IsNotificationSent = 0

-------------------- ORDER Notification -----------------------------


	-------------------- Notification Module-----------------------------

	DECLARE @NotificationTime DATETIME
	--SELECT @NotificationTime = CONVERT(VARCHAR(10),  CAST(CAST([dbo].[Fun_australiaDateTime]() AS TIME) AS VARCHAR(5)),101) + ' ' + CONVERT(VARCHAR(5), CAST(CAST([dbo].[Fun_australiaDateTime]() AS TIME) AS VARCHAR(5)),108)
	
	SELECT @NotificationTime = CONVERT(VARCHAR(10),[dbo].[Fun_australiaDateTime](),101) + ' ' + CONVERT(VARCHAR(5), [dbo].[Fun_australiaDateTime](),108)
	DECLARE @NotificationDetails TABLE
	(
		NotificationID		BIGINT,
		NotificationText	VARCHAR(MAX)
	)

	INSERT INTO @NotificationDetails
	(
		NotificationID
		,NotificationText
	)
	SELECT ID, [Message] 
	FROM [dbo].[Notifications](NOLOCK)
	WHERE ScheduleTime = @NotificationTime
		AND IsSend =0 
		AND IsSchedule = 1


	SELECT * FROM @NotificationDetails


	SELECT UserID, U.DeviceKey, a.NotificationText, a.NotificationID, ISNULL(NotificationCount,0) AS NotificationCount , DeviceType
	FROM [dbo].[NotificationBusiness] NB (NOLOCK)
	INNER JOIN @NotificationDetails a ON a.NotificationID = NB.NotificationID
	INNER JOIN BusinessAuthToken U (NOLOCK) ON U.BusinessID = NB.UserID
	WHERE U.DeviceKey <> ''

	SELECT UserID, U.DeviceKey, a.NotificationText, a.NotificationID, ISNULL(NotificationCount,0) AS NotificationCount	, DeviceType
	FROM [dbo].[NotificationSalesAdmin] NB (NOLOCK)
	INNER JOIN @NotificationDetails a ON a.NotificationID = NB.NotificationID
	INNER JOIN BusinessAuthToken U (NOLOCK) ON U.BusinessID = NB.UserID
	WHERE U.DeviceKey <> ''

	SELECT UserID, U.DeviceKey, a.NotificationText, a.NotificationID, ISNULL(NotificationCount,0) AS NotificationCount	, DeviceType
	 FROM [dbo].[NotificationUsers] NB (NOLOCK)
	INNER JOIN @NotificationDetails a ON a.NotificationID = NB.NotificationID
	INNER JOIN Users U (NOLOCK) ON U.ID = NB.UserID AND U.Status = 1

	-------------------- Notification Module-----------------------------

END
GO
