USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[FoodItemsModify]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FoodItemsModify]  
 @ID int=0,  
 @Name varchar(200)='',   
 @ReturnVal int=0 output  
as  
begin  
 set nocount on  
 set @ReturnVal = 0  

 IF @ID = 0  
 Begin  
  if not exists(select 1 from dbo.FoodItems(NOLOCK) where Name =@Name)  
  Begin  
	   Insert into dbo.FoodItems(Name,CreatedOn)  
	   values(@Name, getdate())  
	   set @ReturnVal=scope_Identity()  
  End  
  else  
   set @ReturnVal= -1  
 End  
 Else  
 Begin  
  if not exists(select 1 from dbo.FoodItems(NOLOCK) where Name =@Name and ID <> @ID)  
  Begin  
   Update dbo.FoodItems set  
    Name =@Name,      
    CreatedOn = getdate()
    where ID =@ID  
   set @ReturnVal =@ID  
  End  
  else  
   set @ReturnVal= -1  
 End  
   
End


GO
