USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserForgotPassword]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserForgotPassword]
 @EmailID varchar(500) 
AS    
BEGIN    
 SET NOCOUNT ON;
 
 UPDATE USERS SET Password = REPLACE( SUBSTRING(CONVERT(varchar(255), NEWID()), 0, 12),'-','')
 WHERE Email = @EmailID

 SELECT * FROM users(NOLOCK) where Email = @EmailID
        
END
GO
