USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[ContactUSByID]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ContactUSByID]
	@ID int=0
as
begin
	set nocount on	
		select ContactUS.*, ISNULL(Business.Name, '''') as [BusinessName] from dbo.ContactUS 
		 LEFT JOIN Business ON Business.ID = ContactUS.BusinessID
		where ContactUS.ID=@ID		
end

GO
