USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[NotificationByID]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NotificationByID]   
@ID BIGINT = 0
AS          
BEGIN          
	SET NOCOUNT ON;
	
	SELECT *
	,[dbo].[Fun_NotificationsVendors](@ID) AS Vendors
	,[dbo].[Fun_NotificationsUsers](@ID) AS Uses
	,[dbo].[Fun_NotificationsSalesAdmin](@ID) AS SalesAdmin
	
	 FROM Notifications WHERE ID = @ID
	
	
	
 
 
END


GO
