USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[ProfilePhotoModify]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProfilePhotoModify]  
 @ID int=0,  
 @Name varchar(200)='',  
 @ImageName varchar(100)='',    
 @ReturnVal int=0 output  
as  
begin  
 set nocount on  
 set @ReturnVal = 0  
 
 IF @ID = 0  
 Begin    
	   Insert into dbo.ProfilePhoto(Name,CreatedOn, ImageName)  
	   values(@Name,getdate(),@ImageName)  
	   set @ReturnVal=scope_Identity()    
 End  
 Else  
 Begin     
	   Update dbo.ProfilePhoto set  
		Name =@Name,  		
		ImageName=@ImageName,
		CreatedOn = getdate()
		where ID =@ID  
	   set @ReturnVal =@ID    
 End  
   
End


GO
