USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BannerList]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BannerList]
 @ID int = 0     
as    
begin    
 set nocount on    
    
 declare @Query as varchar(1000)    
 declare @RecQuery as nvarchar(2500)    
 set @Query = ''    
 set @RecQuery = ''    
    
 if @ID<>0    
  set @Query=@Query + ' and Banner.ID =' + cast(@ID as varchar)    
     
 declare @TotalRecord  int    
 set @TotalRecord = 0     
 set @RecQuery='select @TotalRecord=count(1) FROM Banner WHERE 1=1 ' + @Query       
     
 exec dbo.sp_ExecuteSql @RecQuery,N'@TotalRecord int output',@TotalRecord output     
     
     
 set @RecQuery='SELECT Banner.ID,Banner.BannerFile,Banner.LinkType, Banner.Details,MenuTree.URLString, Banner.Title,Banner.Title2, Banner.ExternalLink, 
 Banner.StaticURL, Banner.ExternalLinkURL, Banner.MenuID, Banner.Status, Banner.SequenceNo, '+ cast(@TotalRecord as varchar(100))+' as Count,
 ISNULL(Menu.MenuUrl,'''') as MenuUrl,Menu.StaticURL,Menu.CMSID
 FROM Banner LEFT JOIN Menu on Menu.ID = Banner.MenuID  
 Left join  MenuTree on MenuTree.MenuID=Menu.ID 
 WHERE 1=1 ' + @Query + ' order by SequenceNo'    
 print @RecQuery    
 exec dbo.sp_ExecuteSql @RecQuery    
end


GO
