USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[CMSGetData]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CMSGetData]
 @PageUrl varchar(4000)=''  
as  
Begin  
 set nocount on  
 If @PageUrl <> ''  
 Begin  
  --select * from dbo.CMS where status = 1 and PageUrl = @PageUrl   
  SELECT     CMS.PageTitle, CMS.PageUrl, CMS.PageDescription, CMS.CMSMetaTitle, CMS.CMSMetaKeyword, CMS.CMSMetaDescription, CMS.Status, CMS.CreatedOn,   
                      CMS.ImageName, CMS.HeadText, CMS.BodyFooterText, CMS.ID
FROM   CMS  where   CMS.PageUrl = @PageUrl and CMS.Status = 1  
 End  
End


GO
