USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessChangePassword]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessChangePassword]
@ID int =0,
@Password varchar(50)='',
@NewPassword varchar(50)='',
@ReturnVal int output
as
BEGIN
if Exists(select 1 from Business where ID=@ID and Password=@Password)
	begin
	update Business set Password=@NewPassword where ID=@ID
	set @ReturnVal=0
	end
else
	begin
	set @ReturnVal=-1 
	end
END

GO
