USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[NotificationsUsersVendors]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NotificationsUsersVendors] 
AS    
BEGIN
 SET NOCOUNT ON; 
	SELECT * FROM Users(NOLOCK) ORDER BY Name ASC
	SELECT * FROM Business(NOLOCK) WHERE IsSalesAdmin = 1 ORDER BY Name ASC
	SELECT * FROM Business(NOLOCK) WHERE IsSalesAdmin = 0 ORDER BY Name ASC
END

GO
