USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[NotificationModify]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[NotificationModify]   
@ID int = 0,
@Message VARCHAR(MAX) ='',
@Vendors VARCHAR(MAX) ='',
@Users VARCHAR(MAX) ='',
@SalesAdmin VARCHAR(MAX) ='',
@IsSchedule INT = 0,
@ScheduleTime DATETIME = NULL,
@ReturnVal BIGINT OUT

AS          
BEGIN          
	SET NOCOUNT ON;
	
    IF @ID = 0
    BEGIN
		INSERT INTO Notifications
				(Message, IsSchedule, ScheduleTime, IsSend, CreatedOn)
		VALUES  (@Message,@IsSchedule,@ScheduleTime,0,GETDATE())
		
		SET @ReturnVal=scope_identity()  
		
		
		-- Insert Users
	   IF LEN(@Users)>0
	   BEGIN
			INSERT INTO NotificationUsers(NotificationID,UserID)
			SELECT @ReturnVal,a.items from dbo.Fun_SplitStr(@Users,',') a
	   END
		
		
		-- Insert Vendors
	   IF LEN(@Vendors)>0
	   BEGIN
			INSERT INTO NotificationBusiness(NotificationID,UserID)
			SELECT @ReturnVal,a.items from dbo.Fun_SplitStr(@Vendors,',') a
	   END	
	   
	   	-- Insert Vendors
	   IF LEN(@SalesAdmin)>0
	   BEGIN
			INSERT INTO NotificationSalesAdmin(NotificationID,UserID)
			SELECT @ReturnVal,a.items from dbo.Fun_SplitStr(@SalesAdmin,',') a
	   END	 
	   
		
		
    END
    ELSE
    BEGIN
			UPDATE dbo.Notifications 
			SET 
				Message = @Message, 
				IsSchedule = @IsSchedule, 
				ScheduleTime = @ScheduleTime					
				
			WHERE ID=@ID    
			
			SET @ReturnVal=@ID  
			
			
			
			
			--------- UPDATE Business Category
			UPDATE NotificationUsers set [Status] = 0 where NotificationID = @ID
			
			UPDATE NotificationUsers set [Status] = 1 where NotificationID = @ID and UserID in (select items from dbo.Fun_SplitStr(@Users,','))
			
			INSERT INTO NotificationUsers(NotificationID,UserID)
			SELECT @ID, items from 
			(
				SELECT a.Items from dbo.Fun_SplitStr(@Users,',') a
				WHERE a.Items NOT IN(select UserID from NotificationUsers where NotificationID = @ID)
			)t1
			DELETE FROM NotificationUsers where NotificationID = @ID and [Status] = 0 
			
			
			
			-------- UPDATE Business Vendors
			UPDATE NotificationBusiness set [Status] = 0 where NotificationID = @ID
			
			UPDATE NotificationBusiness set [Status] = 1 where NotificationID = @ID and UserID in (select items from dbo.Fun_SplitStr(@Vendors,','))
			
			INSERT INTO NotificationBusiness(NotificationID,UserID)
			SELECT @ID, items from 
			(
				SELECT a.Items from dbo.Fun_SplitStr(@Vendors,',') a
				WHERE a.Items NOT IN(select UserID from NotificationBusiness where NotificationID = @ID)
			)t1
			DELETE FROM NotificationBusiness where NotificationID = @ID and [Status] = 0 

			
			
			-------- UPDATE Business Sales ADmin
			UPDATE NotificationSalesAdmin set [Status] = 0 where NotificationID = @ID
			
			UPDATE NotificationSalesAdmin set [Status] = 1 where NotificationID = @ID and UserID in (select items from dbo.Fun_SplitStr(@SalesAdmin,','))
			
			INSERT INTO NotificationSalesAdmin(NotificationID,UserID)
			SELECT @ID, items from 
			(
				SELECT a.Items from dbo.Fun_SplitStr(@SalesAdmin,',') a
				WHERE a.Items NOT IN(select UserID from NotificationSalesAdmin where NotificationID = @ID)
			)t1
			
			DELETE FROM NotificationSalesAdmin where NotificationID = @ID and [Status] = 0 

				
    END
 
 
END

GO
