USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[TestimonialByID]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TestimonialByID]
	@ID bigint = 0
as
begin
	set nocount on;
	select * from Testimonials where ID = @ID
end


GO
