USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessVerifyEmailAddress]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessVerifyEmailAddress]     
 @EmailAddress varchar(200)='',
 @ReturnVal int OUT     
AS    
BEGIN
 SET NOCOUNT ON;
 SELECT @ReturnVal = 0
 
 IF EXISTS(SELECT 1 FROM Business WHERE EmailAddress = @EmailAddress)
 BEGIN
	 SELECT @ReturnVal = 1
 END	
END

GO
