USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBusinessBankDetails]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateBusinessBankDetails]
 @ID BIGINT,   
 @BSBNo varchar(200)='',  
 @AccountNumber varchar(200)='',  
 @BankName varchar(200)='',  
 @AccountName varchar(200)='',  
 @ReturnVal BIGINT OUTPUT    
as    
BEGIN    
 SET NOCOUNT ON;
	EXEC [dbo].[BusinessUpdateLastLogin] @ID

		UPDATE dbo.Business 
		SET 
			BSBNo			=	@BSBNo, 
			AccountNumber	=	@AccountNumber, 
			BankName		=	@BankName, 
			AccountName		=	@AccountName			
		WHERE ID=@ID  
	
	SET @ReturnVal = 1
	
     
END



GO
