USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[NotificationsOperation]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[NotificationsOperation]
	@ID varchar(2000)='',
	@OprType smallint=2
as
begin
	set nocount on
	if @OprType=1	
		delete from dbo.Notifications where ID in (select items from dbo.Fun_SplitStr(@ID,','))	
end


GO
