USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BannerOperation]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BannerOperation]
	@ID varchar(2000)='',
	@OprType smallint=2,
	@ReturnVal int  = 0 output
as
begin
	set nocount on
	set @ReturnVal = 0
	if @OprType=1
	begin
	declare @seq  int
	
	select @seq = min(sequenceno)  from banner where ID in (select items from dbo.Fun_SplitStr(@ID,',')) 
	update banner set sequenceno = sequenceno - 1 where sequenceno > @seq
	
		delete from dbo.Banner where ID in (select items from dbo.Fun_SplitStr(@ID,','))
	end
	else if @OprType=2
	begin
		update dbo.Banner set Status=1 where ID in (select items from dbo.Fun_SplitStr(@ID,','))		
	end
	else if @OprType=3
	begin
		update dbo.Banner set Status=0 where ID in (select items from dbo.Fun_SplitStr(@ID,','))		
	end
end


GO
