USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateFAQSequence]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  procedure [dbo].[UpdateFAQSequence] --'2,1,3'  
@ID varchar(1000)='',  
@SequenceNo varchar(1000)=''  
as  
begin  
 if @ID <> ''  
 begin  
  declare @MID int  
  set @MID = 0  
  declare @SeqNo int  
  set @SeqNo = 1  
  DECLARE cur_FAQ CURSOR FOR    
  SELECT items FROM dbo.Fun_SplitStr(@ID,',')    
  
  OPEN cur_FAQ     
  FETCH NEXT FROM cur_FAQ INTO @MID     
  
  WHILE @@FETCH_STATUS = 0     
  BEGIN   
   --print cast(@MID as varchar(10)) + ' and ' + cast(@SeqNo as varchar(10))  
   update FAQ set SequenceNo = @SeqNo where ID = @MID  
    set @SeqNo = @SeqNo + 1  
     FETCH NEXT FROM cur_FAQ INTO @MID     
  END     
  
  CLOSE cur_FAQ     
  DEALLOCATE cur_FAQ  
 end  
end


GO
