USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[prc_AdminOperation]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_AdminOperation]
	@ID varchar(2000)='',
	@OprType smallint=2
as
begin
	set nocount on
	if @OprType=1	
		delete from dbo.AdminPrivilege where AdminPrivilegeId in (select items from dbo.Fun_SplitStr(@ID,','))
	else if @OprType=2
		update dbo.AdminPrivilege set AdminPrivilegeStatus=1 where AdminPrivilegeId in (select items from dbo.Fun_SplitStr(@ID,','))
	else if @OprType=3
		update dbo.AdminPrivilege set AdminPrivilegeStatus=0 where AdminPrivilegeId in (select items from dbo.Fun_SplitStr(@ID,','))
end


GO
