USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminSearchList]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminSearchList]
 
@ID int = 0,
@FirstName varchar(50)='',
@LastName varchar(50)='',
@UserName varchar(100)='',
@EmailID varchar(100)='',
@CurrentPage int=1 output,
@RecordPerPage int=10,
@TotalRecord int=0 output

AS
begin
	set nocount on;
	set @FirstName = dbo.ReplaceSingleQuote(@FirstName)
	set @LastName = dbo.ReplaceSingleQuote(@LastName)
	set @UserName = dbo.ReplaceSingleQuote(@UserName)
	set @EmailID = dbo.ReplaceSingleQuote(@EmailID)
	if @ID > 0
		begin
			select * from dbo.Admin where ID = @ID
			set @TotalRecord = 0
		end
	else
		begin
			declare @TempCond nvarchar(2000)
			declare @Query nvarchar(3000)
			declare @Condition varchar(2000)
			set @Condition=''
			set @FirstName = [dbo].[RemoveSpecialCharacter](@FirstName)
			set @LastName = [dbo].[RemoveSpecialCharacter](@LastName)
			set @UserName = [dbo].[RemoveSpecialCharacter](@UserName)
			set @EmailID = [dbo].[RemoveSpecialCharacter](@EmailID)

			if len(@FirstName)<>0
				set @Condition=' and FirstName like ''' + @FirstName + '%'''
			if len(@LastName)<>0
				set @Condition = @Condition +' and LastName like '''+@LastName+'%'''
			if len(@UserName)<>0
				set @Condition= @Condition + ' and UserName like '''+@UserName+'%'''
			if len(@EmailID)<>0
				set @Condition= @Condition + ' and EmailID like '''+@EmailID+'%'''
			set @Condition=' and ISNULL(DeletedYN,0)=0'
			
			set @TempCond= 'select @TotalRecord=count(1) from dbo.Admin  where 1=1 ' + @Condition				
			exec sp_executesql @TempCond,N'@TotalRecord int output',@TotalRecord output

		 					
			declare @TotalPage int
			set @TotalPage = ceiling(@TotalRecord/(@RecordPerPage * 1.0))

			if (@TotalPage<@CurrentPage)
				set @CurrentPage=@TotalPage

			declare @Start int
			declare @End int
			set @Start = ((@CurrentPage - 1) * @RecordPerPage) +1
			set @End = @CurrentPage * @RecordPerPage
			
			set @Query='select * from (select row_number() over (order by ID asc) as RowNumber,* from dbo.Admin  where 1=1 ' + @Condition + ')t1 where t1.RowNumber between ' + cast(@Start as varchar) + ' and ' + cast(@End as varchar)		   		
 		
			exec sp_executesql @Query
		end

end


GO
