USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessModifyAdmin]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BusinessModifyAdmin]    
 @ID bigint,  
 @Name varchar(200)='',  
 @ABN varchar(200)='',  
 @StreetAddress varchar(500)='',  
 @Location varchar(500)='',  
 @FullName varchar(200)='',  
 @EmailAddress varchar(200)='',  
 @BusinessPhone varchar(20)='',  
 @Mobile varchar(20)='', 
 @Description varchar(max)='',  
 @BSBNo varchar(200)='',  
 @AccountNumber varchar(200)='',  
 @BankName varchar(200)='',  
 @AccountName varchar(200)='',   
 @BusinessType varchar(500)='',  
 @FoodItems varchar(500)='',  
 @MondaySchedule varchar(max)='',   
 @TuesdaySchedule varchar(max)='',  
 @WednesdaySchedule varchar(max)='',  
 @ThirsdaySchedule varchar(max)='',  
 @FridaySchedule varchar(max)='',  
 @SaturdaySchedule varchar(max)='',  
 @SundayScheduleOn varchar(max)='',  
 @Password varchar(500)='',  
 @Latitude varchar(500)='',  
 @Longitude varchar(500)='',  
 @PostCode varchar(20)='',
 @ReturnVal bigint output    
as    
begin    
 SET NOCOUNT ON;


 IF @ID = 0    
 BEGIN
		IF NOT EXISTS(SELECT 1 FROM dbo.Business(NOLOCK) where EmailAddress=@EmailAddress)    
		BEGIN
			INSERT INTO Business
					(Name, ABN, StreetAddress, Location, FullName, EmailAddress, BusinessPhone, [Description], BSBNo, AccountNumber, BankName, AccountName, Mobile, [Password],  Latitude, Longitude, PostCode)
			VALUES  (@Name, @ABN, @StreetAddress, @Location, @FullName, @EmailAddress, @BusinessPhone,  @Description, @BSBNo, @AccountNumber, @BankName, @AccountName, @Mobile, @Password, @Latitude, @Longitude, @PostCode)
		   
			SET @ReturnVal=scope_identity()    
   
		   -- Insert Business Category
		   IF LEN(@BusinessType)>0
		   BEGIN
				INSERT INTO BusinessCategory(BusinessID,CategoryID)
				SELECT @ReturnVal,a.items from dbo.Fun_SplitStr(@BusinessType,',') a
		   END

		    -- Insert Business Food Items
		   IF LEN(@FoodItems)>0
		   BEGIN
				INSERT INTO BusinessFoodItems(BusinessID,FoodItemID)
				SELECT @ReturnVal,a.items from dbo.Fun_SplitStr(@FoodItems,',') a
		   END

			-- Insert Schedules
			EXEC [BusinessScheduleModifyAdmin] @ReturnVal, @MondaySchedule, @TuesdaySchedule, @WednesdaySchedule, @ThirsdaySchedule, @FridaySchedule, @SaturdaySchedule, @SundayScheduleOn 
			

		    ---- Update ProfilePhoto Staus
		    --UPDATE ProfilePhoto SET IsUSed = 1 WHERE ID = @ProfilePhotoID
		    
		   
		
		   -- UPDATE Curent day schedule for Business LIst
		   EXEC  [dbo].[BusinessCurrentDayScheduleUpdateCronJob_NewBusinesss] @ReturnVal

		END
		ELSE
		   SELECT @ReturnVal = -1
 END    
 ELSE    
 BEGIN    
		IF NOT EXISTS(SELECT 1 FROM dbo.Business(NOLOCK) where ID<>@ID and (EmailAddress=@EmailAddress))    
		BEGIN    
				--Declare @OldProfilePhotoID int SELECT @OldProfilePhotoID = 0
				--SELECT @OldProfilePhotoID = ProfilePhotoID FROM dbo.Business(NOLOCK) where ID = @ID
		
				UPDATE dbo.Business 
				SET        
					Name			=	@Name, 
					ABN				=	@ABN, 
					StreetAddress	=	@StreetAddress, 
					Location		=	@Location, 
					FullName		=	@FullName,
					EmailAddress	=	@EmailAddress, 			   
					BusinessPhone	=	@BusinessPhone, 
					Mobile			=	@Mobile,
--					ProfilePhotoID	=	@ProfilePhotoID, 
					[Description]	=	@Description, 
					BSBNo			=	@BSBNo, 
					AccountNumber	=	@AccountNumber, 
					BankName		=	@BankName, 
					AccountName		=	@AccountName, 
	--				[Status]		=	@Status,
					--Latitude		=	@Latitude, 
					--Longitude		=	@Longitude, 
					PostCode		=	@PostCode,
					Password		=	@Password
				WHERE ID=@ID    
				SELECT @ReturnVal=@ID    
		   
		   
				--------- UPDATE Business Category
				UPDATE BusinessCategory set [Status] = 0 where BusinessID = @ID
				
				UPDATE BusinessCategory set [Status] = 1 where BusinessID = @ID and CategoryID in (select items from dbo.Fun_SplitStr(@BusinessType,','))
				
				INSERT INTO BusinessCategory(BusinessID,CategoryID)
				SELECT @ID, items from 
				(
					SELECT a.Items from dbo.Fun_SplitStr(@BusinessType,',') a
					WHERE a.Items NOT IN(select CategoryID from BusinessCategory where BusinessID = @ID)
				)t1
				
				DELETE FROM BusinessCategory where BusinessID = @ID and [Status] = 0 
				--------- UPDATE Business Category


				--------- UPDATE Business Food Items
				UPDATE BusinessFoodItems set [Status] = 0 where BusinessID = @ID
				
				UPDATE BusinessFoodItems set [Status] = 1 where BusinessID = @ID and FoodItemID in (select items from dbo.Fun_SplitStr(@FoodItems,','))
				
				INSERT INTO BusinessFoodItems(BusinessID,FoodItemID)
				SELECT @ID, items from 
				(
					SELECT a.Items from dbo.Fun_SplitStr(@FoodItems,',') a
					WHERE a.Items NOT IN(select FoodItemID from BusinessFoodItems where BusinessID = @ID)
				)t1
				
				DELETE FROM BusinessFoodItems where BusinessID = @ID and [Status] = 0 
				--------- UPDATE Business Food Items

				-- Update Schedules
				EXEC [BusinessScheduleModifyAdmin] @ID, @MondaySchedule, @TuesdaySchedule, @WednesdaySchedule, @ThirsdaySchedule, @FridaySchedule, @SaturdaySchedule, @SundayScheduleOn
				
				-- Update ProfilePhoto Staus
				--IF @OldProfilePhotoID != @ProfilePhotoID
				--BEGIN				
				--	UPDATE ProfilePhoto SET IsUSed = 0 WHERE ID = @OldProfilePhotoID
				--	UPDATE ProfilePhoto SET IsUSed = 1 WHERE ID = @ProfilePhotoID
				--END
				
				-- UPDATE Curent day schedule for Business LIst
				EXEC  [dbo].[BusinessCurrentDayScheduleUpdateCronJob_NewBusinesss] @ID
				
				
		END    
		ELSE    
		SELECT @ReturnVal = -1  
 END    
END




GO
