USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessSave]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessSave]
 @ID bigint,  
 @Name varchar(200)='',  
 @ABN varchar(200)='',  
 @StreetAddress varchar(500)='',  
 @Location varchar(500)='',  
 @FullName varchar(200)='',  
 @EmailAddress varchar(200)='',  
 @BusinessPhone varchar(20)='',  
 @Mobile varchar(20)='',
 @Password varchar(500)='',
 @Latitude varchar(500)='',  
 @Longitude varchar(500)='',  
 @PostCode varchar(20)='',
 @ReturnVal bigint output    
as    
begin    
 SET NOCOUNT ON;

 SELECT @ReturnVal = 0
 IF @ID = 0    
 BEGIN
		IF NOT EXISTS(SELECT 1 FROM dbo.Business(NOLOCK) where EmailAddress=@EmailAddress)    
		BEGIN
			INSERT INTO Business
					(Name, ABN, StreetAddress, Location, FullName, EmailAddress, BusinessPhone, Mobile, [Status],[Password], Latitude, Longitude, PostCode)
			VALUES  (@Name, @ABN, @StreetAddress, @Location, @FullName, @EmailAddress, @BusinessPhone,@Mobile,0, @Password, @Latitude, @Longitude, @PostCode)
		   
			SET @ReturnVal=scope_identity()
		END
		ELSE
		   SELECT @ReturnVal = -1 
 END    

END


GO
