USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[prc_AdminLoginCheck]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_AdminLoginCheck]    
 @ID int=0    
     
as    
begin    
 set nocount on    
      
      
      
 if @ID <>0    
 begin    
       
  select ID    
      ,FirstName    
      ,LastName    
      ,UserName    
      ,Password    
      ,EmailId    
      ,Phone    
      ,CreatedOn    
      ,Status    
      ,PasswordToken    
      ,IpAddress    
      ,AccessDate    
      ,IsSupAdmin    
      ,AdminType    
       from dbo.vw_AdminUser     
  where ID=@ID    
     
  select * from dbo.AdminPage where intAdminPageID     
       in (select intRelModPagPID from dbo.RelModulePage where intRelModPagMid     
   in (select RelModulePrivilegeModId from RelModulePrivilege     
     where RelModulePrivilegePrivId= (select AdminType from dbo.[Admin] where ID=@ID)))    
 end    
end


GO
