USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[MenuListfornt]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MenuListfornt]    
 @ID int = 0,    
 @ParentID int = 0,    
 @Name varchar(100)=''    
as    
begin    
 set nocount on    
    
 declare @Query as varchar(1000)    
 declare @RecQuery as nvarchar(2500)    
 set @Query = ''    
 set @RecQuery = ''    
    
 if @ID<>0    
  set @Query=@Query + ' and Menu.ID =' + cast(@ID as varchar)    
 if @ParentID<>0    
  set @Query=@Query + ' and Menu.ParentID =' + cast(@ParentID as varchar)     
 if @Name <> ''    
  set @Query=@Query + ' and Name like ''%' + @Name + '%'''    
    
 declare @TotalRecord  int    
 set @TotalRecord = 0     
 set @RecQuery='select @TotalRecord=count(1) FROM Menu INNER JOIN  MenuTree ON Menu.ID = MenuTree.MenuID WHERE 1=1 ' + @Query       
     
 exec dbo.sp_ExecuteSql @RecQuery,N'@TotalRecord int output',@TotalRecord output     
     
     
 set @RecQuery='SELECT top(5) Menu.ID, Menu.Name, Menu.LinkType, Menu.ShowInMenu,  Menu.MenuURL, Menu.ParentID, Menu.ExternalLink,Menu.ExternalLinkURL, StaticURL, Menu.CMSID, Menu.Status, Menu.LevelNo, Menu.SequenceNo, Menu.Position, MenuTree.TreeLevelNo,
'+ cast  
(@TotalRecord as varchar(100))+' as Count,     
           MenuTree.TreeList, MenuTree.TreeLevel, MenuTree.TreeSubList, MenuTree.HasChild, ISNULL(CMS.PageUrl,'''') as CMSUrl FROM Menu INNER JOIN  MenuTree ON Menu.ID = MenuTree.MenuID LEFT JOIN CMS on CMS.ID = Menu.CMSID WHERE 1=1 and Menu.status = 1 and ParentID = 0' 
+ @Query + ' order by menu.SequenceNo asc '    
 print @RecQuery    
 exec dbo.sp_ExecuteSql @RecQuery    
end


GO
