USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBusinessDescription]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateBusinessDescription]
 @ID BIGINT,   
 @Description varchar(max)='',  
 @ReturnVal BIGINT OUTPUT    
as    
BEGIN    
 SET NOCOUNT ON;

	UPDATE dbo.Business 
		SET 
			[Description]	=	@Description					
		WHERE ID=@ID    
	SET @ReturnVal = 1
	
     
END


GO
