USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserFavouriteBusinessRemove]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserFavouriteBusinessRemove]
 @UserID bigint,  
 @BusinessID bigint 
AS    
BEGIN    
	SET NOCOUNT ON;
	
	DELETE FROM UserFavouriteBusiness
	WHERE UserID = 	@UserID
		AND BusinessID = @BusinessID		

END

GO
