USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[CMSAllList]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[CMSAllList]
as
begin
	select ID, PageTitle, PageUrl from CMS
	union
	select ID, PageTitle, PageUrl from StaticCMS 
end


GO
