USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserContactUSList]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserContactUSList]--0,'','','',100,1,-1      
 @ID int=0,      
 @Name varchar(100)='',       
 @Subject varchar(100)='',       
 @EmailAddress varchar(100)='',       
 @TotalRecord  int=0 output,      
 @CurrentPage int=1 output,      
 @RecordPerPage int=10,      
 @SortOrd varchar(5)='DESC',      
 @SortColumn varchar(45)='UserContactUS.ID'       
as      
begin      
 set nocount on      
 set @EmailAddress = dbo.ReplaceSingleQuote(@EmailAddress)      
 set @Name = dbo.ReplaceSingleQuote(@Name)      
 set @Subject = dbo.ReplaceSingleQuote(@Subject)      
      
 declare @Query as varchar(1000)      
 declare @RecQuery as nvarchar(2500)      
 set @Query=''      
      
 if @ID<>0      
  set @Query=@Query + ' and ID =' + cast(@ID as varchar)      
 if @EmailAddress<>''      
  set @Query=@Query + ' and EmailAddress like ''%' + @EmailAddress + '%'''       
 if @Subject<>''      
  set @Query=@Query + ' and Subject like ''%' + @Subject + '%'''       
 if @Name<>''      
  set @Query=@Query + ' and Name like ''%' + @Name + '%'''       
 declare @MaxPage int      
 set @RecQuery='select @TotalRecord=count(1) from dbo.UserContactUS 
 LEFT JOIN Users ON Users.ID = UserContactUS.BusinessID
 where 1=1 ' + @Query         
 exec dbo.sp_ExecuteSql @RecQuery,N'@TotalRecord int output',@TotalRecord output      
       
 set @MaxPage=ceiling(isnull(@TotalRecord,0) / (@RecordPerPage * 1.0))        
       
 if @MaxPage < @CurrentPage      
 begin      
  if @MaxPage<=0      
   set @CurrentPage = 1      
  else      
   set @CurrentPage = @MaxPage                     
 end      
       
 declare @Top as int      
 declare @Bottom as int      
 set @Top=((@CurrentPage - 1) * @RecordPerPage + 1)      
 set @Bottom = (@CurrentPage * @RecordPerPage)       
       
 if @RecordPerPage = -1      
 begin      
   SET @RecQuery='select * from (select UserContactUS.Name, UserContactUS.EmailAddress as [Email Address], UserContactUS.Phone, UserContactUS.Subject, UserContactUS.Comments as [Comment], '+            
  ' convert(VARCHAR(10),UserContactUS.CreatedOn,103) as [Sent Date]'+'  
  from dbo.UserContactUS 
  LEFT JOIN Users ON Users.ID = UserContactUS.BusinessID
  where 1=1 ' + @Query + ')t1 '    
    
 end      
 else      
 begin      
 set @RecQuery='select * from (select row_number() over (order by '+ @SortColumn + ' ' + @SortOrd + ') as RowNumber, UserContactUS.*,
 ISNULL(Users.Name, '''') as [BusinessName]
  from dbo.UserContactUS 
 LEFT JOIN Users ON Users.ID = UserContactUS.BusinessID
 where 1=1 ' + @Query + ')t1 where t1.RowNumber>=' + cast(@Top as varchar) + ' and t1.RowNumber <=' + cast(@Bottom as varchar)      
 end      
print @RecQuery      
 exec dbo.sp_ExecuteSql @RecQuery      
end



GO
