USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[SetSubMenuLevel]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SetSubMenuLevel]
@ID int,
@ParentID int,
@LevelNo int,
@LevelType varchar(2)=''
as
begin
	if @LevelType = '-'
	begin
		Update Menu set LevelNo = @LevelNo where ParentID = @ParentID and LevelNo = @LevelNo - 1
		Update Menu set LevelNo = @LevelNo - 1 where ID = @ID		
	end
	
	if @LevelType = '+'
	begin
		Update Menu set LevelNo = @LevelNo where ParentID = @ParentID and LevelNo = @LevelNo + 1
		Update Menu set LevelNo = @LevelNo + 1 where ID = @ID
		
	end
end


GO
