USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[MenuInsert]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MenuInsert]       
(       
 @ID int=0,    
 @TopPanelName varchar(100) = '',       
 @ReturnVal int out       
)       
AS     
begin        
  insert into AdminTopPanel (TopPanelName)      
  values (@TopPanelName)       
   set @ReturnVal=scope_identity()   
end


GO
