USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserFavouriteBusinessList]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserFavouriteBusinessList]
@UserID BIGINT=0,
@Lat1 varchar(500)='',
@Lon1 varchar(500)=''
AS
BEGIN
	SET NOCOUNT ON;
	
	DECLARE @FavouriteBusiness varchar(1000) SET @FavouriteBusiness = ''
	SELECT 	@FavouriteBusiness = @FavouriteBusiness + CAST(BusinessID AS VARCHAR(500)) + ',' FROM UserFavouriteBusiness WHERE UserID = @UserID
	print @FavouriteBusiness
	DECLARE  @CurrentDateTime DATETIME = dbo.Fun_australiaDateTime()
	IF LEN(@FavouriteBusiness)>0
	BEGIN
		SET @FavouriteBusiness =SUBSTRING(@FavouriteBusiness,1,LEN(@FavouriteBusiness)-1)
		
		SELECT * FROM 
		(
			SELECT dbo.Fun_BusinessFoodItemsNames(B.ID) AS FoodItems, B.ID, B.Name, B.FullName, B.EmailAddress, 
			ISNULL(BS.NoOfItems, 0) AS TotalQty, ISNULL(V.PurchaseQty, 0) AS PurchaseQty,
			--(ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0)) AS RemainingQty,
			CASE WHEN 
					--CAST(CONVERT(VARCHAR(100), @CurrentDateTime, 113) AS TIME) >= CAST(BS.PickupFromTime AS TIME) AND  CAST(CONVERT(VARCHAR(100), @CurrentDateTime, 113) AS TIME) <= CAST(BS.PickupToTime AS TIME)
					(CAST(CONVERT(VARCHAR(100), @CurrentDateTime, 113) AS TIME) <= CAST(BS.PickupToTime AS TIME)) AND (ISNULL(DiscountValue,0)>0)					
				THEN (ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0))
				ELSE 0
			END AS RemainingQty,
			BS.OriginalPrice, 
			CASE ISNULL(DiscountValue,0) 
				WHEN 0 THEN 0
				--ELSE (BS.OriginalPrice - (BS.OriginalPrice * ISNULL(D.Discount,0))/100 ) 
				ELSE (BS.OriginalPrice - ISNULL(DiscountValue,0) ) 
			END	AS DiscountPrice,
			BS.PickupFromTime,BS.PickupToTime, P.ImageName, StreetAddress, Location, BusinessPhone, Mobile,B.Description,
			--[dbo].[Fun_GetGeoDistance](@Lat1,@Lon1,B.Latitude, B.Longitude) AS GeoDistance
			CASE WHEN cast(@Lat1 as varchar(100))  <> '' AND cast(@Lon1 as varchar(100)) <> ''  AND B.Latitude <> '' AND B.Longitude <> '' AND CHARINDEX('.', ISNULL(B.Latitude,''''))>0 AND  CHARINDEX('.', ISNULL(B.Longitude,''''))>0
					THEN 
						Cast(geography::Point( cast(@Lat1 as varchar(100)) ,cast(@Lon1 as varchar(100)) , 4326).STDistance(geography::Point(B.Latitude, B.Longitude, 4326))/1000 As decimal(18,2))
					ELSE
						0
				END AS GeoDistance
				,B.Latitude, B.Longitude
			FROM  Business(NOLOCK) AS B 
			INNER JOIN BusinessScheduleCurrentDay(NOLOCK) AS BS ON BS.BusinessID = B.ID AND CAST(BS.CurrentDate AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
			INNER JOIN ProfilePhoto(NOLOCK)  AS P ON P.ID = B.ProfilePhotoID 
			LEFT OUTER JOIN VW_BusinessCurrentDayPurchaseQty AS V ON V.BusinessID = B.ID
			--LEFT JOIN Discount(NOLOCK) D ON D.ID = BS.DiscountID				
			WHERE (B.Status = 1) AND (B.IsSalesAdmin = 0) 				
			AND B.ID in(select items from dbo.Fun_SplitStr(@FavouriteBusiness,','))
		)t1 ORDER BY GeoDistance ASC, Name ASC
	END	
	
END


GO
