USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[CartAdd]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CartAdd]-- 1,1,2,0,0,1
@UserID BIGINT = 0,
@BusinessID BIGINT = 0,
@Qty INT = 0,
@Donation decimal(18,2) = 0,
@RemainingQuantity int output,
@ReturnVal int output
AS
BEGIN	
	SET NOCOUNT ON;
	SET @ReturnVal = 0
	SET @RemainingQuantity = 0
	
	
	DECLARE @TotalQty INT	SET @TotalQty = 0
	DECLARE @RemainingQty INT SET @RemainingQty = 0
	DECLARE @CurrentCartQty INT	 SET @CurrentCartQty = 0
	DECLARE @DiscountValue  DECIMAL(18,2)
	DECLARE @OriginalPrice DECIMAL(18,2)
	
	DECLARE @PickupFromTime DATETIME
	DECLARE @PickupToTime DATETIME

	SELECT @TotalQty = ISNULL(BS.NoOfItems, 0),
			@RemainingQty = (ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0)),				
			@PickupFromTime = BS.PickupFromTime,
			@OriginalPrice = BS.OriginalPrice, 
			@DiscountValue = BS.DiscountValue,
			@PickupToTime = BS.PickupToTime				
			FROM  Business(NOLOCK) AS B 
			INNER JOIN BusinessScheduleCurrentDay(NOLOCK) AS BS ON BS.BusinessID = B.ID AND CAST(BS.CurrentDate AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 				
			LEFT OUTER JOIN VW_BusinessCurrentDayPurchaseQty AS V ON V.BusinessID = B.ID
			--LEFT JOIN Discount(NOLOCK) D ON D.ID = BS.DiscountID				
			WHERE (B.Status = 1) AND (B.IsSalesAdmin = 0) AND B.ID = @BusinessID
			
	
	--SELECT @CurrentCartQty = ISNULL(SUM(Qty),0) FROM Cart(NOLOCK) 
	--	WHERE UserID <> @UserID AND CAST(Cart.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
	--	AND BusinessID = @BusinessID AND IsOrderCompleted = 0
	
	print @RemainingQty
	print @CurrentCartQty
	
	
	IF (@CurrentCartQty + @Qty) <= @RemainingQty
	BEGIN
	
		IF EXISTS(SELECT 1 FROM Cart(NOLOCK) WHERE UserID = @UserID AND CAST(Cart.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) AND BusinessID = @BusinessID AND IsOrderCompleted = 0)
		BEGIN
			UPDATE Cart	
				SET Qty = @Qty,
					OriginalPrice = @OriginalPrice,
					DiscountValue = @DiscountValue,
					PickupFromTime = @PickupFromTime,
					PickupToTime= @PickupToTime,
					Donation = @Donation				
				WHERE UserID = @UserID AND CAST(Cart.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) AND BusinessID = @BusinessID			
				
		END
		ELSE
		BEGIN	
			INSERT INTO Cart(UserID, BusinessID, Qty, OriginalPrice, DiscountValue, PickupFromTime, PickupToTime, Donation)
			VALUES(@UserID, @BusinessID, @Qty, @OriginalPrice, @DiscountValue, @PickupFromTime, @PickupToTime, @Donation)
		END
		SET @ReturnVal = 1
	END
	ELSE
	BEGIN
		SET @RemainingQuantity = @RemainingQty - @CurrentCartQty
		SET @ReturnVal = -1 -- No Qty Available
	END
	
END




GO
