USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserLogout]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserLogout]
 @ID INT = 0     
AS    
BEGIN    
	SET NOCOUNT ON    
	UPDATE Users set AuthToken='', DeviceKey='', DeviceType='' WHERE ID = @ID
 END

GO
