USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[SalesAdminSave]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SalesAdminSave]    
 @ID int,    
 @FirstName varchar(100),        
 @EmailID varchar(500),    
 @Password varchar(100),     
 @Phone varchar(20),   
 @ReturnVal int output    
AS    
BEGIN    
 SET NOCOUNT ON;    
   
 IF @ID=0    
 BEGIN    
  IF not exists(select 1 from dbo.Business(NOLOCK) WHERE EmailAddress=@EmailID)    
  BEGIN    
   INSERT INTO dbo.Business    
		(FullName,Password,EmailAddress,Mobile,CreatedOn, IsSalesAdmin, Status)    
   VALUES    
		(@FirstName,@Password,@EmailID,@Phone,getdate(),1,1 )    
    
   SET @ReturnVal=scope_identity()    
  END    
  ELSE    
   SET @ReturnVal=0    
 END    
 ELSE    
 BEGIN    
  IF not exists(SELECT 1 FROM dbo.Business WHERE ID<>@ID and ( EmailAddress=@EmailID))    
  BEGIN    
   UPDATE dbo.Business SET    
    FullName=@FirstName,            
    Password=@Password,    
    EmailAddress=@EmailID,        
    Mobile=@Phone,  
	CreatedOn = getdate()    
   WHERE ID=@ID    
   SET @ReturnVal=@ID    
  END    
  ELSE    
   SET @ReturnVal=0    
 END    
END


GO
