USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessForgotPassword]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BusinessForgotPassword]
 @EmailID varchar(500),
 @Password varchar(500)
AS    
BEGIN    
 SET NOCOUNT ON;    

 UPDATE Business SET [Password] = @Password where EmailAddress = @EmailID
 SELECT * FROM Business(NOLOCK) where EmailAddress = @EmailID
        
END

GO
