USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessLocationAutocomplete]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessLocationAutocomplete] 
@Keyword VARCHAR(500)
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT * FROM
	(
		--SELECT 1 as order_indicator, Location AS [Title], 0 AS ID FROM Business(NOLOCK) WHERE Location like '%'+ @Keyword +'%' AND Location IS NOT NULL
		select 1 as order_indicator, (suburb + ', ' + Cast(postcode as varchar(100))) AS [Title], 0 AS ID from ausSuburbDatabase(NOLOCK) WHERE (suburb like '%'+ @Keyword +'%') OR (postcode like '%'+ @Keyword +'%')
		UNION
		SELECT 2 as order_indicator, Name AS [Title], B.ID  FROM Business(NOLOCK) B 
		INNER JOIN BusinessScheduleCurrentDay(NOLOCK) AS BS ON BS.BusinessID = B.ID AND CAST(BS.CurrentDate AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
		WHERE Name like '%'+ @Keyword +'%' AND Name IS NOT NULL AND IsSalesAdmin = 0

	)t1 ORDER BY order_indicator, title ASC
	
END
GO
