USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[OrderUsersDeviceKey]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[OrderUsersDeviceKey]--129
 @OrderID BIGINT = 0     
AS    
BEGIN    
	SET NOCOUNT ON

	DECLARE @UserID BIGINT SET @UserID = 0
	DECLARE @BusinessID BIGINT SET @UserID = 0

	SELECT @UserID = UserID FROM BusinessOrder(NOLOCK) WHERE ID = @OrderID
	SELECT @BusinessID = BusinessID FROM BusinessOrderProduct(NOLOCK) WHERE OrderID = @OrderID

	SELECT @OrderID AS OrderID, DeviceType, DeviceKey, 'U' AS UserType, ISNULL(NotificationCount,0) AS NotificationCount, @UserID AS UserID FROM Users(NOLOCK) WHERE ID = @UserID AND ISNULL(DeviceKey,'') <> ''
	Union ALL
	SELECT @OrderID AS OrderID,DeviceType, DeviceKey, 'B' AS UserType, ISNULL(NotificationCount,0) AS NotificationCount, @BusinessID AS UserID FROM BusinessAuthToken(NOLOCK) WHERE BusinessID = @BusinessID AND ISNULL(DeviceKey,'') <> ''	
    
END



GO
