USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[GetBreadCrumbList]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetBreadCrumbList]
	@ParentMenu varchar(100)='',
	@PageURL varchar(1000) = ''
as
begin
	set nocount on	
	declare @ID int	set @ID = 0
	declare @PageTitle varchar(100)	set @PageTitle = ''
	select @ID = cast(ID as varchar(100)), @PageTitle = [Name]  from Menu where MenuURL = @ParentMenu

	create table #Tree (id int, sequence varchar(1000), levelSeqNo int)
	insert #Tree select id, right(space(10) + convert(varchar(10),LevelNo),10), 1 from Menu where ParentID = @ID and [Status] = 1 and ShowInMenu = 1 order by LevelNo


	declare @i int
	select @i = 0
	while @@rowcount > 0
	begin
		select @i = @i + 1
		insert #Tree
		select Menu.id, sequence + right(space(10) + convert(varchar(10),Menu.LevelNo),10) + right(space(10) + convert(varchar(10),Menu.id),10) , @i + 1
		from Menu, #Tree where #Tree.levelSeqNo = @i and Menu.ParentID = #Tree.id and Menu.Status=1 and ShowInMenu = 1
	end	

	select space((levelSeqNo-1)*4) + Menu.name as MenuName,Menu.id ,sequence,levelSeqNo, LevelNo,ParentID, HasChild,CMSID, URLString, LinkType, StaticURL, ExternalLinkURL from #Tree, Menu, MenuTree where #Tree.id = Menu.id and #Tree.id = MenuTree.MenuID   order by sequence, LevelNo

	select @PageTitle as PageTitle
	
	declare @subtitle varchar(100) set @subtitle = ''
	
	

SELECT     Menu.Name, Fun_SplitStrAndJoin_1.id, Fun_SplitStrAndJoin_1.Items, Menu.ExternalLinkURL, Menu.LinkType, Menu.Position, Menu.MenuURL, 
                      Menu.StaticURL, Menu.CMSID, MenuTree.URLString
FROM         dbo.Fun_SplitStrAndJoin(@PageURL, '/') AS Fun_SplitStrAndJoin_1 INNER JOIN
                      MenuTree ON Fun_SplitStrAndJoin_1.Items = MenuTree.URLString INNER JOIN
                      Menu ON MenuTree.MenuID = Menu.ID

end


GO
