USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessStatusChange]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BusinessStatusChange]
	@ID BIGINT = 0,
	@Status INT = 0,
	@ReturnVal INT OUTPUT
as
begin
	set nocount on
	SELECT @ReturnVal = 0
	IF @ID > 0
	BEGIN
		UPDATE Business SET Status = @Status WHERE ID = @ID		
		SELECT @ReturnVal = 1
	END
	
	
end

GO
