USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[DonationsModify]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DonationsModify]      
 @ID int,      
 @Donation DECIMAL(18,2)=0, 
 @ReturnVal int output      
AS      
BEGIN      
 SET NOCOUNT ON      
 set @ReturnVal=0      
 
 if @ID=0      
 begin      
  if not exists(select 1 from dbo.Donations where cast(Donation as decimal(18,2))= cast(@Donation as decimal(18,2)))      
  begin            
  declare @SeqNo int          
  set @SeqNo = 0          
    
  --begin          
   select @SeqNo = isnull(Max(SequenceNo),0) from Donations          
     
   set @SeqNo = @SeqNo + 1          
  --end          
      
       
   insert into dbo.Donations      
		(Donation,SequenceNo)      
   values      
		(@Donation,@SeqNo)      
      
   set @ReturnVal=scope_identity()      
  end      
 end      
 else      
 begin      
  if not exists(select 1 from dbo.Donations where ID<>@ID AND cast(Donation as decimal(18,2))= cast(@Donation as decimal(18,2)))            
  begin      
   update dbo.Donations set      
    Donation=@Donation       
          
   where ID=@ID      
   set @ReturnVal=@ID      
  end      
 end      
end


GO
