USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[GenerateMenuTreeAdmin]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[GenerateMenuTreeAdmin]
as
begin	
	set nocount on;
	create table #Tree (id int, sequence varchar(1000), levelSeqNo int)
	insert #Tree select id, right(space(10) + convert(varchar(10),SequenceNo),10), 1 from Menu where ParentID = 0 order by SequenceNo
	declare @i int
	select @i = 0
	while @@rowcount > 0
	begin
		select @i = @i + 1
		insert #Tree
		select Menu.id, sequence + right(space(10) + convert(varchar(10),Menu.LevelNo),10) + right(space(10) + convert(varchar(10),Menu.id),10) , @i + 1
		from Menu, #Tree where #Tree.levelSeqNo = @i and Menu.ParentID = #Tree.id

	end	
	select space((levelSeqNo-1)*4) + Menu.name as MenuName ,sequence,levelSeqNo, LevelNo,ParentID	from #Tree, Menu where #Tree.id = Menu.id order by sequence, LevelNo

	-- Create Ul Li structure
		declare @currentLevel int, @ID int, @numUL int, @lastLevel int, @oldLevel int, @LevelSNo int, @MenuName varchar(100), @strAdminMenuString varchar(8000),  @ParentID int, @ExternalLink int, @CMSURL varchar(100), @ExternalLinkURL varchar(500), @Status bit
		set @LevelSNo = 0 set @ID = 0 set @MenuName = '' set @strAdminMenuString= '' set @oldLevel = 0 set @ParentID = 0 set @ExternalLink = 0 set @CMSURL= '' set @ExternalLinkURL = '' set @lastLevel = -1 set @numUL = 0 set @Status = 1

		DECLARE @CursorMenu CURSOR
		SET @CursorMenu = CURSOR FOR
			select Menu.ID, Menu.name, levelSeqNo, ParentID, ExternalLink, ISNULL(CMS.PageUrl,'''') as CMSURL, ExternalLinkURL, Menu.Status from #Tree, Menu 
			LEFT JOIN CMS on CMS.ID = Menu.CMSID	
			where #Tree.id = Menu.id order by sequence, LevelNo
		OPEN @CursorMenu
		FETCH NEXT
		FROM @CursorMenu INTO @ID, @MenuName, @LevelSNo, @ParentID, @ExternalLink, @CMSURL , @ExternalLinkURL, @Status	
		WHILE @@FETCH_STATUS = 0
		BEGIN			
			set @currentLevel = @LevelSNo
            if (@lastLevel < @currentLevel)
            begin               
			   set @strAdminMenuString = @strAdminMenuString  + '<ul class=''list''>'
               set @numUL = @numUL + 1
            end
            else if (@lastLevel > @currentLevel)
            begin				
				set @strAdminMenuString = @strAdminMenuString  + '</li></ul></li>'
                set @numUL  = @numUL - 1
				set @lastLevel = @lastLevel - 1
                while(@lastLevel > @currentLevel) 
                begin									
					set @strAdminMenuString = @strAdminMenuString  + '</ul></li>' 
					set @lastLevel = @lastLevel - 1
                end
            end
            else if (@lastLevel > -1)            
			begin				
				set @strAdminMenuString = @strAdminMenuString  + '</li>' 
			end			
			declare @padding int
			set @padding = @LevelSNo * 16		
		set @strAdminMenuString = @strAdminMenuString  + '<li id='''+cast(@ID as varchar(100))+'''><table width=''100%'' border=''0''><tr><td style=''padding-left:'+ cast(@padding as varchar(100)) +'px;''>' +  @MenuName + '</td><td width=''5%''><img src='+ case  @Status when 1 then 'images/ico-active.gif' else 'images/ico-inactive.gif' end +'></td><td width=''5%''><a href=''menu-modify.aspx?id='+ cast(@ID as varchar(100))+''' ><img src=''images/icon-edit.gif'' alt=''Edit'' title=''Edit'' border=''0'' /></a></td></tr></table>'		
	      set @lastLevel = @currentLevel;

		FETCH NEXT FROM @CursorMenu INTO @ID, @MenuName, @LevelSNo, @ParentID, @ExternalLink, @CMSURL, @ExternalLinkURL, @Status
		END
		CLOSE @CursorMenu
		DEALLOCATE @CursorMenu
		
		while(@numUL > 1) 
        begin			
			set @strAdminMenuString = @strAdminMenuString  + '</li></ul>'		
			set @numUL  = @numUL - 1
		end
		
		--- Insert string into Menustring table
		if not exists(select 1 from MenuString where Front = 0)
			insert into Menustring(Menustring, Front) values(@strAdminMenuString, 0) 
		else
			Update Menustring set Menustring = @strAdminMenuString where Front = 0
		-- End

	--End
	exec [GenerateMenuTreeFront]
End


GO
