USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserSave]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserSave]  
 @ID BIGINT = 0, 
 @Name VARCHAR(500), 
 @Mobile varchar(20) = '', 
 @Email varchar(500) = '', 
 @Password varchar(500) = '',  
 @DeviceType varchar(2)='',
 @FacebookID varchar(max)='',
 @ReturnVal int output  
AS  
BEGIN  
 SET NOCOUNT ON;
  
 IF @ID = 0  
 BEGIN
	IF @FacebookID <> '' 
	BEGIN
		IF EXISTS(SELECT 1 FROM Users(NOLOCK) WHERE FacebookID = @FacebookID)  
		 BEGIN
			 SET @ReturnVal = -1  
			--SET @ReturnVal = 1
		 END	 
		 Else
		 BEGIN
			 --IF EXISTS(SELECT 1 FROM Users(NOLOCK) WHERE Email=@Email)  
			 --BEGIN
				--SET @ReturnVal = 1
			 --END
			 --ELSE
			 --BEGIN	 
				INSERT INTO Users(Name, Mobile, Email, Password, DeviceType,FacebookID)
				VALUES (@Name, @Mobile, @Email, @Password, @DeviceType,@FacebookID)  

				SET @ReturnVal=scope_identity()  
			--END
		 END 
	END
	ELSE
	BEGIN
		 IF EXISTS(SELECT 1 FROM Users(NOLOCK) WHERE Email=@Email)  
		 BEGIN
			SET @ReturnVal = -1
		 END	 
		 Else
		 BEGIN
			INSERT INTO Users(Name, Mobile, Email, Password, DeviceType,FacebookID)
			VALUES (@Name, @Mobile, @Email, @Password, @DeviceType,@FacebookID)  

			SET @ReturnVal=scope_identity()  
		 END 
   END
 END  
 ELSE  
 BEGIN  
  IF not exists(SELECT 1 FROM Users(NOLOCK)  WHERE Email = @Email and ID<>@ID)  
  BEGIN  
   
		   UPDATE Users SET		   
			  Name = @Name, 			  
			  Mobile=@Mobile, 
			  Email=@Email, 
			  Password=	@Password			  
			  WHERE ID=@ID  
			  
			  SET @ReturnVal=@ID  
		  END  
		  ELSE
				SET @ReturnVal=-1  
 END  
END


GO
