USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminSetPasswordToken]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminSetPasswordToken] 
	@EmailID varchar(100)='',
	@PasswordToken varchar(25)='',
	@ReturnVal int=0 output
as
begin
	set nocount on
	set @ReturnVal = 0
	if exists(select 1 from dbo.Admin where EmailID=@EmailID and Status=1 and ISNULL(DeletedYN,0)=0)
	begin
		update dbo.Admin set PasswordToken = @PasswordToken where EmailID=@EmailID and Status=1
		set @ReturnVal = 1
	end
end


GO
