USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserDetailsByID]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserDetailsByID] 
@ID BIGINT = 0
AS    
BEGIN
 SET NOCOUNT ON;
 
	SELECT * FROM Users(NOLOCK) WHERE ID = @ID 

END


GO
