USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[CategoryList]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CategoryList]
	@ID int = 0,
	@Name varchar(200)='',	
	@TotalRecord  int=0 output,
	@CurrentPage int=1 output,
	@RecordPerPage int=10,
	@SortOrd varchar(5)='DESC',
	@SortColumn varchar(20)='ID'	
as
begin
	set nocount on
	set @Name = dbo.ReplaceSingleQuote(@Name)

	declare @Query as varchar(1000)
	declare @RecQuery as nvarchar(2500)
	set @Query=''

	if @ID<>0
		set @Query=@Query + ' and ID =' + cast(@ID as varchar)
	if @Name<>''
		set @Query=@Query + ' and Name like ''%' + @Name + '%'''
	
	declare @MaxPage int
	set @RecQuery='select @TotalRecord=count(1) from dbo.Category(NOLOCK) where 1=1 ' + @Query 		
	exec dbo.sp_ExecuteSql @RecQuery,N'@TotalRecord int output',@TotalRecord output
	
	set @MaxPage=ceiling(isnull(@TotalRecord,0) / (@RecordPerPage * 1.0))		
	
	if @MaxPage < @CurrentPage
	begin
		if @MaxPage<=0
			set @CurrentPage = 1
		else
			set @CurrentPage = @MaxPage															
	end
	
	declare @Top as int
	declare @Bottom as int
	set @Top=((@CurrentPage - 1) * @RecordPerPage + 1)
	set @Bottom = (@CurrentPage * @RecordPerPage)	
	
	set @RecQuery='select * from (select row_number() over (order by '+ @SortColumn + ' ' + @SortOrd + ') as RowNumber, Category.* '+
	' from dbo.Category(NOLOCK) where 1=1 ' + @Query + ')t1 where t1.RowNumber>=' + cast(@Top as varchar) + ' and t1.RowNumber <=' + cast(@Bottom as varchar)
		
	exec dbo.sp_ExecuteSql @RecQuery
end


GO
