USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[GeneralSettingAddEdit]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GeneralSettingAddEdit]  
 -- Add the parameters for the stored procedure here   
 @keyword varchar(200)='',  
 @value varchar(Max)='',  
 @ReturnVal int output  
AS  
BEGIN  
  
 -- SET NOCOUNT ON added to prevent extra result sets from  
 -- interfering with SELECT statements.  
 SET NOCOUNT ON;  
 Set @ReturnVal = 0  
    -- Insert statements for procedure here  
declare @count int  
select @count = count(*) from GeneralSetting where keyword = @keyword  
if(@count != 0)  
begin  
 update GeneralSetting set [value] = @value  
 where keyword = @keyword  
 Set @ReturnVal = (select id from GeneralSetting where keyword = @keyword)  
 --Set @ReturnVal =1  
end  
else  
 begin  
 insert into GeneralSetting(keyword,[value]) values(@keyword,@value)  
 Set @ReturnVal = scope_identity()  
 end  
END


GO
