USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserValidateClientRequest]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserValidateClientRequest]    
 @UserID int=0,
 @AuthToken varchar(200)='',
 @ReturnVal int OUT     
AS    
BEGIN
 SET NOCOUNT ON;
 SELECT @ReturnVal = 0
 
 IF EXISTS(SELECT 1 FROM Users WHERE ID = @UserID AND AuthToken = @AuthToken)
 BEGIN
	 SELECT @ReturnVal = 1
 END	
END


GO
