USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessUsersDropdown]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessUsersDropdown]
as
begin
	SET NOCOUNT ON;	
	SELECT * FROM Business(NOLOCK) Where Issalesadmin = 0 ORDER BY Name ASC
	SELECT * FROM Users(NOLOCK)  ORDER BY Name ASC


end


GO
