USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessValidateClientRequest]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessValidateClientRequest]    
 @UserID int=0,
 @AuthToken varchar(500)='',
 @ReturnVal int OUT     
AS    
BEGIN
 SET NOCOUNT ON;
 SELECT @ReturnVal = 0
 
 IF EXISTS(SELECT 1 FROM BusinessAuthToken WHERE BusinessID = @UserID AND AuthToken = @AuthToken)
 BEGIN
	 SELECT @ReturnVal = 1
 END	
END


GO
