USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBusinessTypes]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UpdateBusinessTypes]
 @ID BIGINT,   
 @BusinessTypes varchar(500)='',  
 @ReturnVal BIGINT OUTPUT    
as    
BEGIN    
 SET NOCOUNT ON;
	EXEC [dbo].[BusinessUpdateLastLogin] @ID
	--------- UPDATE Business Category
	UPDATE BusinessCategory set [Status] = 0 where BusinessID = @ID
				
	UPDATE BusinessCategory set [Status] = 1 where BusinessID = @ID and CategoryID in (select items from dbo.Fun_SplitStr(@BusinessTypes,','))
				
	INSERT INTO BusinessCategory(BusinessID,CategoryID)
	SELECT @ID, items from 
	(
		SELECT a.Items from dbo.Fun_SplitStr(@BusinessTypes,',') a
		WHERE a.Items NOT IN(select CategoryID from BusinessCategory where BusinessID = @ID)
	)t1
				
	DELETE FROM BusinessCategory where BusinessID = @ID and [Status] = 0 
	--------- UPDATE Business Category

	SET @ReturnVal = 1
	
     
END



GO
