USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[ConfirmCollected]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ConfirmCollected]
@OrderID BIGINT = 0
AS
BEGIN	
	SET NOCOUNT ON;
	UPDATE BusinessOrder SET IsCollected = 1	
    WHERE  BusinessOrder.ID = @OrderID
END


GO
