USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[FAQList]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[FAQList]     --2
 @ID int=0,    
 @Question varchar(max)='',    
 @Answer varchar(max)='',    
 @TotalRecords  int=0 output,    
 @CurrentPage int=1 output,    
 @RecordPerPage int=10,    
 @SortOrd varchar(5)='DESC',    
 @SortColumn varchar(15)='ID',    
 @Status tinyint=2  
as    
begin    
 set nocount on    
     
 declare @Query as varchar(1000)    
 declare @vchrRecQuery as nvarchar(2500)    
 set @Query=''    
 --for sql injection    
 set @Question = [dbo].[RemoveSpecialCharacter](@Question)    
    
 if @ID<>0    
  set @Query=@Query + ' and ID =' + cast(@ID as varchar)    
 if @Question<>''    
  set @Query=@Query + ' and Question like ''%' + @Question + '%'''    
 if @Status<>2    
  set @Query=@Query + ' and Status =' + cast(@Status as varchar)    
     
    
 
    
    
 declare @intMaxPage int    
 set @vchrRecQuery='select @TotalRecords=count(1) from dbo.FAQ where 1=1 ' + @Query    
 
 exec dbo.sp_ExecuteSql @vchrRecQuery,N'@TotalRecords int output',@TotalRecords output    
     
 set @intMaxPage=ceiling(isnull(@TotalRecords,0) / (@RecordPerPage * 1.0))      
     
 if @intMaxPage < @CurrentPage    
 begin    
  if @intMaxPage<=0    
   set @CurrentPage = 1    
  else    
   set @CurrentPage = @intMaxPage                   
 end    
     
 declare @intTop as int    
 declare @intBottom as int    
 set @intTop=((@CurrentPage - 1) * @RecordPerPage + 1)    
 set @intBottom = (@CurrentPage * @RecordPerPage)     
    
 /*set @vchrRecQuery='select * from (select row_number() over (order by '+ @SortColumn + ' ' + @SortOrd + ') as RowNumber,ID,Question,Answer,Status,CreatedOn from dbo.faq where 1=1 ' + @Query + ')t1 where t1.RowNumber>=' + cast(@intTop as   varchar) + ' and t1.RowNumber <=' + cast(@intBottom as varchar)    */
 
  set @vchrRecQuery='select * from (select row_number() over (order by '+ @SortColumn + ' ' + @SortOrd + ') as RowNumber,ID,Question,Answer,Status,SequenceNo,CreatedOn from dbo.faq where 1=1 ' + @Query + ')t1 where t1.RowNumber>=' + cast(@intTop as varchar) + ' and t1.RowNumber <=' + cast(@intBottom as varchar)+' order by SequenceNo'
 print @vchrRecQuery    
 exec dbo.sp_ExecuteSql @vchrRecQuery    
end




GO
