USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[FavouriteList]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FavouriteList]
	@ID bigint = 0,	
	@Keyword VARCHAR(MAX) ='',
	@TotalRecord  int=0 output,
	@CurrentPage int=1 output,
	@RecordPerPage int=10,
	@SortOrd varchar(5)='DESC',
	@SortColumn varchar(50)='UserFavouriteBusiness.ID'
as
begin
	set nocount on
	
	declare @Query as varchar(1000)
	declare @RecQuery as nvarchar(2500)
	set @Query=''

	if @ID<>0
		set @Query=@Query + ' and ID =' + cast(@ID as varchar)
	if @Keyword <> ''
		set @Query= @Query +' and (Business.Name like ''%' + @Keyword + '%'' or Users.Email like ''%' + @Keyword + '%''  or Users.Name like ''%' + @Keyword + '%'')'
	
	declare @MaxPage int
	set @RecQuery='select @TotalRecord=count(1) from dbo.UserFavouriteBusiness(NOLOCK) 
	inner join Business(nolock) on Business.ID = UserFavouriteBusiness.BusinessID
	inner join Users(nolock) on Users.ID = UserFavouriteBusiness.UserID
	where 1=1 ' + @Query 		
	exec dbo.sp_ExecuteSql @RecQuery,N'@TotalRecord int output',@TotalRecord output
	
	set @MaxPage=ceiling(isnull(@TotalRecord,0) / (@RecordPerPage * 1.0))		
	
	if @MaxPage < @CurrentPage
	begin
		if @MaxPage<=0
			set @CurrentPage = 1
		else
			set @CurrentPage = @MaxPage															
	end
	
	declare @Top as int
	declare @Bottom as int
	set @Top=((@CurrentPage - 1) * @RecordPerPage + 1)
	set @Bottom = (@CurrentPage * @RecordPerPage)	
	
	
	set @RecQuery='select * from (select row_number() over (order by '+ @SortColumn + ' ' + @SortOrd + ') as RowNumber,
	UserFavouriteBusiness.*, Users.Name, Users.Email, Users.Mobile, Business.Name as BusinessName  '+
	' from dbo.UserFavouriteBusiness(NOLOCK) 
	inner join Business(nolock) on Business.ID = UserFavouriteBusiness.BusinessID
	inner join Users(nolock) on Users.ID = UserFavouriteBusiness.UserID
	where 1=1 ' + @Query + ')t1 where t1.RowNumber>=' + cast(@Top as varchar) + ' and t1.RowNumber <=' + cast(@Bottom as varchar)
	
	print @RecQuery
	
	exec dbo.sp_ExecuteSql @RecQuery
end

GO
