USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminCommon]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminCommon]
	@ID int = 0,
	@FirstName varchar(50) = '',
	@LastName varchar(50) = '',
	@EmailId varchar(100) = '',
	@Password varchar(128) = '',
	@Phone varchar(30) = '',
	@IsSupAdmin bit = 0,
    
    @Action int = 0, -- 0 = NONE, 1 = INSERT / UPDATE, 2 = DELETE, 3 = Activate, 4 = Deactivate, 5 = SELECT
    @ErrorOut varchar(2000) = '' output,
    @IDs varchar(max)='',
    @TotalRecords int=0 output,
	@CurrentPage int=1 output,
	@RecordPerPage int=2000000000,
	@SortOrd varchar(5)='DESC',
	@SortColumn varchar(20)='ID'
AS
BEGIN
	SET NOCOUNT ON;
	
    --REGION Task Constants
    DECLARE @tintInsertUpdate AS tinyint, @tintDelete AS tinyint, @tintActivate AS tinyint, @tintDeactivate As tinyint, @tintSelect As tinyint, @tintSelectWithId as tinyint
    SET @tintInsertUpdate = 1
    SET @tintDelete = 2
    SET @tintActivate = 3
    SET @tintDeactivate = 4
    SET @tintSelect = 5
    SET @tintSelectWithId = 6
    --ENDREGION
    
    --REGION Insert Update
    IF @Action = @tintInsertUpdate BEGIN
		-- EmailId check unique
		IF EXISTS (SELECT 1 FROM [Admin] WHERE EmailId = @EmailId AND ID <> @ID) BEGIN
			SET @ErrorOut = 'Email Id'
			RETURN -1
		END
        IF @ID IS NULL OR @ID = 0 BEGIN  -- INSERT NEW RECORD
			INSERT INTO [Admin]
			(
				FirstName,
				LastName,
				EmailId,
				Password,
				Phone,
				IsSupAdmin
			)
			VALUES
			(
				@FirstName,
				@LastName,
				@EmailId,
				@Password,
				@Phone,
				@IsSupAdmin
			)
            RETURN SCOPE_IDENTITY()
        END
        ELSE IF EXISTS (SELECT 1 FROM [Admin] WHERE ID = @ID) BEGIN
			UPDATE [Admin] SET
				FirstName = @FirstName,
				LastName = @LastName,
				EmailId = @EmailId,
				Password = @Password,
				Phone = @Phone,
				IsSupAdmin = @IsSupAdmin
			WHERE ID = @ID
            RETURN @ID
        END
    END
    --ENDREGION
    
    --REGION Delete
	IF @Action = @tintDelete BEGIN
        DELETE FROM [Admin] WHERE ID IN (SELECT items FROM dbo.Fn_SplitStr(@IDs,','))
        RETURN @@ROWCOUNT
    END
	--ENDREGION
    
    --REGION Activate
	IF @Action = @tintActivate BEGIN
        UPDATE [Admin] SET Status = 1 WHERE ID IN (SELECT items FROM dbo.Fn_SplitStr(@IDs,','))
        RETURN 1
    END
	--ENDREGION
    
    --REGION Deactivate
	IF @Action = @tintDeactivate BEGIN
        UPDATE [Admin] SET Status = 0 WHERE ID IN (SELECT items FROM dbo.Fn_SplitStr(@IDs,','))
        RETURN 1
    END
	--ENDREGION
    
    --REGION Select
    IF @Action = @tintSelect BEGIN

		SET @FirstName = dbo.ReplaceSingleQuote(@FirstName)
		SET @LastName = dbo.ReplaceSingleQuote(@LastName)
		SET @EmailId = dbo.ReplaceSingleQuote(@EmailId)
		SET @Password = dbo.ReplaceSingleQuote(@Password)
		SET @Phone = dbo.ReplaceSingleQuote(@Phone)        
        DECLARE @vchrQuery AS VARCHAR(1000)
	    DECLARE @vchrRecQuery AS NVARCHAR(2500)
	    SET @vchrQuery=''

	    IF @ID <> 0 SET @vchrQuery=@vchrQuery + ' AND ID =' + cast(@ID AS VARCHAR(100)) 
		IF @FirstName <> '' SET @vchrQuery=@vchrQuery + ' AND FirstName LIKE ''' + @FirstName + '%'''
		IF @LastName <> '' SET @vchrQuery=@vchrQuery + ' AND LastName LIKE ''' + @LastName + '%'''
		IF @EmailId <> '' SET @vchrQuery=@vchrQuery + ' AND EmailId LIKE ''' + @EmailId + '%'''
		IF @Password <> '' SET @vchrQuery=@vchrQuery + ' AND Password LIKE ''' + @Password + '%'''
		IF @Phone <> '' SET @vchrQuery=@vchrQuery + ' AND Phone LIKE ''' + @Phone + '%'''

		If @IsSupAdmin=0 SET @vchrQuery=@vchrQuery + ' And IsSupAdmin=' + convert(varchar,@IsSupAdmin)

	    
        DECLARE @intMaxPage INT
	    SET @vchrRecQuery = 'SELECT @TotalRecords=COUNT(1) FROM [Admin] WHERE 1=1 ' + @vchrQuery
	    EXEC dbo.sp_ExecuteSql @vchrRecQuery,N'@TotalRecords int output',@TotalRecords OUTPUT
	
	    SET @intMaxPage=CEILING(ISNULL(@TotalRecords,0) / (@RecordPerPage * 1.0))		
	
	    IF @intMaxPage < @CurrentPage
        BEGIN
            IF @intMaxPage <= 0
                SET @CurrentPage = 1
            ELSE
                SET @CurrentPage = @intMaxPage															
        END
	
        DECLARE @intTop AS INT
        DECLARE @intBottom AS INT
        SET @intTop=((@CurrentPage - 1) * @RecordPerPage + 1)
        SET @intBottom = (@CurrentPage * @RecordPerPage)	

	    SET @vchrRecQuery='SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY '+ @SortColumn + ' ' + @SortOrd + ') as RowNumber,'+
	    '[Admin].* from [Admin] where 1=1 ' + @vchrQuery + ')t1 where t1.RowNumber>=' + cast(@intTop as varchar) + ' and t1.RowNumber <=' + cast(@intBottom as varchar)
	
	    EXEC dbo.sp_ExecuteSql @vchrRecQuery
    END
    --ENDREGION
    
    --REGION Select by ID
    IF @Action = @tintSelectWithId BEGIN
		SELECT * FROM [Admin] WHERE ID = @ID
    END
    --ENDREGION
END


GO
