USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateBusinessWhatToExpact]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UpdateBusinessWhatToExpact]
 @ID BIGINT,   
 @FoodItems varchar(500)='',  
 @ReturnVal BIGINT OUTPUT    
as    
BEGIN    
 SET NOCOUNT ON;
	EXEC [dbo].[BusinessUpdateLastLogin] @ID

	--------- UPDATE Business Food Items
	UPDATE BusinessFoodItems set [Status] = 0 where BusinessID = @ID
				
	UPDATE BusinessFoodItems set [Status] = 1 where BusinessID = @ID and FoodItemID in (select items from dbo.Fun_SplitStr(@FoodItems,','))
				
	INSERT INTO BusinessFoodItems(BusinessID,FoodItemID)
	SELECT @ID, items from 
	(
		SELECT a.Items from dbo.Fun_SplitStr(@FoodItems,',') a
		WHERE a.Items NOT IN(select FoodItemID from BusinessFoodItems where BusinessID = @ID)
	)t1
				
	DELETE FROM BusinessFoodItems where BusinessID = @ID and [Status] = 0 
	--------- UPDATE Business Food Items

	SET @ReturnVal = 1
	
     
END


GO
