USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessUpdateLastLogin]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



	CREATE PROCEDURE [dbo].[BusinessUpdateLastLogin]
		@ID bigint=0
	AS
	BEGIN
		SET NOCOUNT ON	
		UPDATE Business SET  LastLoginDateTime = dbo.Fun_australiaDateTime()
		WHERE ID = @ID
		
	END



GO
