USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[CMSModify]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CMSModify]  
 @ID int=0,  
 @PageTitle varchar(200)='',  
 @PageUrl varchar(250)='',  
 @PageDescription ntext='',  
 @CMSMetaTitle varchar(200)='',  
 @CMSMetaKeyword varchar(500)='',  
 @CMSMetaDescription varchar(500)='',  
 @ImageName varchar(100)='',   
 @HeadText varchar(MAX)='',  
 @BodyFooterText varchar(MAX)='',  
 @ShowEnquiryForm bit=0,  
 @ReturnVal int=0 output  
as  
begin  
 set nocount on  
 set @ReturnVal = 0  
   
 set @PageTitle = dbo.[PreventSQLInjection](@PageTitle)  
 set @CMSMetaTitle = dbo.[PreventSQLInjection](@CMSMetaTitle)  
 set @CMSMetaKeyword = dbo.[PreventSQLInjection](@CMSMetaKeyword)  
 set @CMSMetaDescription = dbo.[PreventSQLInjection](@CMSMetaDescription)  
 --if @ImageName = ''  
 -- set @ImageName = 'inner-banner.jpg'  
   if @PageUrl = ''  
   set @PageUrl= dbo.Fun_UrlString(@PageTitle)    
 IF @ID = 0  
 Begin  
  if not exists(select 1 from dbo.CMS where PageUrl =@PageUrl or PageTitle =@PageTitle)  
  Begin  
   Insert into dbo.CMS(PageTitle,PageUrl,PageDescription,CMSMetaTitle,CMSMetaKeyword,CMSMetaDescription, CreatedOn, ImageName,HeadText,BodyFooterText,ShowEnquiryForm)  
   values(@PageTitle,@PageUrl,@PageDescription,@CMSMetaTitle,@CMSMetaKeyword,@CMSMetaDescription, getdate(), @ImageName,@HeadText,@BodyFooterText,@ShowEnquiryForm)  
   set @ReturnVal=scope_Identity()  
  End  
  else  
   set @ReturnVal= -1  
 End  
 Else  
 Begin  
  if not exists(select 1 from dbo.CMS where PageUrl = @PageUrl and ID <> @ID)  
  Begin  
   Update dbo.CMS set  
    PageTitle =@PageTitle,  
    PageUrl =@PageUrl,  
    PageDescription =@PageDescription,  
    CMSMetaTitle= @CMSMetaTitle,  
    CMSMetaKeyword = @CMSMetaKeyword,  
    CMSMetaDescription= @CMSMetaDescription,  
    ImageName = @ImageName,  
    CreatedOn = getdate(),  
    HeadText=@HeadText,  
    BodyFooterText=@BodyFooterText,  
    ShowEnquiryForm = @ShowEnquiryForm  
    where ID =@ID  
   set @ReturnVal =@ID  
  End  
  else  
   set @ReturnVal= -1  
 End  
   
End


GO
