USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessCurrentDayOrders]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BusinessCurrentDayOrders]--13
@BusinessID BIGINT=0,
@AuthToken VARCHAR(2000) = ''
AS
BEGIN
	SET NOCOUNT ON;
	EXEC [dbo].[BusinessUpdateLastLogin] @BusinessID

	UPDATE BusinessAuthToken SET NotificationCount = 0 WHERE BusinessID = @BusinessID AND AuthToken = @AuthToken
	
	SELECT B.ID, B.Name, B.FullName, B.EmailAddress, OriginalPrice, PickupFromTime, PickupToTime,0 AS DiscountID,
	ISNULL(DiscountValue,0) AS DiscountValue,
	ISNULL(BS.NoOfItems, 0) AS TotalQty, ISNULL(V.PurchaseQty, 0) AS PurchaseQty, (ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0)) AS RemainingQty
	FROM  Business(NOLOCK) AS B 
	INNER JOIN BusinessScheduleCurrentDay(NOLOCK) AS BS ON BS.BusinessID = B.ID AND CAST(BS.CurrentDate AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 	
	LEFT OUTER JOIN VW_BusinessCurrentDayPurchaseQty AS V ON V.BusinessID = B.ID	
	WHERE (B.Status = 1) AND (B.IsSalesAdmin = 0) AND B.ID = @BusinessID
	

	SELECT  Users.Name, Users.Email, Users.Mobile, BusinessOrderProduct.Qty, BusinessOrder.IsCollected, BusinessOrder.CreatedOn
	, (BusinessOrder.GrandTotal - ISNULL(BusinessOrder.TransactionFee,0)- ISNULL(BusinessOrder.Donation,0)) AS GrandTotal
	FROM BusinessOrder(NOLOCK)
	INNER JOIN BusinessOrderProduct(NOLOCK) ON BusinessOrder.ID = BusinessOrderProduct.OrderID 
	INNER JOIN Users(NOLOCK) ON BusinessOrder.UserID = Users.ID
	WHERE BusinessOrderProduct.BusinessID = @BusinessID AND CAST(BusinessOrder.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 	
	
END

GO
