USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[DonationsOperation]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DonationsOperation]  
 @ID varchar(2000)='',  
 @OprType smallint=2  
as  
begin  
 set nocount on  
   
 if @OprType=1  
 begin  
  -- Delete the news  
  delete from dbo.Donations where ID in (select items from dbo.Fun_SplitStr(@ID,','))  
    
 end  
 else if @OprType=2  
 begin  
  update dbo.Donations set Status=1 where ID in (select items from dbo.Fun_SplitStr(@ID,','))  
    
 end  
 else if @OprType=3  
 begin  
  update dbo.Donations set Status=0 where ID in (select items from dbo.Fun_SplitStr(@ID,','))  
    
 end  
end








GO
