USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserProfileUpdate]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserProfileUpdate]  
 @ID BIGINT = 0, 
 @Name VARCHAR(500),  
 @Email varchar(500) = '', 
 @Mobile varchar(20) = '',  
 @BirthDate DATETIME = NULL,
 @Gender varchar(100)='',
 @StreetAddress varchar(500)='',
 @Location  varchar(500)='',
 @ReturnVal int output  
AS  
BEGIN  
 SET NOCOUNT ON;
 SET @ReturnVal = 0
  
 IF @ID > 0  
 BEGIN	
  
	IF CAST(@BirthDate AS DATE) <> '01/01/1900'
	BEGIN
		UPDATE Users SET		   
			  Name = @Name, 			  
			  Mobile=@Mobile, 
			  Email=@Email, 
			  BirthDate =@BirthDate,
			  Gender =@Gender ,
			  StreetAddress =@StreetAddress, 
			  Location  =@Location 			 		  
			  WHERE ID=@ID  
	END
	ELSE
	BEGIN
		  UPDATE Users SET		   
			  Name = @Name, 			  
			  Mobile=@Mobile, 
			  Email=@Email, 			  
			  Gender =@Gender ,
			  StreetAddress =@StreetAddress, 
			  Location  =@Location 			 		  
			  WHERE ID=@ID  
	END
			  
	SET @ReturnVal=@ID  
  END  
  ELSE
		SET @ReturnVal=-1  
   
END


GO
