USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[GeneralSettingList]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GeneralSettingList]  
  
AS  
Begin  
 SET NOCOUNT ON;  
  
 select * from GeneralSetting  
End


GO
