USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminDashBoard]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AdminDashBoard]
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT SUM(SoldQty) AS SoldQty, SUM(TotalAmountBeforeBMH) AS TotalAmountBeforeBMH, SUM(BMH) AS BMH, SUM(GrandTotal) AS GrandTotal, SUM(Donation) AS Donation,SUM(TransactionFee) AS TransactionFee FROM
	(
		SELECT SUM(Qty) AS SoldQty, 
		--SUM(ISNULL(Donation, 0) + ISNULL(ItemPrice, 0) + ISNULL(TransactionFee, 0) - BusinessOrder.BringMeHomeFee) AS TotalAmountBeforeBMH
		SUM( ISNULL(ItemPrice, 0) - BusinessOrder.BringMeHomeFee) AS TotalAmountBeforeBMH
		, SUM(BusinessOrder.BringMeHomeFee) BMH, SUM(BusinessOrder.GrandTotal - ISNULL(TransactionFee, 0)- ISNULL(Donation, 0)) GrandTotal
		,SUM(Donation) AS Donation,SUM(TransactionFee) AS TransactionFee
		FROM BusinessOrder(NOLOCK)
		INNER JOIN BusinessOrderProduct(NOLOCK) ON BusinessOrder.ID = BusinessOrderProduct.OrderID	
		WHERE CAST(CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
		GROUP BY BusinessID 
	)t1

	
END
GO
