USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[prc_AdminPageModify]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[prc_AdminPageModify] --'access-denied.aspx#add-privilege.aspx#add-toppanel.aspx#admin-list.aspx#admin-modify.aspx#banner-list.aspx#banner-modify.aspx#cms-list.aspx#cms-modify.aspx#contactus-list.aspx#dashboard-list.aspx#dashboard-modify.aspx#default.aspx#emailtemplate-list.aspx#emailtemplate-modify.aspx#enquirenow-list.aspx#faq-list.aspx#faq-modify.aspx#gallary-list.aspx#gallery-modify.aspx#general-setting.aspx#home.aspx#homepagebox-list.aspx#homepagebox-modify.aspx#homepageservice-list.aspx#homepageservice-modify.aspx#login.aspx#menu-list.aspx#menu-modify.aspx#messagexml.aspx#module-add.aspx#module-list.aspx#module-rights.aspx#news-list.aspx#news-modify.aspx#popupform.aspx#popupformadd.aspx#popupmenulist.aspx#privilege-list.aspx#sponser-image-upload.aspx#sponser-partners.aspx#testimonial-list.aspx#testimonial-modify.aspx#toppanel-list.aspx#webpage-assign.aspx'
 @varAdminPageName varchar(max)    
as    
begin    
 set nocount on    
 truncate table  dbo.AdminPage   
 declare @WebPage varchar(100)    
 declare c1 cursor    
 for select items from dbo.Fun_SplitStr(@varAdminPageName,'#')    
 open c1    
  fetch c1 into @WebPage    
  while @@fetch_status=0    
  begin    
   if not exists(select 1 from dbo.AdminPage where varAdminPageName=@WebPage)    
   insert into dbo.AdminPage (varAdminPageName) values (@WebPage)    
   fetch c1 into @WebPage    
  end    
 close c1    
 deallocate c1    
end


GO
