USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserOrders]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UserOrders]-- 2,1
@UserID BIGINT = 0
AS
BEGIN	
	SET NOCOUNT ON;
	SELECT BusinessOrder.ID AS OrderID, Business.ID AS BusinessID, Business.Name AS BusinessName, Business.BusinessPhone, Business.Mobile, 
          Business.StreetAddress, Business.Location, BusinessOrder.UserID, BusinessOrderProduct.PickupFromTime, BusinessOrderProduct.PickupToTime, 
          BusinessOrder.CreatedOn AS PickupDate, BusinessOrderProduct.Qty, BusinessOrderProduct.OriginalPrice, BusinessOrder.ItemPrice, BusinessOrder.TransactionFee, 
          BusinessOrder.BringMeHomeFee, BusinessOrder.GrandTotal, BusinessOrder.Donation, BusinessOrder.IsCollected
	FROM BusinessOrder(NOLOCK) 
	INNER JOIN BusinessOrderProduct ON BusinessOrder.ID = BusinessOrderProduct.OrderID 
	INNER JOIN Business ON BusinessOrderProduct.BusinessID = Business.ID
        WHERE  BusinessOrder.UserID = @UserID
	ORDER By BusinessOrder.CreatedOn DESC
	
END


GO
