USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserOrdersReport]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserOrdersReport]
--   [dbo].[UserOrdersReport] 0,51,0,'','08/01/2017','08/21/2018'
	@ID bigint = 0,
	@BusinessID bigint = 0,
	@UserID bigint = 0,	
	@Email varchar(200)='',
	@StartDate DATETIME='01/01/1900',
	@EndDate DATETIME='01/01/1900',	
	@TotalRecord  int=0 output,
	@CurrentPage int=1 output,
	@RecordPerPage int=-1,
	@SortOrd varchar(5)='DESC',
	@SortColumn varchar(45)='BusinessOrder.ID'
as
begin
	set nocount on	

	declare @Query as varchar(1000)
	declare @RecQuery as nvarchar(2500)
	set @Query=''

	if @ID<>0
		set @Query=@Query + ' and BusinessOrder.ID =' + cast(@ID as varchar)
	if @BusinessID<>0
		set @Query=@Query + ' and BusinessID =' + cast(@BusinessID as varchar)
	if @UserID<>0
		set @Query=@Query + ' and UserID =' + cast(@UserID as varchar)	
	if @Email <> ''
		set @Query=@Query + ' and Email like ''' + @Email + '%'''


	if convert(varchar(20),@StartDate,101) <> '01/01/1900' AND convert(varchar(20),@EndDate ,101)<> '01/01/1900' 
	BEGIN
		set @Query=@Query + ' and CAST(BusinessOrder.CreatedOn AS Date) >= CAST('''+ convert(varchar(20),@StartDate,101) +''' AS Date) AND CAST(BusinessOrder.CreatedOn AS Date) <= CAST('''+ convert(varchar(20),@EndDate ,101) +''' AS Date) '	
		
	END
	print @Query
	declare @MaxPage int
	set @RecQuery='SELECT @TotalRecord=count(1) 
						FROM   BusinessOrder(NOLOCK)
						INNER JOIN BusinessOrderProduct ON BusinessOrder.ID = BusinessOrderProduct.OrderID 
						INNER JOIN Business ON BusinessOrderProduct.BusinessID = Business.ID 
						LEFT JOIN Users ON BusinessOrder.UserID = Users.ID 
						--INNER JOIN Discount ON BusinessOrderProduct.DiscountID = Discount.ID	
	 where 1=1 ' + @Query 		
	exec dbo.sp_ExecuteSql @RecQuery,N'@TotalRecord int output',@TotalRecord output
	
	set @MaxPage=ceiling(isnull(@TotalRecord,0) / (@RecordPerPage * 1.0))		
	
	if @MaxPage < @CurrentPage
	begin
		if @MaxPage<=0
			set @CurrentPage = 1
		else
			set @CurrentPage = @MaxPage															
	end
	
	declare @Top as int
	declare @Bottom as int
	set @Top=((@CurrentPage - 1) * @RecordPerPage + 1)
	set @Bottom = (@CurrentPage * @RecordPerPage)	
	
	 if @RecordPerPage = -1      
	 begin      
	   SET @RecQuery='select * from (select  
	   BusinessOrder.CreatedOn [Order Date],Users.Name AS [User],Business.Name as Vendor, 
	   Business.StreetAddress + '' '' + Business.Location as [PurchaseLocation]
	   ,Users.Email as [User Email],BusinessOrderProduct.OriginalPrice as [Unit Price]
	   ,(BusinessOrderProduct.OriginalPrice - DiscountValue) AS [Discounted Price]
	   ,BusinessOrderProduct.Qty, BusinessOrder.ItemPrice as [Total Price],BusinessOrder.Donation,BusinessOrder.TransactionFee as [Transaction Fee],
	   BusinessOrder.BringMeHomeFee as [BMH Fee],BusinessOrder.GrandTotal as [Grand Total], 	   
	   case when  BusinessOrder.IsCollected = 0 then ''NO'' else ''YES'' end as [Collected?]
		FROM   BusinessOrder(NOLOCK)
						INNER JOIN BusinessOrderProduct ON BusinessOrder.ID = BusinessOrderProduct.OrderID 
						INNER JOIN Business ON BusinessOrderProduct.BusinessID = Business.ID 
						LEFT JOIN Users ON BusinessOrder.UserID = Users.ID 
						--INNER JOIN Discount ON BusinessOrderProduct.DiscountID = Discount.ID	  
	  where 1=1 ' + @Query + ')t1 '    
    
	 end      
	 else      
	 begin 
		set @RecQuery='SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY '+ @SortColumn + ' ' + @SortOrd + ') AS RowNumber,
		BusinessOrder.UserID, BusinessOrder.Donation, BusinessOrder.ItemPrice, BusinessOrder.TransactionFee, BusinessOrder.BringMeHomeFee, 
		BusinessOrder.GrandTotal, BusinessOrder.CreatedOn, BusinessOrder.IsCollected, BusinessOrderProduct.BusinessID, BusinessOrderProduct.Qty, 
		BusinessOrderProduct.OriginalPrice, 0 AS DiscountID, BusinessOrderProduct.DiscountValue AS Discount, Users.Name AS UserName, Users.Mobile, Users.Email
		,Business.Name as BusinessName		
		,Business.StreetAddress + '' '' + Business.Location as [PurchaseLocation]
		FROM   BusinessOrder(NOLOCK)
						INNER JOIN BusinessOrderProduct ON BusinessOrder.ID = BusinessOrderProduct.OrderID 
						INNER JOIN Business ON BusinessOrderProduct.BusinessID = Business.ID 
						LEFT JOIN Users ON BusinessOrder.UserID = Users.ID 
						--INNER JOIN Discount ON BusinessOrderProduct.DiscountID = Discount.ID	
		 WHERE 1=1 ' + @Query + ')t1 WHERE t1.RowNumber>=' + cast(@Top as varchar) + ' AND t1.RowNumber <=' + cast(@Bottom as varchar)
	end
	print @RecQuery
	
	exec dbo.sp_ExecuteSql @RecQuery
end



GO
