USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[EmailTemplateByID]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EmailTemplateByID]
	@ID int=0,
	@Type int = 0	
as
begin
	set nocount on
	if @Type=1
	begin 		
		--select TemplateName,((select template from EmailTemplate where templatename = 'Header') + Template + (select template from EmailTemplate where templatename = 'Footer')) as template,Subject from dbo.EmailTemplate
		select TemplateName, Template  as template,Subject from dbo.EmailTemplate
		where ID=@ID	
	end
	else
	begin
		select TemplateName,Template,Subject from dbo.EmailTemplate
		where ID=@ID	
	end
end


GO
