USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserRemoveCard]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserRemoveCard]
@UserID BIGINT = 0,
@CardID BIGINT = 0
AS
BEGIN
	SET NOCOUNT ON;
	
	IF EXISTS(SELECT 1 FROM UserCreditCards(NOLOCK) WHERE UserID = @UserID AND ID = @CardID)
	BEGIN
		DELETE FROM UserCreditCards WHERE UserID = @UserID AND ID = @CardID
	END
END

GO
