USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[MenuOperation]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MenuOperation]
	@ID varchar(2000)='',
	@OprType smallint=2,
	@ReturnVal int  = 0 output
as
begin
	set nocount on
	set @ReturnVal = 0
	if @OprType=1
	begin
		if not exists(select 1 from dbo.Menu where ParentID in (select items from dbo.Fun_SplitStr(@ID,',')))
		begin
			delete from dbo.Menu where ID in (select items from dbo.Fun_SplitStr(@ID,','))
			exec MenuListTree
		end
		else
			set @ReturnVal = -1		
	end
	else if @OprType=2
	begin
		update dbo.Menu set Status=1 where ID in (select items from dbo.Fun_SplitStr(@ID,','))
		
	end
	else if @OprType=3
	begin
		update dbo.Menu set Status=0 where ID in (select items from dbo.Fun_SplitStr(@ID,','))
		
	end
end


GO
