USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessCurrentDayScheduleUpdate_CronJob]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BusinessCurrentDayScheduleUpdate_CronJob]
 @BusinessID BIGINT,
 @NoOfItems INT=0,
 @OriginalPrice DECIMAL(18,2)=0,
 @DiscountValue DECIMAL(18,2)=0,
 @PickupFromTime DATETIME,
 @PickupToTime DATETIME 
AS    
BEGIN    
 SET NOCOUNT ON;    
     
     DECLARE @CurrentDate DATETIME 
     SELECT @CurrentDate = dbo.Fun_australiaDateTime()     
     
     IF EXISTS(SELECT 1 FROM BusinessScheduleCurrentDay(NOLOCK) WHERE BusinessID = @BusinessID AND CAST(CurrentDate AS DATE) = CAST(@CurrentDate AS DATE))
     BEGIN
		UPDATE BusinessScheduleCurrentDay
			SET NoOfItems = @NoOfItems,
				OriginalPrice = @OriginalPrice,
				ScheduleOn = 1,
				DiscountValue = @DiscountValue,
				PickupFromTime = @PickupFromTime,
				PickupToTime = @PickupToTime
			WHERE BusinessID = @BusinessID 
				AND CAST(CurrentDate AS DATE) = CAST(@CurrentDate AS DATE)
				
		INSERT INTO BusinessScheduleCurrentDayTemp
        (BusinessID, ScheduleOn, NoOfItems, OriginalPrice, DiscountValue, PickupFromTime, PickupToTime, CurrentDate)
		VALUES (@BusinessID,1,@NoOfItems,@OriginalPrice,@DiscountValue,@PickupFromTime,@PickupToTime,@CurrentDate)
		
		 
     END
     ELSE
     BEGIN
			INSERT INTO BusinessScheduleCurrentDay
				(
					BusinessID,
					ScheduleOn,
					NoOfItems,
					OriginalPrice,
					DiscountValue,
					PickupFromTime,
					PickupToTime,
					CurrentDate
				)
				VALUES
				(
					 @BusinessID,
					 1,
					 @NoOfItems,
					 @OriginalPrice,
					 @DiscountValue,
					 @PickupFromTime,
					 @PickupToTime,
					 @CurrentDate					 
				)

		INSERT INTO BusinessScheduleCurrentDayTemp
        (BusinessID, ScheduleOn, NoOfItems, OriginalPrice, DiscountValue, PickupFromTime, PickupToTime, CurrentDate)
		VALUES (@BusinessID,1,@NoOfItems,@OriginalPrice,@DiscountValue,@PickupFromTime,@PickupToTime,@CurrentDate)
		
				
     END
     
     
    
END
GO
