USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UserContactUSByID]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UserContactUSByID]
	@ID int=0
as
begin
	set nocount on	
		select UserContactUS.*, ISNULL(Users.Name, '''') as [BusinessName] from dbo.UserContactUS 
		 LEFT JOIN Users ON Users.ID = UserContactUS.BusinessID
		where UserContactUS.ID=@ID		
end



GO
