USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminByID]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminByID]   
@UserID int = 0    
as          
begin          
 set nocount on;          
          
 Select * from dbo.Admin where ID =@UserID and ISNULL(DeletedYN,0)=0
 
end


GO
