USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateNoticationsCountForUsersWithDeviceKey]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[UpdateNoticationsCountForUsersWithDeviceKey] 
@NotificationID BIGINT = 0,
@Users	VARCHAR(MAX) = '',
@Business VARCHAR(MAX) = '',
@UserDeviceKey	VARCHAR(MAX) = '',
@BusinessDeviceKey VARCHAR(MAX) = ''
AS 
BEGIN
SET NOCOUNT ON; 

	IF @Users <> ''
	BEGIN
		UPDATE Users SET NotificationCount = ISNULL(NotificationCount,0) + 1 
			WHERE ID IN(SELECT items FROM dbo.Fun_SplitStr(@Users, '###'))
	END

	IF @Business <> ''
	BEGIN
		UPDATE BusinessAuthToken SET NotificationCount = ISNULL(NotificationCount,0) + 1 
			WHERE BusinessID IN(SELECT items FROM dbo.Fun_SplitStr(@Business, '###'))
	END


	
	-------------------------------USER UPDATE------------------------------------------------------------------------
	DECLARE @UID BIGINT SET @UID = 0
	DECLARE @UDeviceKEY VARCHAR(MAX) SET @UDeviceKEY = ''


	DECLARE curUsers CURSOR FOR 
		select a.items, b.items
		FROm dbo.Fun_SplitStr(@Users,'###') a, dbo.Fun_SplitStr(@UserDeviceKey,'###') b
		where a.id = b.id 

	OPEN curUsers  
	FETCH NEXT FROM curUsers INTO @UID, @UDeviceKEY  

	WHILE @@FETCH_STATUS = 0  
	BEGIN  			

		UPDATE [dbo].[NotificationUsers] SET DeviceKey = @UDeviceKEY, IsSend = 1
		WHERE NotificationID = @NotificationID
			AND UserID =  @UID
			
		FETCH NEXT FROM curUsers INTO  @UID, @UDeviceKEY 
	END 

	CLOSE curUsers  
	DEALLOCATE curUsers 
	-------------------------------------------------------------------------------------------------------


	--------------------------------BUSINESS UPDATE -----------------------------------------------------------------------
	DECLARE @BID BIGINT SET @BID = 0
	DECLARE @BDeviceKEY VARCHAR(MAX) SET @BDeviceKEY = ''


	DECLARE curBusiness CURSOR FOR 
		SELECT a.items, b.items
		FROM dbo.Fun_SplitStr(@Business,'###') a, dbo.Fun_SplitStr(@BusinessDeviceKey,'###') b
		WHERE a.id = b.id 

	OPEN curBusiness  
	FETCH NEXT FROM curBusiness INTO @BID, @BDeviceKEY  

	WHILE @@FETCH_STATUS = 0  
	BEGIN  
			--UPDATE [dbo].[NotificationBusiness] SET DeviceKey = @UDeviceKEY, IsSend = 1
			--WHERE NotificationID = @NotificationID
			--AND UserID =  @UID
		
			--UPDATE [dbo].[NotificationSalesAdmin] SET DeviceKey = @UDeviceKEY, IsSend = 1
			--WHERE NotificationID = @NotificationID
			--AND UserID =  @UID

			INSERT INTO NotificationBusinessAuthTokenLog(NotificationID,UserID,DeviceKey)
			VALUES(@NotificationID, @BID, @BDeviceKEY)

		  FETCH NEXT FROM curBusiness INTO  @BID, @BDeviceKEY 
	END 

	CLOSE curBusiness  
	DEALLOCATE curBusiness 
	-------------------------------------------------------------------------------------------------------



END

GO
