USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[FAQModify]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FAQModify]      
 @ID int,      
 @Question varchar(200)='',      
 @Answer varchar(max)='',      
 @ReturnVal int output      
as      
begin      
 set nocount on      
 set @ReturnVal=0      
 set @Question = dbo.[PreventSQLInjection](@Question)  
 set @Question = dbo.[udf_StripHTML](@Question)
 set @Answer=Ltrim(Rtrim(@Answer))  
 if @ID=0      
 begin      
  if not exists(select 1 from dbo.FAQ where Ltrim(Rtrim(Question))= Ltrim(Rtrim(@Question)))      
  begin            
  declare @SeqNo int          
  set @SeqNo = 0          
    
  --begin          
   select @SeqNo = isnull(Max(SequenceNo),0) from FAQ          
     
   set @SeqNo = @SeqNo + 1          
  --end          
      
       
   insert into dbo.FAQ      
   (Question,Answer,SequenceNo)      
   values      
   (@Question,@Answer,@SeqNo)      
      
   set @ReturnVal=scope_identity()      
  end      
 end      
 else      
 begin      
  if not exists(select 1 from dbo.FAQ where Question=@Question and ID<>@ID)      
  begin      
   update dbo.FAQ set      
    Question=@Question,      
    Answer=@Answer    
          
   where ID=@ID      
   set @ReturnVal=@ID      
  end      
 end      
end

GO
