USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[sp_selectbykeyword]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_selectbykeyword]   
 @keyword varchar(200)  
AS  
BEGIN  
 SET NOCOUNT ON;  
 select * from GeneralSetting where keyword=@keyword    
   
END


GO
