USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[MenuAddUpdate]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[MenuAddUpdate] 0,0,'nghjh','kgghh','false',0,'','',0,0,0,1

CREATE PROCEDURE [dbo].[MenuAddUpdate] 
( 
	@ID int=0, 
	@ParentID int=0, 
	@Name varchar(100) = '', 
	@MenuURL varchar(500) = '', 
	@ExternalLink bit,
	@CMSID int,
	@StaticURL varchar(100) = '',
	@ExternalLinkURL varchar(500)='',
	@Position int = 0,
	@LinkType int = 0,
	@ShowInMenu int = 0,
	@ReturnVal int out 
) 
AS 

set nocount on; 
set @ReturnVal = 0 
set @Name = dbo.[PreventSQLInjection](@Name)
if @MenuURL = ''
	  set @MenuURL = dbo.Fun_UrlString(@Name)  
if @ID= 0 
begin -- 
	if NOT EXISTS (select 1 from Menu where [Name] = ltrim(rtrim(@Name)) and ParentID = @ParentID)
	begin 	
		declare @SeqNo int
		set @SeqNo = 0
		if @ParentID = 0
		begin
			select @SeqNo = isnull(Max(SequenceNo),0) from Menu where ParentID = 0
			set @SeqNo = @SeqNo + 1
		end
		
		declare @LevelNo int
		set @LevelNo = 0
		if @ParentID <> 0
		begin
			select @LevelNo = isnull(Max(LevelNo),0) from Menu where ParentID = @ParentID
			set @LevelNo = @LevelNo + 1
		end
		
		
		insert into Menu (ParentID, [Name], ExternalLink, CMSID, ExternalLinkURL, SequenceNo, LevelNo, Position, StaticURL, MenuURL, LinkType, ShowInMenu)
		values (@ParentID, @Name, @ExternalLink, @CMSID, @ExternalLinkURL, @SeqNo, @LevelNo, @Position, @StaticURL, @MenuURL, @LinkType, @ShowInMenu) 
		set @ReturnVal= scope_identity() 
	end
	else
		set @ReturnVal=-1 
end 
else 
begin -- 
if NOT EXISTS(select 1 from Menu where [Name]=ltrim(rtrim(@Name)) and ID<>@ID and ParentID = @ParentID) 
begin 	
	update Menu set 
	ParentID = @ParentID, 
	[Name]= @Name, 
	ExternalLink = @ExternalLink, 
	CMSID = @CMSID,
	StaticURL = @StaticURL,
	ExternalLinkURL = @ExternalLinkURL,
	Position = @Position,
	MenuURL = @MenuURL,
	LinkType = @LinkType,
	ShowInMenu = @ShowInMenu
	where ID = @ID 
	set @ReturnVal = @ID 
end 
else 
	set @ReturnVal = -1 
end 
exec MenuListTree
--exec [GenerateMenuTreeAdmin]


GO
