USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessDetailsByID]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessDetailsByID]
@ID BIGINT = 0,
@UserID BIGINT=0
AS
BEGIN
	SET NOCOUNT ON;
	DECLARE @Favourite INT SET @Favourite= 0
	DECLARE  @CurrentDateTime DATETIME = dbo.Fun_australiaDateTime()
	IF EXISTS(SELECT 1 FROM UserFavouriteBusiness WHERE BusinessID = @ID AND UserID=@UserID)
	BEGIN
		SET @Favourite= 1
	END

	SELECT dbo.Fun_BusinessFoodItemsNames(B.ID) AS FoodItems,B.ID, B.Name, B.FullName, B.EmailAddress, 
				ISNULL(BS.NoOfItems, 0) AS TotalQty, ISNULL(V.PurchaseQty, 0) AS PurchaseQty
				--, (ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0)) AS RemainingQty,
				,CASE WHEN 
						 (CAST( CONVERT(VARCHAR(100), @CurrentDateTime, 113) AS TIME) <= CAST(BS.PickupToTime AS TIME) AND (ISNULL(DiscountValue,0)>0))
					 THEN (ISNULL(BS.NoOfItems, 0) - ISNULL(V.PurchaseQty, 0))
					 ELSE 0
				END AS RemainingQty,
				BS.OriginalPrice, 
				CASE ISNULL(DiscountValue,0) 
					WHEN 0 THEN 0
					--ELSE (BS.OriginalPrice - (BS.OriginalPrice * ISNULL(D.Discount,0))/100 ) 
					ELSE (BS.OriginalPrice - ISNULL(DiscountValue,0)) 
				END	AS DiscountPrice,
				BS.PickupFromTime,BS.PickupToTime, P.ImageName, StreetAddress, Location, BusinessPhone, Mobile, [Description],
				@Favourite AS IsFavourite
				,B.Latitude, B.Longitude
				FROM  Business(NOLOCK) AS B 
				INNER JOIN BusinessScheduleCurrentDay(NOLOCK) AS BS ON BS.BusinessID = B.ID AND CAST(BS.CurrentDate AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
				INNER JOIN ProfilePhoto(NOLOCK)  AS P ON P.ID = B.ProfilePhotoID 
				LEFT OUTER JOIN VW_BusinessCurrentDayPurchaseQty AS V ON V.BusinessID = B.ID
				--LEFT JOIN Discount(NOLOCK) D ON D.ID = BS.DiscountID				
				WHERE (B.Status = 1) AND (B.IsSalesAdmin = 0) AND B.ID = @ID
END


GO
