USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminSave]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminSave]    
 @ID bigint,    
 @FirstName varchar(500),    
 @LastName varchar(500),    
 @UserName varchar(500),    
 @Password varchar(500),    
 @EmailID varchar(500),    
 @Phone varchar(30),  
 @ImageName varchar(max),  
 @AdminType int,  
 @CreatedBy bigint=0,
 @Pages varchar(max)='',   
 @ReturnVal int output    
as    
begin    
 set nocount on;    
     
  set @FirstName = dbo.[PreventSQLInjection](@FirstName)  
 set @LastName = dbo.[PreventSQLInjection](@LastName)  
 --set @UserName = dbo.[PreventSQLInjection](@UserName)  
 set @Phone = dbo.[PreventSQLInjection](@Phone)  
 
 
 declare @CheckEmail varchar(max) set @CheckEmail = 'check@gmail.com'
 if @EmailID <> ''
	set @CheckEmail = @EmailID
 
   
 if @ID=0    
 begin    
  if not exists(select 1 from dbo.Admin where (EmailID=@CheckEmail or UserName=@UserName)  and ISNULL(DeletedYN,0)=0)    
  begin    
   insert into dbo.Admin    
   (UserName,FirstName,LastName,Password,EmailID,Phone,AdminType, ImageName,CreatedUserID,CreatedDate )    
   values    
   (@UserName,@FirstName,@LastName,@Password,@EmailID,@Phone,@AdminType,@ImageName,@CreatedBy , GETDATE())    
    
   set @ReturnVal=scope_identity()    
   
    -- Insert Page Rights
   if LEN(@Pages)>0
   begin
		insert into AdminRights(AdminID,PageID)
		select @ReturnVal,a.items from dbo.Fun_SplitStr(@Pages,',') a
   end
   
   
  end    
  else    
   set @ReturnVal=0    
 end    
 else    
 begin    
  if not exists(select 1 from dbo.Admin where ID<>@ID and (EmailID=@CheckEmail or UserName=@UserName) and ISNULL(DeletedYN,0)=0)    
  begin    
   update dbo.Admin set    
    UserName=@UserName,    
    FirstName=@FirstName,    
    AdminType=@AdminType,  
    LastName=@LastName,    
    Password=@Password,    
    EmailID=@EmailID,    
    ImageName  = @ImageName ,
    Phone=@Phone,  
 UpdatedDate = getdate(),
     UpdatedUserID = @CreatedBy
   where ID=@ID    
   set @ReturnVal=@ID    
   
	  -- Update Contractors
		update AdminRights set [Status] = 0 where AdminID = @ID
		
		update AdminRights set [Status] = 1 where AdminID = @ID and PageID in (select items from dbo.Fun_SplitStr(@Pages,','))
		
		insert into AdminRights(AdminID,PageID)
		select @ID, items from 
		(
			select a.Items from dbo.Fun_SplitStr(@Pages,',') a
			where a.Items not in(select PageID from AdminRights where AdminID = @ID)
		)t1
		
		delete from AdminRights where AdminID = @ID and Status = 0 
		
  end    
  else    
   set @ReturnVal=0    
 end    
end


GO
