USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[CMSFrontGetData]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CMSFrontGetData]--'about-us'
	@PageUrl varchar(4000)=''
as
Begin
	set nocount on
	If @PageUrl <> ''
	Begin
		--select * from dbo.CMS where status = 1 and PageUrl = @PageUrl 
		SELECT     CMS.PageTitle, CMS.PageUrl, CMS.PageDescription, CMS.CMSMetaTitle, CMS.CMSMetaKeyword, CMS.CMSMetaDescription, CMS.Status, CMS.CreatedOn,CMS.ShowEnquiryForm ,
                      CMS.ImageName, CMS.HeadText, CMS.BodyFooterText, CMS.ID, Menu.MenuURL, MenuTree.URLString
FROM         Menu INNER JOIN
                      MenuTree ON Menu.ID = MenuTree.MenuID INNER JOIN
                      CMS ON Menu.CMSID = CMS.ID where  MenuTree.URLString = @PageUrl and Menu.Status = 1 and CMS.Status=1
	End
End


GO
