USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminResetPassword]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminResetPassword]
	@PasswordToken varchar(25)='',
	@newPassword varchar(500),
	@ReturnVal int output
as
begin
	
	set nocount on;

	if exists (select 1 from  dbo.Admin where PasswordToken = @PasswordToken)
	begin
		update dbo.Admin set password = @newPassword where PasswordToken = @PasswordToken

		-- set password token back to blank
		update dbo.Admin set PasswordToken = '' where PasswordToken = @PasswordToken
		set @ReturnVal=1
	end
	else
	begin
		set @ReturnVal = 0
	end

end


GO
