USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessistDetailsByID]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BusinessistDetailsByID]
@ID BIGINT = 0
AS    
BEGIN
 SET NOCOUNT ON;

	EXEC [dbo].[BusinessUpdateLastLogin] @ID

	 DECLARE @WeekDays TABLE
	(
		DN INT
	)
	INSERT INTO @WeekDays(DN) VALUES(1)
	INSERT INTO @WeekDays(DN) VALUES(2)
	INSERT INTO @WeekDays(DN) VALUES(3)
	INSERT INTO @WeekDays(DN) VALUES(4)
	INSERT INTO @WeekDays(DN) VALUES(5)
	INSERT INTO @WeekDays(DN) VALUES(6)
	INSERT INTO @WeekDays(DN) VALUES(7)



 
	SELECT ID, Name, ABN, StreetAddress, Location, FullName, EmailAddress, Password, BusinessPhone, ProfilePhotoID, Description, BSBNo, AccountNumber, BankName, Mobile, 
	ISNULL((SELECT ImageName FROM ProfilePhoto(NOLOCK) WHERE ProfilePhoto.ID = Business.ProfilePhotoID),'') AS ProfilePhoto
     ,AccountName, Status, CreatedOn
	FROM Business(NOLOCK) WHERE ID = @ID 
	
	SELECT Category.ID, Category.Name, Category.Status, BusinessCategory.CategoryID
	, CASE WHEN CategoryID IS NULL then 0 ELSE 1 END AS Selected
	FROM  Category(NOLOCK) 
	LEFT JOIN  BusinessCategory(NOLOCK) ON BusinessCategory.CategoryID = Category.ID AND BusinessCategory.Status = 1
	WHERE Category.Status = 1 AND BusinessCategory.BusinessID = @ID
	
	SELECT  FoodItems.ID, FoodItems.Name, BusinessFoodItems.FoodItemID
	, CASE WHEN FoodItemID IS NULL then 0 ELSE 1 END AS Selected
	FROM FoodItems 
	LEFT JOIN BusinessFoodItems ON FoodItems.ID = BusinessFoodItems.FoodItemID AND BusinessFoodItems.Status = 1
	WHERE FoodItems.Status = 1 AND BusinessFoodItems.BusinessID = @ID
	
	
	SELECT 	ISNULL(BusinessSchedule.ID,0) AS ID, @ID AS BusinessID, w.DN AS DayNo, ISNULL(ScheduleOn, 0) AS ScheduleOn, ISNULL(NoOfItems, 0) AS NoOfItems, ISNULL(OriginalPrice,0) AS OriginalPrice,
	 ISNULL(DiscountValue,0) AS DiscountID, ISNULL(PickupFromTime, GETDATE()) AS PickupFromTime, ISNULL(PickupToTime, GETDATE()) AS PickupToTime, ISNULL(DiscountValue,0) AS Discount,
	CASE w.DN  
		WHEN 1 THEN 'Mon'
		WHEN 2 THEN 'Tue'
		WHEN 3 THEN 'Wed'
		WHEN 4 THEN 'Thu'
		WHEN 5 THEN 'Fri'
		WHEN 6 THEN 'Sat'
		WHEN 7 THEN 'Sun'
	END AS [DayName]
	
	FROM @WeekDays w 
	LEFT JOIN dbo.BusinessSchedule(NOLOCK) ON w.DN = BusinessSchedule.DayNo AND BusinessID = @ID
	--LEft JOIN Discount ON Discount.ID = DiscountID 
END

GO
