USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateNoticationsForNitificationModule]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateNoticationsForNitificationModule] 
( 
	@OrderID VARCHAR(MAX)
) 
AS 
BEGIN
	SET NOCOUNT ON; 

	UPDATE Notifications SET IsSend = 1 
	WHERE ID IN(SELECT items from dbo.Fun_SplitStr(@OrderID,','))

END

GO
