USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessOperation]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessOperation]
	@ID varchar(2000)='',
	@OprType smallint=2
as
begin
	set nocount on
	if @OprType=1	
		delete from dbo.Business where ID in (select items from dbo.Fun_SplitStr(@ID,','))
	else if @OprType=2
		update dbo.Business set Status=1 where ID in (select items from dbo.Fun_SplitStr(@ID,','))
	else if @OprType=3
		update dbo.Business set Status=0 where ID in (select items from dbo.Fun_SplitStr(@ID,','))
end


GO
