USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessCurrentDayScheduleUpdateCronJob_NewBusinesss]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessCurrentDayScheduleUpdateCronJob_NewBusinesss]
@ID BIGINT = 0 
AS    
BEGIN    
 SET NOCOUNT ON;    
     
    DECLARE @BusinessID BIGINT		
	DECLARE @NoOfItems INT
	DECLARE @OriginalPrice DECIMAL(18,2)
	DECLARE @DiscountValue	DECIMAL(18,2)
	DECLARE @PickupFromTime DATETIME
	DECLARE @PickupToTime DATETIME
	DECLARE @CurrentDay INT = 0

	IF (DATEPART(weekday,dbo.Fun_australiaDateTime()) - 1) = 0
		SET @CurrentDay = 7
	ELSE 
		SET @CurrentDay =  DATEPART(weekday,dbo.Fun_australiaDateTime()) - 1	



	IF NOT EXISTS(
					SELECT 1 FROM BusinessSchedule(NOLOCK)
					INNER JOIN Business(NOLOCK) ON Business.ID = BusinessSchedule.BusinessID
					WHERE DayNo = @CurrentDay
						AND Business.ID = @ID
				)
	BEGIN
			DELETE FROM [dbo].[BusinessScheduleCurrentDay] 			
			WHERE BusinessID = @ID
				AND CAST(dbo.Fun_australiaDateTime() AS DATE) = CAST(CurrentDate as DATE)
	END



	DECLARE @curGetBusinessSchedule CURSOR
	SET @curGetBusinessSchedule = CURSOR FOR	
	
		SELECT BusinessID, NoOfItems, OriginalPrice, DiscountValue, PickupFromTime, PickupToTime FROM BusinessSchedule(NOLOCK)
		INNER JOIN Business(NOLOCK) ON Business.ID = BusinessSchedule.BusinessID
		WHERE DayNo = @CurrentDay
			AND Business.ID = @ID
		
	OPEN @curGetBusinessSchedule
	FETCH NEXT
	FROM @curGetBusinessSchedule INTO @BusinessID, @NoOfItems, @OriginalPrice, @DiscountValue, @PickupFromTime, @PickupToTime 
	WHILE @@FETCH_STATUS = 0
	BEGIN
	
		EXEC [dbo].[BusinessCurrentDayScheduleUpdate_CronJob] @BusinessID, @NoOfItems, @OriginalPrice, @DiscountValue, @PickupFromTime, @PickupToTime
		
	FETCH NEXT
	FROM @curGetBusinessSchedule INTO @BusinessID, @NoOfItems, @OriginalPrice, @DiscountValue, @PickupFromTime, @PickupToTime
	END
	CLOSE @curGetBusinessSchedule
	DEALLOCATE @curGetBusinessSchedule
    
END


GO
