USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[ContactUSSave]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ContactUSSave]      
(      
 @ID bigint=0 output,       
 @BusinessID bigint=0,
 @Name varchar(100)='',     
 @Phone varchar(100)='',     
 @Subject varchar(100)='',     
 @EmailAddress varchar(100)='',     
 @Comments varchar(1000)='',      
 @ReturnVal int=0 output      
)      
AS      
begin      
 set nocount on;      
 set @ReturnVal=0    
 set @Name = dbo.[udf_StripHTML](@Name)    
 set @Comments = dbo.[PreventSQLInjection](@Comments)   
   
 if @ID=0      
 begin      
     
   insert into dbo.ContactUS      
		(Name,[Subject],EmailAddress, Comments, BusinessID, Phone)       
   values      
		(@Name,@Subject,@EmailAddress, @Comments, @BusinessID, @Phone)    
              
   set @ReturnVal=scope_identity()               
      
 end      
 else      
 begin      
  if not exists(select 1 from dbo.ContactUS where ID<>@ID)      
  begin      
	   update dbo.ContactUS set         
	   Name = @Name,    
	   Subject = @Subject, 
	   Phone = @Phone,   
	   @BusinessID = @BusinessID,
	   EmailAddress = @EmailAddress,    
	   Comments = @Comments
	   where ID=@ID                
	   set @ReturnVal=@ID        
  end      
  else    
   set @ReturnVal=-1      
 end      
end


GO
