USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BannerSave]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BannerSave] 
( 
	@ID int=0, 	
	@Title varchar(max)='', 
	@Title2 varchar(max)='', 
	@BannerFile varchar(500) = '',
	@Details varchar(500) = '', 
	@ExternalLink bit,
	@MenuID int,
	@LinkType int,
	@ExternalLinkURL varchar(500)='',
	@StaticURL	varchar(100) = '',
	@ReturnVal int out 
) 
AS 

set nocount on; 
set @ReturnVal = 0 

set @Title = dbo.[PreventSQLInjection](@Title)
if @ID= 0 
begin
		declare @SeqNo int
		set @SeqNo = 0
		
		select @SeqNo = isnull(Max(SequenceNo),0) from Banner 
		set @SeqNo = @SeqNo + 1			
		
		insert into Banner (BannerFile,Title, Details, ExternalLink, MenuID, ExternalLinkURL, SequenceNo, StaticURL,LinkType,Title2)
		values (@BannerFile,@Title, @Details, @ExternalLink, @MenuID, @ExternalLinkURL, @SeqNo, @StaticURL,@LinkType,@Title2) 
		set @ReturnVal= scope_identity() 
	
end 
else 
begin -- 
	update Banner set 	
	Title=@Title,
	BannerFile = @BannerFile,
	Details = @Details, 
	ExternalLink = @ExternalLink, 
	MenuID = @MenuID,
	ExternalLinkURL = @ExternalLinkURL,
	StaticURL = @StaticURL, 
	LinkType=@LinkType,
	Title2=@Title2
	
	where ID = @ID 
	set @ReturnVal = @ID 
end


GO
