USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminLoginCheck]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminLoginCheck]  
 @UserName varchar(50)='',  
 @Password varchar(100)='',  
 @IsError smallint=0 output  
as  
Begin  
   
 set nocount on;  
   
  
 set @IsError=1  
 if exists(select 1 from dbo.Admin where (UserName=@UserName or EmailID =@UserName) and Password=@Password and Status=1 and ISNULL(DeletedYN,0)=0)   
 Begin    
	 set @IsError=0  
	 select ID,FirstName,LastName,EmailID,UserName,IsSupAdmin,AdminType from dbo.Admin   
	 where  (UserName=@UserName or EmailID =@UserName)  and Password=@Password  and ISNULL(DeletedYN,0)=0
 End  
 else if exists (select 1 from dbo.Admin where (UserName=@UserName or EmailID =@UserName) and Password =@Password and Status=0 and ISNULL(DeletedYN,0)=0)
 Begin  
	set @IsError=2  
	select 1
 End  
 else
 begin
	set @IsError=1  
	select 1
 end

End


GO
