USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessDropdownRegistration]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessDropdownRegistration]
	@BusinessID BIGINT = 0
AS
BEGIN
	SET NOCOUNT ON;
	SELECT * FROM [dbo].[Category](NOLOCK) WHERE Status = 1
	SELECT * FROM [dbo].[Discount](NOLOCK) WHERE Status = 1
	SELECT * FROM [dbo].[FoodItems](NOLOCK) WHERE Status = 1

	SELECT * FROM [dbo].[ProfilePhoto](NOLOCK) WHERE Status = 1 AND IsUsed = 0
	UNION
	SELECT * FROM [dbo].[ProfilePhoto](NOLOCK) WHERE ID = (SELECT ProfilePhotoID FROM Business WHERE ID = @BusinessID)

ENd

GO
