USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessCurrentDayScheduleUpdate]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessCurrentDayScheduleUpdate]
 @BusinessID BIGINT,
 @NoOfItems INT=0,
 @OriginalPrice DECIMAL(18,2)=0,
 @DiscountID DECIMAL(18,2)=0,
 @PickupFromTime DATETIME,
 @PickupToTime DATETIME,
 @ReturnVal int output    
AS    
BEGIN    
 SET NOCOUNT ON;    
      EXEC [dbo].[BusinessUpdateLastLogin] @BusinessID  
     DECLARE @CurrentDate DATETIME 
     SELECT @CurrentDate = dbo.Fun_australiaDateTime()
     SET @ReturnVal = 0
     
     IF EXISTS(SELECT 1 FROM BusinessScheduleCurrentDay(NOLOCK) WHERE BusinessID = @BusinessID AND CAST(CurrentDate AS DATE) = CAST(@CurrentDate AS DATE))
     BEGIN
		UPDATE BusinessScheduleCurrentDay
			SET NoOfItems = @NoOfItems,
				OriginalPrice = @OriginalPrice,
				ScheduleOn = 1,
				DiscountValue = @DiscountID,
				PickupFromTime = @PickupFromTime,
				PickupToTime = @PickupToTime
			WHERE BusinessID = @BusinessID 
				AND CAST(CurrentDate AS DATE) = CAST(@CurrentDate AS DATE)
				
			  SET @ReturnVal = 1	
     END
     ELSE
     BEGIN
			INSERT INTO BusinessScheduleCurrentDay
				(
					BusinessID,
					ScheduleOn,
					NoOfItems,
					OriginalPrice,
					DiscountValue,
					PickupFromTime,
					PickupToTime,
					CurrentDate
				)
				VALUES
				(
					 @BusinessID,
					 1,
					 @NoOfItems,
					 @OriginalPrice,
					 @DiscountID,
					 @PickupFromTime,
					 @PickupToTime,
					 @CurrentDate					 
				)
				SET @ReturnVal = 1	
     END
     
     
    
END
GO
