USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[GetMenuString]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetMenuString]
@Front int = 1
as
begin
	select * from MenuString where Front = @Front
end


GO
