USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BannerListAllFront]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BannerListAllFront]   
as      
begin      
set nocount on    
 select *, REVERSE(substring(REVERSE (title2),CHARINDEX(' ',REVERSE (title2)),LEN(title2)+1)) as T1
,REVERSE(substring(REVERSE (title2),0,CHARINDEX(' ',REVERSE (title2)))) as T2,  ISNULL((SELECT CMS.PageUrl FROM Menu INNER JOIN CMS ON Menu.CMSID = CMS.ID where Menu.ID=MenuID),'') as URLString from Banner 
 where Status = 1 order by SequenceNo     
 set nocount off     
end


GO
