USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[PlaceOrder]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PlaceOrder]-- 2,1
@UserID BIGINT = 0,
@BusinessID BIGINT = 0,
@TransactionId VARCHAR(800)='',
@Currency VARCHAR(20)='',
@CustomerId VARCHAR(500)='',
@CardType VARCHAR(20)='',
@CardLastDigits VARCHAR(10)='',
@TransactionResponse VARCHAR(MAX)='',
@ReturnVal BIGINT OUTPUT
AS
BEGIN	
	SET NOCOUNT ON;
	SET @ReturnVal = 0

	DECLARE @TransactionFee decimal(18,2) SET @TransactionFee = 0
	DECLARE @BringMeHomePercentage decimal(18,2) SET @BringMeHomePercentage = 0

	SELECT @TransactionFee = value FROM GeneralSetting(NOLOCK) WHERE keyword = 'tweeterusername'
	SELECT @BringMeHomePercentage = value FROM GeneralSetting(NOLOCK) WHERE keyword = 'sitelink'
	
	
	DECLARE @Order Table
	(
		UserID BIGINT,
		Donation DECIMAL(18,2),
		ItemPrice DECIMAL(18,2),
		TransactionFee DECIMAL(18,2),
		BringMeHomeFee DECIMAL(18,2),
		GrandTotal DECIMAL(18,2),
		Qty INT,
		DiscountValue  DECIMAL(18,2),
		OriginalPrice DECIMAL(18,2),
		PickupFromTime DATETIME,
		PickupToTime DATETIME
	)
	
	INSERT INTO @Order(UserID,Donation,ItemPrice,TransactionFee,BringMeHomeFee,GrandTotal,Qty,DiscountValue,OriginalPrice,PickupFromTime,PickupToTime)
	SELECT UserID, Donation,ItemPrice, TransactionFee, BringMeHomeFee, 
	--(ItemPrice + Donation + TransactionFee + BringMeHomeFee),
	(ItemPrice + Donation + TransactionFee),
	Qty,DiscountValue, OriginalPrice, PickupFromTime,PickupToTime	
	FROM 
	(
		SELECT *, (ItemPrice * @BringMeHomePercentage /100) AS BringMeHomeFee  FROM 		
		(
			SELECT UserID, Name, BusinessID, Email, Mobile, Qty, OriginalPrice,
			CASE WHEN DiscountPrice > 0
				THEN Qty * DiscountPrice
				ELSE Qty * OriginalPrice
			END AS ItemPrice,
			Donation, @TransactionFee AS TransactionFee, PickupFromTime,PickupToTime, DiscountValue
			 FROM
			(

				SELECT Cart.*, Email, Mobile, Name,
					CASE ISNULL(DiscountValue,0) 
						WHEN 0 THEN 0
						--ELSE (OriginalPrice - (OriginalPrice * ISNULL(D.Discount,0))/100 ) 
						ELSE (OriginalPrice - ISNULL(DiscountValue,0)) 
						END	AS DiscountPrice							
				FROM Cart(NOLOCK) 
				INNER JOIN Users(NOLOCK)  On Users.ID = Cart.UserID
				--LEFT JOIN Discount(NOLOCK) D ON D.ID = Cart.DiscountID				
				WHERE UserID = @UserID AND CAST(Cart.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
				AND BusinessID = @BusinessID AND IsOrderCompleted = 0
			)t1
		)t2
	)t3	
	
	select * from @Order
	
	
	declare @Result BIGINT SET @Result = 0 
	
	INSERT INTO BusinessOrder(UserID,Donation,ItemPrice,TransactionFee,BringMeHomeFee,GrandTotal,TransactionId,Currency,CustomerId,CardType,CardLastDigits,TransactionResponse)
	SELECT UserID,Donation,ItemPrice,TransactionFee,BringMeHomeFee,GrandTotal,
		@TransactionId,@Currency,@CustomerId,@CardType,@CardLastDigits,@TransactionResponse	 
	FROM @Order
	
	SET @ReturnVal = SCOPE_IDENTITY()
	
	IF @ReturnVal IS NULL
		SET @ReturnVal = -2

	INSERT INTO BusinessOrderProduct(OrderID,BusinessID,Qty,OriginalPrice,DiscountValue,PickupFromTime,PickupToTime)
	SELECT @ReturnVal,@BusinessID, Qty,OriginalPrice,DiscountValue,  PickupFromTime,PickupToTime   FROM @Order	
	
	
	-- Update Cart Sttaus
	UPDATE CART SET IsOrderCompleted = 1 WHERE
	UserID = @UserID AND CAST(Cart.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
	AND BusinessID = @BusinessID AND IsOrderCompleted = 0
	
END

GO
