USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[ProfilePhotoListWithUser]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProfilePhotoListWithUser]
	@ID BIGINT = 0	
as
begin
	set nocount on

	SELECT * FROM
	(
		SELECT *, 0 AS IsSelected FROM [dbo].[ProfilePhoto](NOLOCK) WHERE Status = 1 AND IsUsed = 0
		UNION
		SELECT *, 1 AS IsSelected FROM [dbo].[ProfilePhoto](NOLOCK) WHERE ID = (SELECT ProfilePhotoID FROM Business WHERE ID = @ID)
	)t1 ORDER BY ID DESC

end

GO
