USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminGetPassword]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminGetPassword] 
	@EmailID varchar(100)=''
as
begin
	set nocount on;
	
	select FirstName,LastName,UserName,ltrim(rtrim(Password)) as Password from dbo.Admin where EmailID = @EmailID
end


GO
