USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[CartSummary]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CartSummary]--2,1
@UserID BIGINT = 0,
@BusinessID BIGINT = 0
AS
BEGIN	
	SET NOCOUNT ON;
	

	DECLARE @TransactionFee decimal(18,2) SET @TransactionFee = 0
	DECLARE @BringMeHomePercentage decimal(18,2) SET @BringMeHomePercentage = 0

	SELECT @TransactionFee = value FROM GeneralSetting(NOLOCK) WHERE keyword = 'tweeterusername'
	--SELECT @BringMeHomePercentage = value FROM GeneralSetting(NOLOCK) WHERE keyword = 'sitelink'


	SELECT *, (ItemPrice + Donation + TransactionFee + BringMeHomeFee) AS GrandTotal FROM 
	(
		SELECT *, (ItemPrice * @BringMeHomePercentage /100) AS BringMeHomeFee  FROM 
		(
			SELECT UserID, Name, BusinessID, Email, Mobile, Qty, OriginalPrice,
			CASE WHEN DiscountPrice > 0
				THEN Qty * DiscountPrice
				ELSE Qty * OriginalPrice
			END AS ItemPrice,
			Donation, @TransactionFee AS TransactionFee

			 FROM
			(

				SELECT Cart.*, Email, Mobile, Name,
					CASE ISNULL(DiscountValue,0) 
						WHEN 0 THEN 0
						--ELSE (OriginalPrice - (OriginalPrice * ISNULL(D.Discount,0))/100 ) 
						ELSE (OriginalPrice - ISNULL(DiscountValue,0)) 
						END	AS DiscountPrice		
				FROM Cart(NOLOCK) 
				INNER JOIN Users(NOLOCK)  On Users.ID = Cart.UserID
				--LEFT JOIN Discount(NOLOCK) D ON D.ID = Cart.DiscountID				
				WHERE UserID = @UserID AND CAST(Cart.CreatedOn AS DATE) = CAST(dbo.Fun_australiaDateTime() AS DATE) 
				AND BusinessID = @BusinessID AND IsOrderCompleted = 0
			)t1
		)t2
	)t3	
END




GO
