USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessistAll]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[BusinessistAll] 
AS    
BEGIN
 SET NOCOUNT ON;
 
	SELECT ID, Name, ABN, StreetAddress, Location, FullName, EmailAddress, Password, BusinessPhone, ProfilePhotoID, Description, BSBNo, AccountNumber, BankName, 
           AccountName, Status, CreatedOn 
	FROM Business(NOLOCK) 
	WHERE IsSalesAdmin = 0
	ORDER BY Name
END



GO
