USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[AdminPageRights]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AdminPageRights]   
@AdminID int = 0    
as          
begin          
 set nocount on;          
          
 select * from AdminRights
inner join Pages on Pages.ID= AdminRights.PageID
 where AdminID=@AdminID order by Rank

 
end


GO
