USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessScheduleModify]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessScheduleModify]
 @ID bigint,  
 @MondaySchedule varchar(max)='',   
 @TuesdaySchedule varchar(max)='',  
 @WednesdaySchedule varchar(max)='',  
 @ThirsdaySchedule varchar(max)='',  
 @FridaySchedule varchar(max)='',  
 @SaturdaySchedule varchar(max)='',  
 @SundaySchedule varchar(max)='' 
as    
begin    
 SET NOCOUNT ON;

	--DELETE FROM dbo.BusinessSchedule WHERE BusinessID = @ID

	IF @MondaySchedule <> ''
	BEGIN
		DELETE FROM dbo.BusinessSchedule WHERE BusinessID = @ID AND DayNo = 1
	END
	IF @TuesdaySchedule <> ''
	BEGIN
		DELETE FROM dbo.BusinessSchedule WHERE BusinessID = @ID AND DayNo = 2
	END
	IF @WednesdaySchedule <> ''
	BEGIN
		DELETE FROM dbo.BusinessSchedule WHERE BusinessID = @ID AND DayNo = 3
	END
	IF @ThirsdaySchedule <> ''
	BEGIN
		DELETE FROM dbo.BusinessSchedule WHERE BusinessID = @ID AND DayNo = 4
	END
	IF @FridaySchedule <> ''
	BEGIN
		DELETE FROM dbo.BusinessSchedule WHERE BusinessID = @ID AND DayNo = 5
	END
	IF @SaturdaySchedule <> ''
	BEGIN
		DELETE FROM dbo.BusinessSchedule WHERE BusinessID = @ID AND DayNo = 6
	END
	IF @SundaySchedule <> ''
	BEGIN
		DELETE FROM dbo.BusinessSchedule WHERE BusinessID = @ID AND DayNo = 7
	END
	
	
	---------------------------------- Monday Schedule
	IF @MondaySchedule <> ''
	BEGIN
		INSERT INTO BusinessSchedule (BusinessID, DayNo, ScheduleOn, NoOfItems, OriginalPrice, DiscountValue, PickupFromTime, PickupToTime)
		SELECT @ID, 1, 1, Col1, Col2, Col3, Col4, Col5
			FROM
			(  
				SELECT a.items, 'Col' + cast(id as varchar(100)) AS ColumnName FROM dbo.Fun_SplitStr(@MondaySchedule,'#') a
			) d
			pivot
			(
				MAX(items)
				FOR columnname in (Col1, Col2, Col3, Col4, Col5)
			) piv;	  
		  
	END
	---------------------------------- Monday Schedule
	
	---------------------------------- Tuesday Schedule
	IF @TuesdaySchedule <> ''
	BEGIN
		INSERT INTO BusinessSchedule (BusinessID, DayNo, ScheduleOn, NoOfItems, OriginalPrice, DiscountValue, PickupFromTime, PickupToTime)
		SELECT @ID, 2, 1, Col1, Col2, Col3, Col4, Col5
			FROM
			(  
				SELECT a.items, 'Col' + cast(id as varchar(100)) AS ColumnName FROM dbo.Fun_SplitStr(@TuesdaySchedule,'#') a
			) d
			pivot
			(
				MAX(items)
				FOR columnname in (Col1, Col2, Col3, Col4, Col5)
			) piv;	  
		  
	END
	---------------------------------- Tuesday Schedule
		
	---------------------------------- Wednesday Schedule	
	IF @WednesdaySchedule <> ''
	BEGIN
		INSERT INTO BusinessSchedule (BusinessID, DayNo, ScheduleOn, NoOfItems, OriginalPrice, DiscountValue, PickupFromTime, PickupToTime)
		SELECT @ID, 3, 1, Col1, Col2, Col3, Col4, Col5
			FROM
			(  
				SELECT a.items, 'Col' + cast(id as varchar(100)) AS ColumnName FROM dbo.Fun_SplitStr(@WednesdaySchedule,'#') a
			) d
			pivot
			(
				MAX(items)
				FOR columnname in (Col1, Col2, Col3, Col4, Col5)
			) piv;	  
		  
	END
	---------------------------------- Wednesday Schedule	
	
	---------------------------------- Thirsday Schedule	
	
	IF @ThirsdaySchedule <> ''
	BEGIN
		INSERT INTO BusinessSchedule (BusinessID, DayNo, ScheduleOn, NoOfItems, OriginalPrice, DiscountValue, PickupFromTime, PickupToTime)
		SELECT @ID, 4, 1, Col1, Col2, Col3, Col4, Col5
			FROM
			(  
				SELECT a.items, 'Col' + cast(id as varchar(100)) AS ColumnName FROM dbo.Fun_SplitStr(@ThirsdaySchedule,'#') a
			) d
			pivot
			(
				MAX(items)
				FOR columnname in (Col1, Col2, Col3, Col4, Col5)
			) piv;	  
		  
	END
	---------------------------------- Thirsday Schedule
	
	
	---------------------------------- Friday Schedule
	IF @FridaySchedule <> ''
	BEGIN
		INSERT INTO BusinessSchedule (BusinessID, DayNo, ScheduleOn, NoOfItems, OriginalPrice, DiscountValue, PickupFromTime, PickupToTime)
		SELECT @ID, 5, 1, Col1, Col2, Col3, Col4, Col5
			FROM
			(  
				SELECT a.items, 'Col' + cast(id as varchar(100)) AS ColumnName FROM dbo.Fun_SplitStr(@FridaySchedule,'#') a
			) d
			pivot
			(
				MAX(items)
				FOR columnname in (Col1, Col2, Col3, Col4, Col5)
			) piv;	  
		  
	END
	---------------------------------- Friday Schedule
		
	---------------------------------- Saturday Schedule		
	IF @SaturdaySchedule <> ''
	BEGIN
		INSERT INTO BusinessSchedule (BusinessID, DayNo, ScheduleOn, NoOfItems, OriginalPrice, DiscountValue, PickupFromTime, PickupToTime)
		SELECT @ID, 6, 1, Col1, Col2, Col3, Col4, Col5
			FROM
			(  
				SELECT a.items, 'Col' + cast(id as varchar(100)) AS ColumnName FROM dbo.Fun_SplitStr(@SaturdaySchedule,'#') a
			) d
			pivot
			(
				MAX(items)
				FOR columnname in (Col1, Col2, Col3, Col4, Col5)
			) piv;	  
		  
	END
	---------------------------------- Saturday Schedule		
	
	---------------------------------- Sunday Schedule		
	
	IF @SundaySchedule <> ''
	BEGIN
		INSERT INTO BusinessSchedule (BusinessID, DayNo, ScheduleOn, NoOfItems, OriginalPrice, DiscountValue, PickupFromTime, PickupToTime)
		SELECT @ID, 7, 1, Col1, Col2, Col3, Col4, Col5
			FROM
			(  
				SELECT a.items, 'Col' + cast(id as varchar(100)) AS ColumnName FROM dbo.Fun_SplitStr(@SundaySchedule,'#') a
			) d
			pivot
			(
				MAX(items)
				FOR columnname in (Col1, Col2, Col3, Col4, Col5)
			) piv;	  
		  
	END
	---------------------------------- Sunday Schedule	

	-- UPDATE Curent day schedule for Business LIst
	EXEC  [dbo].[BusinessCurrentDayScheduleUpdateCronJob_NewBusinesss] @ID
END



GO
