USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[BusinessLoginCheck]    Script Date: 4/4/2019 11:06:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BusinessLoginCheck]    
 @Email varchar(200)='', 
 @Password varchar(200)='' ,    
 @DeviceKey  varchar(MAX)='',
 @DeviceType  varchar(2)='A'
AS    
BEGIN
 SET NOCOUNT ON;
	DECLARE @AuthToken varchar(500) SET @AuthToken = ''
	IF EXISTS(SELECT 1 FROM dbo.Business(NOLOCK) WHERE EmailAddress = @Email AND Password = @Password AND [Status] = 1)
	BEGIN
		SELECT @AuthToken = LOWER(NEWID())

		DECLARE @BusinessID BIGINT SET @BusinessID = 0
		SELECT @BusinessID = ID FROM dbo.Business(NOLOCK) WHERE EmailAddress = @Email AND Password = @Password AND [Status] = 1

		EXEC [dbo].[BusinessUpdateLastLogin] @BusinessID  
		UPDATE BusinessAuthToken set DeviceKey='', AuthToken='', DeviceType='' where DeviceKey=@DeviceKey

		IF NOT EXISTS(SELECT 1 FROM BusinessAuthToken WHERE DeviceKey = '' AND AuthToken = '' AND BusinessID = @BusinessID)
		BEGIN
			INSERT INTO BusinessAuthToken(BusinessID,AuthToken,DeviceKey, DeviceType)
			VALUES(@BusinessID, @AuthToken, @DeviceKey,@DeviceType)  
		END
		ELSE
		BEGIN
			UPDATE BusinessAuthToken SET AuthToken = @AuthToken, DeviceKey = @DeviceKey, DeviceType = @DeviceType
			WHERE DeviceKey = '' AND AuthToken = '' AND BusinessID = @BusinessID
		END

		--UPDATE Business SET AuthTOken =  @AuthToken WHERE EmailAddress = @Email AND Password = @Password AND [Status] = 1		

		--UPDATE Business set DeviceKey=@DeviceKey WHERE EmailAddress = @Email AND Password = @Password AND [Status] = 1        

		SELECT 1 AS UserActive, *, @AuthToken AS AuthTokenDetails FROM dbo.Business(NOLOCK) 		
		WHERE EmailAddress = @Email AND Password = @Password AND [Status] = 1  
		
		    
	END 
	ELSE IF EXISTS(SELECT 1 FROM dbo.Business(NOLOCK) WHERE EmailAddress = @Email AND Password = @Password AND [Status] = 0)
	BEGIN
		SELECT 0 AS UserActive
	END
	ELSE
	BEGIN
		SELECT * FROM dbo.Business(NOLOCK) WHERE EmailAddress = @Email AND Password = @Password AND [Status] = 1       
	END    
END

GO
