USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[UpdateNoticationsCountForUsers]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateNoticationsCountForUsers] 
@Users	VARCHAR(MAX) = '',
@Business VARCHAR(MAX) = ''
AS 
BEGIN
SET NOCOUNT ON; 

	IF @Users <> ''
	BEGIN
		UPDATE Users SET NotificationCount = ISNULL(NotificationCount,0) + 1 
			WHERE ID IN(SELECT items FROM dbo.Fun_SplitStr(@Users, ','))
	END

	IF @Business <> ''
	BEGIN
		UPDATE BusinessAuthToken SET NotificationCount = ISNULL(NotificationCount,0) + 1 
			WHERE BusinessID IN(SELECT items FROM dbo.Fun_SplitStr(@Business, ','))
	END

END

GO
