USE [BringMeHome]
GO
/****** Object:  StoredProcedure [dbo].[TestimonialsModify]    Script Date: 4/4/2019 11:06:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[TestimonialsModify]  
 @ID int=0,  
 @Title varchar(200)='',  
 @ClientName varchar(250)='',  
 @ImageName varchar(500)='',  
 @StarRating int=0,
 @Description varchar(max)='',  
 @ReturnVal int=0 output  
as  
begin  
 set nocount on  
 set @ReturnVal = 0     
 set @Title = dbo.[PreventSQLInjection](@Title)  
   
 IF @ID = 0  
 Begin  
  if not exists(select 1 from dbo.Testimonials where ClientName =@ClientName or Title =@Title)  
  Begin  
   Insert into dbo.Testimonials(Title,ClientName,Description,StarRating,ImageName)  
   values(@Title,@ClientName,@Description,@StarRating,@ImageName)  
   set @ReturnVal=scope_Identity()  
  End  
  else  
   set @ReturnVal= -1  
 End  
 Else  
 Begin  
  if not exists(select 1 from dbo.Testimonials where ClientName = @ClientName and ID <> @ID)  
  Begin  
   Update dbo.Testimonials set  
    Title =@Title,  
    ClientName =@ClientName,  
    Description =@Description,  
    StarRating = @StarRating,
    ImageName = @ImageName
    where ID =@ID  
   set @ReturnVal =@ID  
  End  
  else  
   set @ReturnVal= -1  
 End  
   
End


GO
