@font-face {
    font-family: 'brown';
    src: url('/ckeditor/Customfonts/Brown-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'brown';
    src: url('/ckeditor/Customfonts/Brown-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'brown';
    src: url('/ckeditor/Customfonts/Brown-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


