@font-face {
    font-family: 'brownBold';
    src: url('/style/Customfonts/Brown-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'brown';
    src: url('/style/Customfonts/Brown-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'brownRegular';
    src: url('/style/Customfonts/Brown-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


