USE [BringMeHome]
GO
/****** Object:  View [dbo].[VW_MenuURL]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_MenuURL]
AS
SELECT     m.ID, m.Name, m.ParentID, CASE WHEN EXISTS
                          (SELECT     1
                            FROM          menu m1
                            WHERE      m1.parentid = m.id) THEN
                          (SELECT     TOP 1 pageurl
                            FROM          menu m_inner INNER JOIN
                                                   cms c_inner ON m_inner.cmsid = c_inner.id
                            WHERE      m_inner.parentid = m.id
                            ORDER BY levelno ASC) ELSE CMS.pageurl END AS link, ISNULL(dbo.CMS.PageUrl, '') AS CMSUrl
FROM         dbo.Menu AS m LEFT OUTER JOIN
                      dbo.CMS ON dbo.CMS.ID = m.CMSID



GO
