USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[PreventSQLInjection]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[PreventSQLInjection](@strData varchar(8000))
RETURNS varchar(5000) AS  
BEGIN
	declare @ReturnVal as varchar(8000)
	Set @ReturnVal = ''
	Set @ReturnVal =  @strData
	If @strData <> ''
	Begin	
      set @ReturnVal = Replace( Replace( Replace ( Replace ( Replace( Replace(@ReturnVal,'_','[_]'),'%','[%]'),'''',''''''),'*','[*]'),'<',''),'>','')
	 end
	Return @ReturnVal
END

GO
