USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_GetGeoDistance]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Fun_GetGeoDistance]( @lat1 varchar(500) , @long1 varchar(500), @lat2 varchar(500), @long2 varchar(500))
RETURNS varchar(500)
AS
BEGIN
	DECLARE @ReturnVAL VARCHAR(100)
	SET @ReturnVAL = '0'

	IF @lat1 <> '' AND @long1 <> '' AND @lat2 <> '' AND @long2 <> ''
	BEGIN
		SELECT @ReturnVAL = ((Cast(geography::Point(@lat1,@long1, 4326).STDistance(geography::Point(@lat2, @long2, 4326))/1000 As int)) * 0.62137)
	END

	RETURN @ReturnVAL
END


GO
