USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[GetUSDaylightSavingsTime]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetUSDaylightSavingsTime]
(
	@Year INT 
)
RETURNS TABLE 
AS
RETURN 
(
 SELECT 'StartDate' = CASE DATEPART(dw,'03/01/' + convert(varchar,@Year))
						   WHEN 1 THEN DATEADD(hour,170,'03/01/' + convert(varchar,@Year))
						   WHEN 2 THEN DATEADD(hour,314,'03/01/' + convert(varchar,@Year))
						   WHEN 3 THEN DATEADD(hour,290,'03/01/' + convert(varchar,@Year))
						   WHEN 4 THEN DATEADD(hour,266,'03/01/' + convert(varchar,@Year))
						   WHEN 5 THEN DATEADD(hour,242,'03/01/' + convert(varchar,@Year))
						   WHEN 6 THEN DATEADD(hour,218,'03/01/' + convert(varchar,@Year))
						   WHEN 7 THEN DATEADD(hour,194,'03/01/' + convert(varchar,@Year))  
					 END ,
		'EndDate' = CASE DATEPART(dw,DATEADD(week,1,'11/01/' + convert(varchar,@Year)))
						 WHEN 1 THEN DATEADD(hour,2,'11/01/' + convert(VARCHAR,@Year))
						 WHEN 2 THEN DATEADD(hour,146,'11/01/' + convert(VARCHAR,@Year))
						 WHEN 3 THEN DATEADD(hour,122,'11/01/' + convert(VARCHAR,@Year))
						 WHEN 4 THEN DATEADD(hour,98,'11/01/' + convert(VARCHAR,@Year))
						 WHEN 5 THEN DATEADD(hour,74,'11/01/' + convert(VARCHAR,@Year))
						 WHEN 6 THEN DATEADD(hour,50,'11/01/' + convert(VARCHAR,@Year))
						 WHEN 7 THEN DATEADD(hour,26,'11/01/' + convert(VARCHAR,@Year))
					END       
)




GO
