USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_UrlString]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fun_UrlString](@strValue as varchar(300))
RETURNS varchar(300)
AS
BEGIN
	set @strValue=lower(ltrim(rtrim(@strValue)))
	declare @cnt as int
	declare @TmpAscii as int
	declare @TmpCheck as bit
	set @TmpCheck=1
	declare @ReturnVal as varchar(300)
	set @ReturnVal=''
	set @cnt=1
	while(@cnt<=len(@strValue))
	begin
		set @TmpAscii= ascii(substring(@strValue,@cnt,1)) 
		if (@TmpAscii>=97 and @TmpAscii<=122)  or (@TmpAscii>=48 and @TmpAscii<=57)
		begin		
			set @ReturnVal= @ReturnVal + substring(@strValue,@cnt,1)
			set @TmpCheck=1
		end
		else
		begin
			if @TmpCheck=1
				set @ReturnVal= @ReturnVal + '-'
			set @TmpCheck=0
		end
		set @cnt=@cnt +1 
	end 
	return @ReturnVal
END

GO
