USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_SplitStr]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fun_SplitStr](@StrIn varchar(8000), @strDelim varchar(10))
RETURNS @Result Table (id int identity(1, 1), Items varchar(200))
AS  
BEGIN 
	Declare @len int
	Declare @index int, @strOut as varchar(1000)

	Set @len = len(@strDelim)
	Set @index = charindex(@strDelim, @StrIn)
 	While @index > 0
	Begin
			Set @strOut = substring(@StrIn, 1, @index-1)
			If datalength(@strOut) > 0
				Insert into @Result(Items) select rtrim(ltrim(@strOut))
			Set @StrIn = substring(@StrIn, @index + @len, len(@StrIn))
			Set @index = charindex(@strDelim, @StrIn)
	End
	If @index = 0
	Begin
			If datalength(@StrIn) > 0
					Insert into @Result(Items) select rtrim(ltrim(@StrIn))
--			Else
--					Insert into @Result(Items) values(',')
	End	
	RETURN
END



GO
