USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_UserPages]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fun_UserPages](@AdminID as bigint)
RETURNS varchar(max)
AS
BEGIN
	declare @ReturnVal as varchar(max)
	set @ReturnVal =''

	select @ReturnVal = @ReturnVal + CAST(PageID as varchar(max)) + ',' from AdminRights where AdminID = @AdminID and Status = 1

	if LEN(@ReturnVal)>0
		set @ReturnVal = SUBSTRING(@ReturnVal,1,len(@ReturnVal)-1)


	return @ReturnVal
END

GO
