USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[RemoveSpecialCharacter]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[RemoveSpecialCharacter](@String varchar(5000))
RETURNS varchar(5000) AS  
BEGIN
	declare @ReturnVal as varchar(5000)
	Set @ReturnVal = ''
	Set @ReturnVal =  @String
	IF @String <> ''
	Begin	
      set @ReturnVal = Replace(@ReturnVal,'''','''''')	
	 end
	Return @ReturnVal
END

GO
