USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_SplitInt]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fun_SplitInt](@StrIn varchar(1000),@strDelim varchar(10))  

RETURNS @Result Table (Items int) 

AS  

BEGIN 
	declare @len int 
	set @len = len(@strDelim)
	declare @index int,@strOut as varchar(20)
	set @index = charindex(@strDelim,@StrIn)

	while @index>0
	begin
		set @strOut = substring(@StrIn,1,@index-1)
		insert into @Result(Items) select cast(@strOut as int)
		set @StrIn = substring(@StrIn,@index+@len,len(@StrIn))
		set @index = charindex(@strDelim,@StrIn)
	end

	if @index = 0
	begin
		insert into @Result(Items) select cast(rtrim(ltrim(@StrIn)) as int)
	end	
	
return

END



GO
