USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_australiaDateTime]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fun_australiaDateTime]()
returns datetime as    
begin    
 declare @UrlName as datetime
 SELECT @UrlName=DATEADD(mi, 00, DATEADD(hh, 11, GETUTCDATE())) 
 return @UrlName    
end



GO
