USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_BusinessFoodItemsNames]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fun_BusinessFoodItemsNames](@BusinessID AS BIGINT)
RETURNS varchar(4000)
AS
BEGIN
	DECLARE @ReturnVal AS VARCHAR(4000)	
	SET @ReturnVal=''	

	SELECT @ReturnVal = @ReturnVal + Name + ','
	FROM FoodItems F
	INNER JOIN BusinessFoodItems B (NOLOCK) ON F.ID = B.FoodItemID AND B.BusinessID = @BusinessID	
	
	IF LEN(@ReturnVal)>0
		SET @ReturnVal = SUBSTRING(@ReturnVal , 1, LEN(@ReturnVal)-1)
	
	RETURN @ReturnVal
END

GO
