USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[GetUSTimeZoneTimeFromUTC]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetUSTimeZoneTimeFromUTC]
(
	@UTCTDateTime DATETIME ,
	@TimeZone VARCHAR(20) 
)
RETURNS TABLE 
AS
RETURN 
(
	 SELECT @UTCTDateTime AS UTCTime,
			@TimeZone AS ConvertToTimeZone,
			DATEADD(MI,-(TZD.MinuteDiffFromUTC + CASE WHEN TZD.DSTObserve = 1 AND @UTCTDateTime BETWEEN USDST.StartDate AND USDST.EndDate THEN TZD.DSTOffSetMin 
													  ELSE 0 
												 END), @UTCTDateTime) AS ConvertedTime
	 FROM dbo.GetUSDaylightSavingsTime(YEAR(@UTCTDateTime)) USDST
	 INNER JOIN dbo.USTimeZoneDtl TZD WITH(NOLOCK) ON 1=1
	 WHERE TZD.TimeZoneAbbr = @TimeZone
)




GO
