USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[ReplaceSingleQuote]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ReplaceSingleQuote]
(
	@str varchar(2000)
)
RETURNS varchar(2000)
AS
BEGIN
	RETURN replace(@str, '''', '''''')
END

GO
