USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_UserFavouriteBusinesses]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[Fun_UserFavouriteBusinesses](@UserID AS BIGINT)
RETURNS varchar(8000)
AS
BEGIN
	DECLARE @ReturnVal AS VARCHAR(8000)	
	SET @ReturnVal=''	

	SELECT @ReturnVal = @ReturnVal + Business.Name + ', '
	FROM UserFavouriteBusiness 
	INNER JOIN Business ON UserFavouriteBusiness.BusinessID = Business.ID
	WHERE UserID = @UserID
	
	IF LEN(@ReturnVal)>0
		SET @ReturnVal = SUBSTRING(@ReturnVal , 1, LEN(@ReturnVal)-2)
	
	RETURN @ReturnVal
END

GO
