USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[getPostcodedistanceList]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select distinct postcode  from  dbo.getPostcodedistanceList('3024',40) 
CREATE FUNCTION [dbo].[getPostcodedistanceList](@temp varchar(8000), @km numeric(18,2))     
returns @temptable TABLE (id bigint identity(1,1), postcode int)      
as     
begin  

	declare @postcodetable TABLE (id bigint identity(1,1), postcode int ,dist money,suburb varchar(200)) 


    declare @gln_lon numeric(18,10) 
	declare @gln_lat numeric(18,10)
	declare @gln_radius numeric(18,10) =  @km * 0.621371192
	declare @mainpostcode int=0;
	
	declare @count int=0
	declare @postcode varchar(50)=''

	if @temp=''
	begin
	
	insert into @postcodetable values(0,0,'')
	return
	end

	select top 1 @count=id, @postcode=postcode from Business(nolock) where cast(postcode as varchar(50)) = @temp 	


if(@count > 0)
begin

	select top 1 @gln_lat=lat, @gln_lon=lon,@mainpostcode=postcode from ausSuburbDatabase(nolock) where (cast(postcode as varchar(50)) = @postcode or @postcode='')
	
end	
else
begin
	select top 1 @gln_lat=lat, @gln_lon=lon,@mainpostcode=postcode from ausSuburbDatabase(nolock) where cast(postcode as varchar(50)) = @temp 	
	
end	
if(isnull(@gln_lat,0)=0 and isnull(@gln_lon,0)=0)
begin
select top 1 @gln_lat=lat, @gln_lon=lon,@mainpostcode=postcode from ausSuburbDatabase(nolock) where   cast(postcode as varchar(50)) = @temp 
	
end
	
	
	--select top 1 @gln_lat=lat, @gln_lon=lon,@mainpostcode=postcode from ausSuburbDatabase where suburb = @temp or  cast(postcode as varchar(50)) = @temp 
	--or ((suburb + ', ' + CONVERT(varchar, postcode) + ', ' +state = @temp ))
	
	
	insert into @postcodetable SELECT distinct postcode, ( 
									Power( ( 69.1 * (CAST(lon as numeric(18,10)) -   @gln_lon) * cos( @gln_lat  / 57.3 ) ) , 2 ) 
									+ Power( ( 69.1 * (cast(lat as numeric(18,10)) - @gln_lat  ) ) , 2 )
								 ) as dist,suburb  FROM ausSuburbDatabase 
						   WHERE 
								( 
									Power( ( 69.1 * (CAST(lon as numeric(18,10)) -   @gln_lon) * cos( @gln_lat  / 57.3 ) ) , 2 ) 
									+ Power( ( 69.1 * (cast(lat as numeric(18,10)) - @gln_lat  ) ) , 2 )
								 ) <   ( @gln_radius * @gln_radius)
								 
								 order by ( 
									Power( ( 69.1 * (CAST(lon as numeric(18,10)) -   @gln_lon) * cos( @gln_lat  / 57.3 ) ) , 2 ) 
									+ Power( ( 69.1 * (cast(lat as numeric(18,10)) - @gln_lat  ) ) , 2 )
								 ) 
	
	if(@@rowcount = 0)
	begin
		insert into @postcodetable select distinct  postcode, 0,'' from business(nolock) where cast(postcode as varchar(50)) = @temp  order by postcode		
								 
	end
	
		insert into @temptable(postcode)
	select distinct postcode from @postcodetable
	
	
return     
end

GO
