USE [BringMeHome]
GO
/****** Object:  UserDefinedFunction [dbo].[Fun_SplitStrAndJoin]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Fun_SplitStrAndJoin](@StrIn varchar(8000), @strDelim varchar(10))
RETURNS @Result Table (id int identity(1, 1), Items varchar(200))
AS  
BEGIN 
	Declare @len int
	Declare @index int, @strOut as varchar(1000)
	declare @StrInOrig varchar(8000)	
	set @StrInOrig = @StrIn 

	Set @len = len(@strDelim)
	Set @index = charindex(@strDelim, @StrIn)
	declare @index1 int
	Set @index1  = @index 

 	While @index > 0
	Begin		
			Set @strOut = substring(@StrInOrig, 1, @index1-1)		
			If datalength(@strOut) > 0
				Insert into @Result(Items) select rtrim(ltrim(@strOut))
			Set @StrIn = substring(@StrIn, @index + @len, len(@StrIn))
	
			Set @index = charindex(@strDelim, @StrIn)
			Set @index1 =  @index1  + charindex(@strDelim, @StrIn)		
			
	End
	If @index = 0
	Begin
			If datalength(@StrIn) > 0
					Insert into @Result(Items) select rtrim(ltrim(@StrInOrig))
	End	
	RETURN
END



GO
