USE [BringMeHome]
GO
/****** Object:  View [dbo].[VW_Menu]    Script Date: 4/4/2019 11:53:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_Menu]  
AS  
SELECT     COUNT(ID) AS Count, ParentID  
FROM         dbo.Menu  
GROUP BY ParentID



GO
