<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Apis" version="1.73.0" targetFramework="net462" />
  <package id="Google.Apis.Auth" version="1.73.0" targetFramework="net462" />
  <package id="Google.Apis.Core" version="1.73.0" targetFramework="net462" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net462" />
  <package id="PushSharp" version="4.0.10" targetFramework="net45" />
  <package id="Stripe.net" version="39.83.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net462" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net462" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net462" />
</packages>