<?xml version="1.0" encoding="utf-8"?>
<!--  
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="WebSiteUrl" value="http://localhost:54046/" />
    <add key="WebsiteName" value="BiteLoop" />
    <add key="VirtualDir" value="/BitLoop/" />
    <add key="IsVirtualDirSlash" value="false" />
    <add key="EncryptKey" value="B-R#%nGM%eH0^me" />
    <!-- Folder Related Setting -->
    <add key="Banner" value="source/Banner/" />
    <add key="CMSFiles" value="source/CMSFiles/" />
    <add key="Users" value="source/users/" />
    <add key="TimeZone" value="E. Africa Standard Time" />
    <!--Notification Keys-->
    <add key="NotificationServerKey" value="AIzaSyDSc02fZYCEYW6gPivbnuQU_lPm7peqWic" />
    <add key="P12FilePassword" value="bringmehome" />
    <add key="P12CertificateName" value="bringmehome16june.p12" />
    <!--Stripe Key-->
    <add key="StripeSecretKey" value="sk_test_51SHu2cCbDroumDed0YIqw0EsmIVOh3cRFcvpMwtvieWmi7fFMLx2yn76zZ4poiFhNzwOq1JzVw1p7BiroE04onxR00yQUXQrvE" />
    <add key="StripePublishableKey" value="pk_test_51SHu2cCbDroumDedOkQMi1hlOSoYOCkN7xw0vBdyfLa7hbqKpqcWVt4UTPqyiO2E5I62YqAD4qfY4rZcJldNZIVo00e4nMktZp" />
    <!--Stripe Key-->
    <!--AuthToken for Without Login User-->
    <add key="SecretKey" value="3B787D604DFDC68D11908A0130BAED03" />
    <add key="AuthToken" value="c4f19e15-fe11-47dc-a458-4399c3b27b6c" />
    <!--AuthToken for Without Login User-->
    <add key="IOSPHPURL" value="" />
    <add key="IOSPHPURLUsers" value="" />
    <add key="GoogleMapApiKey" value="AIzaSyCDFeKkys_fsbIrMdrz0E6p5TqC71PPWEM" />
    <add key="IOSUserNotificationServerKey" value="AAAAxUJ1mPo:APA91bHpFJjpsCJxtqRVPp7cDRO8YlLyypZXGBheucnYaQXpIKyboSk038Rn0t1EAm346eVwKsqo_hRjGkbkX2bWR9RiFbvIsk-hybC2XyD_aw80kmeFtewpGc8MjmrQB8GPKBvjucdZwy_U0Hfsi7lD63FqymPq_A" />
    <add key="IOSBusinessNotificationServerKey" value="AAAAKYdbBIk:APA91bF7F7QtMkfMCSetjMGfxMeKgw0s76nZP9Aqer2IeI597ke4NIZwaoWhB0P5w6fX04zIPUaSNLZjNOoTeVwvYOibM13TQFpcNNWIdf6PTpXXBqBXLBlVbeiIetDxrBMDFzvR4egkF2McsN19QxwrnBKBP7Hc2Q" />
    <add key="TwillioFromNo" value="+1111111" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="data source=103.149.165.70;User id=BiteLoopDB_usr;password=0Tqya70#$245; initial catalog=BiteLoopDB;Min Pool Size=0;Max Pool Size=10000;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.6.2">
      <assemblies>
        <add assembly="Microsoft.VisualBasic, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="2097152" executionTimeout="10800" />
    <sessionState timeout="60" />
    <!--<httpRuntime targetFramework="4.5" />-->
    <customErrors mode="Off" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <!--<staticContent>
    <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
     <mimeMap fileExtension=".woff2" mimeType="font/x-woff2" />
  </staticContent>-->
    <!--<security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648"/>
      </requestFiltering>
    </security>-->
    <!--  <rewrite>
      <rules>        
        <rule name="LowerCaseRule1" stopProcessing="true">
          <match url="[A-Z]" ignoreCase="false"/>
          <action type="Redirect" url="{ToLower:{URL}}"/>
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>