@media screen and (min-width:2101px) and (max-width:2525px) {{}
}
 @media screen and (min-width:1901px) and (max-width:2100px) {{}
}
 @media screen and (min-width:1701px) and (max-width:1900px) {{}
}
 @media screen and (min-width:1501px) and (max-width:1700px) {{}
/*
.flatebroser img {width: 100%;}
.freephotocopy h1 {font-size: 42px;}
.freephotocopy p {font-size: 22px;padding: 0px 0 0;}
.watchvideo {padding: 15px 0 0;width: auto;}*/
}

@media screen and (min-width:1301px) and (max-width:1500px) {{}
#owl-demo4 .owl-pagination {left: -73px;}
.flatebroser {width: 100%;padding: 25px 0 0 0;margin: 0px;}
.flatebroser img {width: 100%;}
.freephotocopy {margin: 0;padding: 25px 0 0 0px;width: 100%;}
.freephotocopy h1 {font-size: 42px;}
.freephotocopy p {font-size: 22px;padding: 0px 0 0;}
.watchvideo {padding: 15px 0 0;	width: auto;}
.logo2 {padding: 23px 0 0 0px;text-align: left;}
.margr100 {margin-right: 23px;margin-top: 0px;}
.what-is-freecopy2 {padding:0px 0 0;}
/*.flate-browser > img {width: 100%;}*/
.create-profile::before {right: -126px;}
.select-reach-icon::before {right: -126px;}
.add-filter-icon::before {right: -126px;}
.publish-ad-icon::before {display: none;}
.container2 {margin-left: auto;margin-right: auto;padding-left: 15px;padding-right: 15px;width: 100%;}
.wing-img {background: rgba(0, 0, 0, 0) url("../images/wing-img.png") repeat-x scroll left 364px / 100% auto;}

.contactfrm{ width:100%;}	

}

@media screen and (min-width:1301px) and (max-width:1500px) {{}
.carousel-title {margin: 0; padding: 20% 0 0; width: 100%;}

.carousel-title {margin: 0; padding: 20% 0 0; width: 100%;}
.terget-ads {padding: 131px 0 0;text-align: left;width:100%;}
.easily-ads {float: right; margin: 0 0 0 145px; padding: 164px 0 0; text-align: left;width:100%;}
.flatebroser img {margin: 0 10% 0 0; max-width: 91%;}
.wing-img {background: rgba(0, 0, 0, 0) url("../images/wing-img.png") repeat-x scroll left 420px / 100% auto; background-size:100%;}
.middle-bg2 {height:630px; min-height: 100%;}

.contactfrm2{margin: -208px 0 0 -18px; padding: 70px 0 0; width:100%;}
.flatebroser {width: 100%;padding: 25px 0 14% 0;margin: 0px;}
.easly > img{max-width: 100%;}

}

@media screen and (min-width:1301px) and (max-width:1465px) {{}
.bannertop{ width:100%;}

}


@media (max-width:1300px) {{}
.container{width:100%;}

}

@media screen and (min-width:1200px) and (max-width:1300px) {{}
.innerpge{width:85% !important; margin:0px auto !important;}
.carousel-title {margin: 0; padding: 20% 0 0; width: 100%;}
.terget-ads {padding: 131px 0 0;text-align: left;width:100%;}
.easily-ads {float: right; margin: 0 0 0 145px; padding: 164px 0 0; text-align: left;width:100%;}
.flatebroser img {margin: 0 10% 0 0; max-width: 91%;}
.wing-img {background: rgba(0, 0, 0, 0) url("../images/wing-img.png") repeat-x scroll left 420px / 100% auto; background-size:100%;}
.flatebroser {width: 100%;padding: 25px 0 13% 0;margin: 0px;}
.easly > img {max-width: 100%;}
.container{ width:100%; padding:0px; margin:0px;}
}


@media screen and (min-width:1200px) and (max-width:1250px) {{}
.flatebroser {width: 100%;padding: 25px 0 15% 0;margin: 0px;}
.easly > img {
  max-width: 100%;
}
}

@media screen and (min-width:1301px) and (max-width:1350px) {{}
.printforever .android {width: 45%;}
.easly > img {max-width: 100%;}

}



@media screen and (min-width:1000px) and (max-width:1199px) {{}
.flatebroser img {margin: 0 10% 0 0; max-width: 91%;}
.terget-ads {margin: 0; padding: 131px 0 0;  text-align: left; width:100%;}
.easily-ads {float: right; margin: 0 0 0 145px; padding: 164px 0 0; text-align: left; width: 100%;}
.easly > img {max-width: 100%;}

}

@media screen and (min-width:1024px) and (max-width:1300px) {
.banner-bg {height:auto;}
.contactfrm2 {float: left; margin: -130px 0 0 -18px; padding: 0; width: 590px;}
.mobile-middle {width: 450px;}
.printforever .android {width: 41%; font-size: 15px; line-height:48px;}
.printforever {float: left; margin: 0 0 0 6%; padding:30px 0 0 15px; text-align: left; width: 61%;}
.printforever h1 {font-size:28px; }
.printforever p {font-size: 19px; line-height: 28px; margin: 0; padding: 0px 0 0 0; text-align: left;}
.adroidapp .android {margin:25px 5px 0 0; padding: 0; text-align:center; text-decoration: none; width:195px; font-size:16px;}
.sliderdsplay {width:auto;}
.adroidapp {float:left; margin:-170px 0 0 38%; padding: 0; position: relative; text-align:left; width:405px; z-index:999;}
.left-part > img {width: 100%;}

.terget-img img {width: 70%;}
.terget-img {margin: 0; padding: 0; text-align: center;}
.easly > img {width: 70%;}
.easly {margin: 0; padding: 35px 0 0 55px; text-align: left; width: 100%;}
.longturn-brand > img {width: 70%;}
.longturn-brand {margin: 0; padding: 50px 0 0; text-align: center;}
.userimg > img {width: 70%;}
.userimg { margin: 0; padding: 57px 0 0 16px; text-align: left;}
.pay-only > img { width: 70%;}
.pay-only { margin: 0; padding: 50px 0 0; text-align: center;}
#owl-demo4 .owl-pagination {left: -73px;}
.now-available ul li{ width:30%;}
.now-available img {max-width: 100%;}
.printforever h1 {font-size: 37px;}
.printforever p {font-size:19px; margin: 0; text-align: left !important;}

.middle-bg2 {height: 490px; min-height: 100%;}
.now-available ul {margin: 0; padding: 22px 0 0px;}

.printforever .android {margin: 23px 26px 0 0; width:43%;}
.now-available{ width:100%;}	

.contactfrm{ width:100%;}	
/*.flate-browser > img {max-width: 100%;}*/
.ballet {text-align: center;}
.need-detail2 {margin: -51px 0 47px 5%;padding: 0 10px 25px;width: 50%;}
.email-icn {margin: 0 10px 11px 0px;}
.lock-icon {margin: 0 10px 11px 0px;}
.need-detail2 ul li:last-child {margin: 0 0 10px;}
.forgot p {margin: 0;padding: 6px 0;text-align: left;}
.right-login .hvr-outline-in::before {bottom: -13px;left: -13px;right: -13px;top: -13px;}
.welsponcer-login .have-accoutn2 {padding: 0 0 0 10px;width: 44%;}
.welsponcer-login .have-accoutn {padding: 2% 5% 2%;width: 44%;margin-bottom: 10px;}
.welsponcer-login .have-accoutn a {margin: 20px 0 0;}
.busniness {margin: 0 10px 11px 0px;}
.mobile-icon {margin: 0 10px 11px 0px;}
.need-detail {float: left;margin: -51px 0 47px 2%;padding: 0 12px 28px;position: relative;top: 0px;right: 0px;width: 50%;}
.flatebroser img {width: 100%;}
.freephotocopy {margin: 0;padding: 25px 0 0 0px;width: 100%;}
.freephotocopy h1 {font-size: 42px;}
.freephotocopy p {font-size: 22px;padding: 0px 0 0;}
.watchvideo {padding: 15px 0 0;width: auto;}
.logo2 {padding: 23px 0 0 0px;text-align: left;}
.margr100 {margin-right: 0px;margin-top: 0px;}
.container2 {width: 100%;}
.what-is-freecopy2 {padding:0px 0 0;}
.create-profile::before {display: none;}
.select-reach-icon::before {display: none;}
.add-filter-icon::before {display: none;}
.publish-ad-icon::before {display: none;}
.easily-ads {margin: 0;	padding: 164px 0 0;}
.easly > img {width: 100%;}
.give-free {margin: 0;padding: 175px 0 0;text-align: left;}
.userimg > img {width: 100%;}
.discover-local::before {display: none;}
.get-your-free::before {display: none;}
.now-available p {margin: 0; padding: 37px 42px 0 0;}
.margr100 {margin-right: 3px; margin-top: 0;}

}

@media screen and (min-width:992px) and (max-width:1200px) {
.ballet span {display: inline-block;padding: 0px;}
.whateiscopy {margin: 0 auto;padding: 0;width: 100%;}
.container2 {width: 100%;}
.flate-browser img {width: 100%;}
.carousel-title {margin: 0;padding: 20px 0 0;width: 100%;}
.point-icn::before {right: -115px;width: 86px;}
.affilated-icn::before {right: -115px;	width: 86px;}
.what-is-freecopy2 {padding: 50px 0 0;}
}



@media screen and (min-width:992px) and (max-width:1150px) {
.contactfrm2 p {padding: 26px 0 30px 10px; width:100%;}
	
.printforever .android {width: 44%;}
.testmonialstatus {width:100%;}
.mobile-middle {width:450px;}
}


@media screen and (min-width:992px) and (max-width:1023px) {
.mobile-middle {width:auto;}
.contactfrm2{margin:0; padding: 70px 0 0; width:100%;}
.printforever .android {width: 41%; font-size: 15px; line-height:48px;}
.printforever {float: left; margin: 0 0 0 6%; padding:30px 0 0 15px; text-align: left; width: 61%;}
.printforever h1 {font-size:28px; }
.printforever p {font-size: 19px; line-height: 28px; margin: 0; padding: 0px 0 0 0; text-align: left;}
.adroidapp .android {margin:25px 5px 0 0; padding: 0; text-align:center; text-decoration: none; width:195px; font-size:16px;}
.sliderdsplay {width:auto;}
.adroidapp {float:left; margin:-170px 0 0 38%; padding: 0; position: relative; text-align:left; width:405px; z-index:999;}

}

@media screen and (min-width:768px) and (max-width:1023px) {
.easily-ads p{ font-size:18px;}
.branding-solution p{ font-size:18px;}
.give-free p{font-size:18px;}
.pay-solution p{font-size:18px;}
.pay-solution{ padding:90px 0 0 0;}
.pay-only {margin: 0; padding:50px 0px 0px 0; text-align:center;}
.easily-ads h3 {font-size: 24px; margin: 0; padding: 0;}
.longturn-brand {margin: 0; padding:50px 0px 0 0; text-align: center;}
.branding-solution h3 {font-size:24px;font-weight: 500; margin: 0; padding: 0;}
.branding-solution {margin: 0; padding:50px 0 0; text-align: left;}
.terget-ads p {font-size: 18px;  margin: 0;}
.terget-img {margin: 0; padding: 0 0px 0 0; text-align:center;}
.terget-ads{margin: 0; padding:10px 0 0; text-align: left; width:100%;}
#owl-demo4 .carousel-title {margin: 0; padding: 40px 0 0; width: 100%;}
.end-user-banner {margin: 0 auto; padding: 0; position: relative; width:83%;}
/*.left-part {float:left; margin:0; padding:0 0 25px 0; text-align:left; width: 40%;}*/
.left-part > img {width: 100%;}
.printforever .android {height: 57px;line-height:57px; display:inline-block; margin:16px 10px 0 0; padding:0px 6px 0px 6px; text-align: center; 
text-decoration: none; width:auto !important;}
#owl-demo4 .watchvideo {font-size: 24px;  margin:0 0 50px 0; padding:35px 0 0; width:auto;}
#owl-demo4 .watchvideo span {display: inline; margin: 0px 11px 0 0; padding: 0;}
.banner-bg{ height:auto;}
.now-available p {margin: 0; padding: 37px 0px 0 0;}
.printforever h1 {margin: 0; padding: 0 0px 0 0;}
.now-available ul {margin: 0; padding: 10px 0 0px;}
.middle-bg2 {height:auto; min-height: 100%;}

.now-available ul li{width:30%;}
.now-available img{max-width: 100%;}
.printforever{float: right; margin: 0; padding: 65px 0 0 0;}
.printforever h1{font-size:35px;}
.printforever p {font-size: 22px; line-height: 33px; margin: 0; padding: 0 0 20px; text-align: left !important;}
/*.printforever .android {margin: 23px 26px 0 0; width: 287px;}	*/
.now-available ul li{ width:45%; margin:0 10px 0 0;}
.now-available img {max-width: 100%;}
.now-available {float: left; margin: 15% 5% 0 0; padding: 10px 0 0; width: 100%;}

.contactfrm{ width:100%;}	
.getpoint-icon::before {display: none;}
.store-icon::before {display: none;}
.discover-local::before {display: none;}
.get-your-free::before {display: none;}
.howswork .get-point {margin: 0 auto;width: 100%;}
.watchvideo span {margin: 0 10px 0 0;}
.what-is-freecopy2 p {margin: 0 0 80px;}
.what-is-freecopy2 {padding: 50px 0 0 0;}
.watchvideo img {width: 50px;}
.carousel-title h3 {text-align: center;}
.carousel-title {padding: 35px 0 0 0}
.carousel-title p {text-align: center; font-size: 18px;}
.terget-img img {width:70%;}
.easily-ads {margin: 0;text-align: left; padding: 25px 0 0; width:100%;}
.easly > img {width:70%;}
.longturn-brand > img {width:70%;}
.give-free {margin: 0;text-align: left; padding:50px 0 0 0;}
.give-free h3 {font-size: 24px;}
.userimg > img {width:70%;}
.pay-only > img {width: 70%;}
.create-profile::before {display: none;}
.select-reach-icon::before {display: none;}
.add-filter-icon::before {display: none;}
.publish-ad-icon::before {display: none;}

.testmonialstatus {width: 650px;}
.ballet {text-align: center;}
.need-detail2 {margin: -51px 0 47px 5%;	padding: 0 10px 25px;width: 50%;}
.email-icn {margin: 0 10px 11px 0px;}
.lock-icon {margin: 0 10px 11px 0px;}
.entr-name {margin: 0 10px 11px 0px;}
.address-view {margin: 0 10px 11px 0px;}
.need-detail2 ul li:last-child {margin: 0 0 10px;}
.forgot p {margin: 0;padding: 6px 0;text-align: left;}
.right-login .hvr-outline-in::before {bottom: -13px;left: -13px;right: -13px;top: -13px;}
.welsponcer-login .have-accoutn2 {padding: 0 0 0 10px;width: 44%;}
.welsponcer-login .have-accoutn {padding: 0% 5% 2%;width: 44%;margin-bottom: 10px;}
.welsponcer-login .have-accoutn a {margin: 20px 0 0;}
.busniness {margin: 0 10px 11px 0px;}
.mobile-icon {margin: 0 10px 11px 0px;}
.need-detail {float: left;margin: -51px 0 47px 2%;padding: 0 12px 28px;position: relative;top: 0px;right: 0px;width: 50%;}
.margr100 {margin-right:3px;margin-top: 0;}
.logo2 {padding: 23px 0 0 0;}
.flatebroser {width: 100%;padding: 25px 0 35px 0;margin: 0px;}
.flatebroser img {width: 100%;}
.freephotocopy {margin: 0;padding: 25px 0 35px 0px;width: 100%;}
.freephotocopy h1 {font-size:33px;}
.freephotocopy p {font-size: 22px;padding: 0px 0 0;}
.watchvideo {padding: 15px 0 10px 0;	width: auto;}
.whateiscopy {margin: 0 auto;padding: 0;	width: 100%;}
.point-icn::before {display: none;}
.affilated-icn::before {display: none;}
.container2 {width: 100%;}
.how-it-work2 p {padding: 36px 0 50px;}
.how-it-work2 h2 {margin: 0; padding:35px 0 0; width: 100%;}


}
@media screen and (min-width:768px) and (max-width:992px) {{}
.contactfrm2{margin:0; padding: 70px 0 0; width:100%;}

.mobile-middle {float: left; margin: 32px 0 0; padding: 0; position: relative; text-align:left; width: 100%;}
.printforever {float: left; margin: 0 0 0 6%; padding:30px 0 0 15px; text-align: left; width: 61%;}
.printforever h1 {font-size:28px; }
.printforever p {font-size:18px; line-height:18px; margin: 0; padding: 0px 0 0 0; text-align: left;}
.adroidapp .android {margin:25px 5px 0 0; padding: 0; text-align:center; text-decoration: none; width:195px; font-size:16px;}
.sliderdsplay {width:auto;}
.adroidapp {float:left; margin:-170px 0 0 38%; padding: 0; position: relative; text-align:left; width:405px; z-index:999;}
.howswork {width: 50%;}
.contact-area {width: 100%;}
.contactfrm {padding: 70px 0 0;width: 100%;}
.popup .modal-dialog {margin:50px auto; width:90%;}
.popup .modal-dialog iframe{margin:0; width:100%; max-height:450px; height:450px;}
.how-it-work p {padding:36px 25px 70px;}

}
@media (max-width:767px) {{}
.adroidapp .android:hover {background:none;  color: #000;}


.right-download a:hover{ background:#fe4c4c;}
.contactfrm2{margin:0; padding: 70px 0 0; width:100%;}
.testimonial{ display:none;}
.margin138 {padding-bottom:50px;}
.contactfrm p {font-size: 16px; line-height: normal; margin: 0; padding:10px 0 31px 0; width: 100%;}
.ftr-section p {font-size: 15px; padding: 18px 0 25px;}
.dsplay-img{display:block;}
.right-download .downld {border:0px; font-size:0px;}
.right-download .downld:hover {border:0px !important; font-size:0px;}
.hvr-outline-in::before {border: 0 solid #e1e1e1;}
.right-download .hvr-outline-in::before {border:0px solid #000;}
.right-download a {font-size: 0; display:inline-block; padding: 0px; margin:0 14px 0 0;}
.right-download {display: block; padding-top: 10px; text-align: right;}
.right-download a:last-child {padding: 0px; margin:-35px 0px 0 0;}
.right-download .downld {border: 0px solid #fff; color: #fff; margin:0; padding: 0px;text-align: center; text-decoration: none; width: 43px;}
.now-available{width:100%;}

.contactfrm{ width:100%;}	
.now-available { margin: 0; padding: 10px 0 0 0px; width: 100%;}
.banner-bg {display:block;}
.getpoint-icon::before {display: none;}
.store-icon::before {display: none;}
.getpoint-icon {width: 175px;height: 175px;}
.getpoint-icon:hover {width: 175px;	height: 175px;}
.store-icon {width: 175px;height: 175px;}
.store-icon:hover {width: 175px;height: 175px;}
.coupoun-icon {	width: 175px;height: 175px;}
.coupoun-icon:hover {width: 175px;height: 175px;}
.get-your-free::before {display: none;}
.discover-local::before {display: none;}
.get-your-free::before {display: none;}
.get-your-free {width: 175px;height: 175px;}
.discover-local {width: 175px;height: 175px;}
.get-your-free {width: 175px;height: 175px;}
.get-your-free:hover {width: 175px;height: 175px;}
.discover-local:hover {width: 175px;height: 175px;}
.get-your-free:hover {width: 175px;height: 175px;}
.offer-coupons {width: 175px;height: 175px;}
.offer-coupons:hover {width: 175px;height: 175px;}
.what-is-freecopy h2 {font-size: 30px;padding: 45px 0 0 0;}
.what-is-freecopy p {font-size: 20px;padding: 36px 0px 0;}
.advertise-withus .submit {border-radius: 25px;height: 50px;font-size: 22px;width: 263px;}
.ftr-section a {font-size: 16px; padding: 0 3px;}
.advertise-withus h2 {font-size: 30px;}
.advertise-withus p {font-size: 25px;margin: 0;padding: 19px 0 0;line-height: 30px;}
.hvr-pulse {width: 155px;}
.contactfrm h2 {font-size: 30px;padding: 0px;}
.contactfrm {padding: 30px 0 0;}
.namefield .submit {width: 100%;height: 56px;}
.namefield input {font-size: 14px;height: 50px;padding: 0 0 0 10px;}
.namefield textarea {font-size: 14px;padding: 10px 0 0 10px;}
.get-insight h2 {font-size: 30px;padding: 15px 0 74px;}
.carousel-title {padding: 10px 0 0;}
.carousel-title h3 {font-size: 30px;text-align: center;}
.flate-browser {padding: 0 0 20px;}
.benefit h2 {font-size:24px;}
.branding-solution {padding: 45px 0 0;}
.pay-solution {padding: 0;}
.terget-ads h3 {text-align: center;}
.terget-ads p {text-align: center;font-size: 18px;padding: 0 3%;}
.easily-ads {text-align: center;}
.easily-ads p {text-align: center;font-size: 18px;padding: 0 3%; font-weight:300;}
.branding-solution h3 {text-align: center;}
.branding-solution p {text-align: center;font-size: 18px;padding: 0 3%; font-weight:300;}
.give-free h3 {text-align: center;}
.give-free p {text-align: center;font-size: 18px;padding: 0 3%; font-weight:300;}
.pay-solution h3 {text-align: center;}
.pay-solution p {text-align: center;font-size: 18px;padding: 0 3%; font-weight:300;}
.watchvideo {padding: 25px 0 25px 0;}
.right-login .addnow {font-size: 15px;padding: 8px 0 7px;width: 170px;}
.right-login {text-align: center;padding-top: 30px;}
.what-is-freecopy2 h2 {font-size: 28px;padding: 20px 0 0 0;}
.what-is-freecopy2 p {font-size: 20px;line-height: 29px;margin: 0;padding: 30px 0 40px 0;}
.whateiscopy {margin: 0 auto;padding: 0;width: 100%;}
.container2 {width: 100%;}
.flate-browser > img {max-width:100%;}
.testmonialstatus {width: 100%; display:none;}
.owl-theme .owl-controls .owl-buttons .owl-next {display: none;}
.owl-theme .owl-controls .owl-buttons .owl-prev {display: none;}
#testimonial .owl-buttons {display: none !important;}
.how-it-work h2 {font-size: 28px;padding: 35px 0 0;}
.how-it-work p {font-size: 20px;font-weight: lighter;line-height: 30px;margin: 0 0 40px 0;padding: 15px;}
.point-icn::before {display: none;}
.affilated-icn::before {display: none;}
.terget-img > img {width: 100%;}
.easily-ads {margin: 0px;padding: 25px 0 0;text-align: left;}
.easly > img {width:70%;}
.longturn-brand > img {width: 100%;}
.give-free {margin: 0px;padding: 25px 0 0;text-align: left;}
.userimg > img {width: 100%;}
.pay-only > img {width: 100%;}
.contactfrm {margin: 0;	padding:35px 0 0 0px;width: 100%;}
.create-profile::before {display: none;}
.select-reach-icon::before {display: none;}
.add-filter-icon::before {display: none;}
.publish-ad-icon::before {display: none;}
.logo2 img {width:150px;}
#owl-demo4 .carousel-title {margin: 0;  padding: 31px 0 0; width: 100%; float: left;}
.contactfrm2 p{ width:100%; font-size:20px;}
.donwload{ display:none;}
.what-is-freecopy p{ margin:0px 0 50px 0;}
.how-it-work2 h2 {font-size: 35px; width: 100%;}
.how-it-work2 p {font-size:20px; padding: 15px 0 50px 0;}
.middle-bg2{ height:auto;}
.carousel-title p {text-align: center; padding:0px;}
.benefit p {font-size:18px; margin: 0; padding: 11px 0 30px;}


}


@media screen and (min-width:551px) and (max-width:767px) {{}
.printforever {float: left; margin: 0 0 0 6%; padding:30px 0 0 15px; text-align: left; width: 61%;}
.printforever h1 {font-size:28px; }
.printforever p {font-size: 19px; line-height: 28px; margin: 0; padding: 0px 0 0 0; text-align: left;}


.adroidapp .android {margin:25px 5px 0 0; padding: 0; text-align:center; text-decoration: none; width:150px; font-size:16px;}
.sliderdsplay {width:auto;}
.adroidapp {float: right; margin:0px; padding: 0; position: relative; text-align: center; width:100%; z-index:999;}



.need-detail2 {margin: -51px 0 47px 5%;padding: 0 10px 25px;width: 50%;}
.email-icn {margin: 0 10px 11px 0px;}
.lock-icon {margin: 0 10px 11px 0px;}
.entr-name {margin: 0 10px 11px 0px;}
.address-view {margin: 0 10px 11px 0px;}
.need-detail2 ul li:last-child {margin: 0 0 10px;}
.forgot p {margin: 0;padding: 6px 0;text-align: left;}
.right-login .hvr-outline-in::before {bottom: -13px;left: -13px;right: -13px;top: -13px;}
.welsponcer-login .have-accoutn2 {padding: 0 0 0 10px;width: 44%;}
.welsponcer-login .have-accoutn {padding: 0% 5% 2%;width: 44%;margin-bottom: 10px;}
.welsponcer-login .have-accoutn a {margin: 20px 0 0;}
.busniness {margin: 0 10px 11px 0px;}
.mobile-icon {margin: 0 10px 11px 0px;}
.need-detail {float: left;margin: -51px 0 47px 2%;padding: 0 12px 28px;position: relative;top: 0px;right: 0px;width: 50%;}

/*--------slider css--------*/
.end-user-banner {float: left; margin: 0; padding: 0; position: relative;width: 100%;}
.left-part > img {width: 98%;}
/*.printforever {float:left; margin: 0; padding: 5px 0 0 18px; width:100%; text-align:center;}*/


.printforever .android {font-size: 18px; font-weight: 500; height:57px; line-height: 48px; margin: 25px 5px 0 0;  padding: 0;
  text-align: center; text-decoration: none; width:153px;}
.banner-bg{ height:auto;}
#owl-demo4 .watchvideo {margin: 0; padding: 25px 0 21px; width: auto;}
#owl-demo4 .owl-pagination {display: none;}

/*--------slider css--------*/
.now-available ul li {display: inline-block; margin: 0 4px 0 0; padding: 0; width:47%;}
.contactfrm2 h2 {font-size: 35px; font-weight: normal; margin: 0; padding: 0 0 0 10px;}
.sliderdsplay{display:inline; padding:0 3px 0 3px; vertical-align:middle; text-align:center;}

}

@media screen and (min-width:481px) and (max-width:767px) {{}
.terget-ads {margin: 0; padding:50px 0 0; text-align:center; width:100%;}
.easily-ads {margin:0 0 0 50px; padding: 9px 0 0; text-align:center; width:100%;}
.flatebroser img {max-width:80%; text-align:center;}
.flatebroser {margin: 0; padding: 25px 0 0; text-align:center; width: 100%;}
.how-it-work {margin: 0 auto;padding: 0;text-align: center;	width: 400px;}
.what-is-freecopy2 {margin: 0 auto;	width: 400px;}
.get-point2 {margin: 0 auto;width: 400px;}
.get-point {margin: 0 auto;	width: 400px;}
.howswork .get-point {margin: 0 auto;width: 100%;}
.what-is-freecopy {margin: 0 auto;width: 400px;}
.terget-img {margin: 0 auto;padding: 0;text-align: center;width: 350px;}
.easly {margin: 0 auto;	padding: 35px 0 35px 0;text-align: center;width: 350px;}
.longturn-brand {margin: 0 auto;padding: 0 0 35px 0;text-align: center;width: 350px;}
.userimg {margin: 0 auto;padding:35px 0 35px;text-align: center;width: 350px;}
.pay-only {margin: 0 auto;padding: 0 0 35px 0;text-align: center;width: 350px;}
.testmonialstatus {width: 450px;}
.wing-img {background: none;}
.ballet {text-align: center;}
.logo2 {padding: 23px 0 0 0px;text-align: left;}
.margr100 {margin-right:6px;margin-top: 0;}
.flatebroser {width: 100%;padding: 25px 0 0 0;	margin: 0px;}
.freephotocopy {margin: 0;padding: 25px 0 0 0px;width: 100%;}
.freephotocopy h1 {font-size:28px; text-align:center;}
.freephotocopy p {padding: 5px 0 0; text-align:center;}
.watchvideo {font-size: 0; padding: 25px 0;}
.point-icn {width: 175px;height: 175px;}
.point-icn:hover {width: 175px;height: 175px;}
.give-icon {width: 175px;height: 175px;}
.give-icon:hover {width: 175px;height: 175px;}
.give-icon {width: 175px;height: 175px;}
.give-icon:hover {width: 175px;	height: 175px;}
.create-profile {height: 175px;	width: 175px;}
.create-profile:hover {height: 175px;width: 175px;}
.select-reach-icon {height: 175px;width: 175px;}
.select-reach-icon:hover {height: 175px;width: 175px;}
.add-filter-icon {height: 175px;width: 175px;}
.add-filter-icon:hover {height: 175px;width: 175px;}
.publish-ad-icon {height: 175px;width: 175px;}
.publish-ad-icon:hover {height: 175px;width: 175px;}
/**********************/
.mobile-middle {float: left; margin: 32px 0 0; padding: 0; position: relative; text-align:left; width: 100%;}
.downloadapp{width:40%; padding:0px; margin:0px;}
.downloadapp2{width:60%; padding:0px; margin:0px;}

.now-available h2 {font-size: 35px; font-weight: normal; margin: 0; padding:30px 0 0 10px;}
.contactfrm2 h2 {font-size: 35px; font-weight: normal; margin: 0; padding:0 0 0 10px;}
.now-available img {margin-bottom: 10px; width: 100%;}
.now-available p {font-size:16px; line-height:22px; margin: 0; padding:37px 0 30px 10px;}
.now-available ul {margin: 0; padding: 21px 0 41px 11px;}
.now-available {margin:15% 5% 0 0; padding: 10px 0 0; width: 100%; float:left;}
.popup .modal-dialog {margin:50px auto; width:450px; max-height:300px; height:100%;}
.popup .modal-dialog iframe{margin:0; width:100%; max-height:300px; height:300px;}

}



@media screen and (min-width:481px) and (max-width:550px) {{}
.adroidapp .android {margin:25px 5px 0 0; padding: 0; text-align:center; text-decoration: none; width:150px; font-size:16px;}
.sliderdsplay {width:auto;}
.adroidapp {float: right;  margin:0px 0 0; padding:0px;  position: relative;  width:100%; z-index: 999; text-align:center;}

.margin54 {margin-top: 54px;}
.right-login .addnow {margin: 0px;}
.need-detail2 {margin: -51px 0 47px 5%;	padding: 0 12px 28px;width: 90%;}
.email-icn {margin: 0 10px 11px 0px;}
.lock-icon {margin: 0 10px 11px 0px;}
.need-detail2 ul li:last-child {margin: 0 0 6px;}
.forgot {padding: 0 0 16px;}
.welsponcer-login .have-accoutn2 {float: left;padding: 2% 5% 0;width: 100%;}
.right-login .hvr-outline-in::before {bottom: -13px;left: -13px;right: -13px;top: -13px;}
.welsponcer-login .have-accoutn2 h4 {color: #000;font-size: 18px;	font-weight: normal;
	margin: 0;padding: 25px 0 0;}
.welsponcer-login .have-accoutn2 p {color: #000;}
.welsponcer-login .have-accoutn2 a {border: 1px solid #333;color: #000;margin: 20px 0 0 0}
.welsponcer-login .have-accoutn2 a:hover {border: 1px solid #f00;color: #f00;}
.welsponcer-login .have-accoutn {padding: 0% 5% 2%;width: 100%;margin-bottom: 10px;}
.welsponcer-login .have-accoutn a {margin: 20px 0 0;}
.welsponcer-login .have-accoutn h4 {padding: 18px 0 0;}
.busniness {margin: 0 10px 11px 0px;}
.mobile-icon {margin: 0 10px 11px 0px;}
.entr-name {margin: 0 10px 11px 0px;}
.address-view {margin: 0 10px 11px 0px;}
.need-detail {float: left;margin: 0px 0 47px 5%;padding: 0 12px 28px;position: relative;top: 0px;right: 0px;width: 90%;}

/*---banner slidr css------*/
.printforever {float: right; margin: 0; padding: 14px 0 0; width: 100%; text-align:center;}
.left-part {float: left; margin: 0; padding: 0; text-align: center; width: 100%;}
.left-part > img {width:250px;}
#owl-demo4 .owl-pagination {display: none;}
.printforever p {font-size: 18px; line-height: 23px; margin: 0; padding: 0px 0 0; text-align:center;}
.printforever h1 {font-size:24px; margin: 0; padding: 0 9px 0 0; text-align:center;}
.printforever .android {height:57px; line-height:53px; margin: 8px auto; padding: 0; text-align: center; text-decoration: none; width:175px; font-size:16px;}
#owl-demo4 .watchvideo {font-size: 0; font-weight: normal; margin: 0; padding: 3px 0 0; text-align: center; width: 100%;}
#owl-demo4 .watchvideo span {display: inline; margin: 0; padding: 0;}
.banner-bg{ height:auto;}
/*---banner slidr css------*/
.now-available ul li {display: inline-block; margin: 0 4px 0 0; padding: 0; width: 70%;}
.sliderdsplay{display:inline; padding:0 3px 0 3px; vertical-align:middle; text-align:center;}



}


@media screen and (min-width:320px) and (max-width:480px) {{}
.adroidapp .android {margin:25px 5px 0 0; padding: 0; text-align:left; text-decoration: none; width:123px; font-size:13px; height: 48px; line-height: 40px;}


.sliderdsplay {width:30%;}
.adroidapp {float: right;  margin:0px 0 0; padding:0px;  position: relative;  width:100%; z-index: 999; text-align:center;}
.now-available ul li:nth-child(1) {margin: 0 10px 0 0;}
.watchvideo {font-size: 0; padding: 25px 0; text-align: center;}
.easly {margin: 0; padding: 35px 0 0; text-align: center; width: 100%;}
.longturn-brand {margin: 0px auto; padding: 70px 0px 0 0; text-align: center; width: 75%;}
.popup .modal-dialog {margin:50px auto; width:90%; max-height:300px; height:100%;}
.popup .modal-dialog iframe{margin:0; width:100%; max-height:300px; height:300px;}
.terget-img {margin:0 auto; padding: 0;text-align: center; width:80%;}
.terget-ads{margin:0 auto; padding:25px 0 0 0;text-align: center; width:90%;}
.easily-ads {margin: 0; padding: 25px 0 0; text-align:center; width:100%;}
/*---banner slidr css------*/
.printforever {float: right; margin: 0; padding: 14px 0 0; width: 100%; text-align:center;}
.left-part {float: left; margin: 0; padding: 0; text-align: center; width: 100%;}
.left-part > img {width:198px;}
#owl-demo4 .owl-pagination {display: none;}
.printforever p {font-size: 18px; line-height: 23px; margin: 0; padding: 0px 0 0; text-align:center;}
.printforever h1 {font-size:24px; margin: 0; padding: 0 9px 0 0; text-align:center;}
.printforever .android {height:57px; line-height:53px; margin: 8px auto; padding: 0; text-align: center; text-decoration: none; width:150px; font-size:16px;}
#owl-demo4 .watchvideo {font-size: 0; font-weight: normal; margin: 0; padding: 3px 0 0; text-align: center; width: 100%;}
#owl-demo4 .watchvideo span {display: inline; margin: 0; padding: 0;}
.banner-bg{ height:auto;}
.margr100 {margin-right:6px;margin-top: 0;}
.end-user-banner {width: 90%;}
.now-available img {width: 100%; margin-bottom:10px;}
.mobile-middle {float: left; margin: 32px 0 0; padding: 0; position: relative; text-align:center; width: 100%;}
.downloadapp{ width:100%; padding:0px; margin:0px;}
.downloadapp2{ width:100%; padding:0px; margin:0px;}

.now-available h2 {font-size:24px; font-weight: normal; margin: 0; padding: 0 0 0 10px;}
.contactfrm2 h2 {font-size: 35px; font-weight: normal; margin: 0; padding: 0 0 0 10px;}
.now-available p {font-size:16px; line-height:22px; margin: 0; padding: 7px 0 0 10px;}
.now-available ul {margin: 0; padding: 21px 0 41px 11px;}
.now-available ul li {display: inline-block; margin: 0 18px 0 0; padding: 0; width: 45%;}
.sliderdsplay{display:inline; padding:0 5px 0 6px; vertical-align:middle; text-align:center;}

/*---banner slidr css------*/
.margin54 {margin-top: 54px;}
.need-detail2 {margin: -51px 0 47px 5%;padding: 0 12px 28px;width: 90%;}
.email-icn {margin: 0 10px 11px 0px;}
.lock-icon {margin: 0 10px 11px 0px;}
.entr-name {margin: 0 10px 11px 0px;}
.address-view {margin: 0 10px 11px 0px;}
.need-detail2 ul li:last-child {margin: 0 0 6px;}
.forgot {padding: 0 0 16px;}
.welsponcer-login .have-accoutn2 {float: left;padding: 2% 5% 0;	width: 100%;}
.right-login .hvr-outline-in::before {bottom: -13px;left: -13px;right: -13px;top: -13px;}
.welsponcer-login .have-accoutn2 h4 {color: #000; font-family: 'Gotham';
 font-size: 18px;font-weight: normal;margin: 0;padding: 25px 0 0;}
.welsponcer-login .have-accoutn2 p {color: #000;}
.welsponcer-login .have-accoutn2 a {border: 1px solid #333;color: #000;margin: 20px 0 0 0}
.welsponcer-login .have-accoutn2 a:hover {border: 1px solid #f00;color: #f00;}
.welsponcer-login .have-accoutn {padding: 2% 5% 2%;width: 100%;margin-bottom: 10px;}
.welsponcer-login .have-accoutn a {margin: 20px 0 0;}
.welsponcer-login .have-accoutn h4 {padding: 18px 0 0;}
.busniness {margin: 0 10px 11px 0px;}
.mobile-icon {margin: 0 10px 11px 0px;}
.need-detail {float: left;margin: 0px 0 47px 5%;padding: 0 12px 28px;position: relative;top: 0px;right: 0px;width: 90%;}
.logo2 {padding: 23px 0 0 0;}

.ballet {text-align: center;width: 100%;}
.ballet span {display: block;}
.logo > img {width: 100%;}
.right-login .addnow {font-size: 15px;margin: 0;padding: 8px 0 7px;	width: 140px;}
.flatebroser {width: 100%;padding: 25px 0 0 0;	margin: 0px;}
.flatebroser img {max-width:100%;}
.freephotocopy {margin: 0;padding: 25px 0 0 0px;width: 100%;}
.freephotocopy h1{font-size:24px;}
.freephotocopy p{font-size: 18px;padding: 4px 0 0;}
.watchvideo{padding:5px 0 20px;}
.watchvideo span{padding: 0;margin: 0px;vertical-align: middle;}
.watchvideo span img{padding: 5px 0 20px;width: 15%;}
.wing-img {background:none; padding-top:15px;}
.howswork {width:100%;}
.emailverified span {height:95px; width:95px; line-height:normal;}
.emailverified img {margin:0;padding:0; width:76%;}

}


/*
@media screen and (min-width:320px) and (max-width:900px) {
.popup .modal-dialog {margin:50px auto; width:90%; max-height:300px; height:100%;}
.popup .modal-dialog iframe{margin:0; width:100%; max-height:300px; height:300px;}

	}*/