#wrapper {
    -webkit-transition:all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#horizontal-nav {
   -webkit-transition:all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

#horizontal-nav .navbar-nav {
	list-style:none;
	padding:0;
	margin-left: 0;
}

#horizontal-nav li .active-title		{color:#fff}
#horizontal-nav .navbar-collapse 		{padding:0}
#horizontal-nav .navbar-nav				{width:100%;}
#horizontal-nav .navbar-nav > li 	   	{min-height:64px!important;text-indent:.5em;line-height: 64px;}
#horizontal-nav .navbar-nav > li > a	{padding:0}

#horizontal-nav .caret 					{margin-left:.5em;}
#horizontal-nav  .active a  			{font-weight:600; color:#fff;}
#horizontal-nav [class*=icon]			{float:left;line-height:2.75em;}
#horizontal-nav .badge					{margin-left:1em;padding-left:3px;}
#menu-toggle 							{display: none;}


@media (min-width:1300px) {
	#horizontal-nav > ul > li			{width:10%; line-height:60px;text-indent:.5em!important;}
	#horizontal-nav > a 				{line-height:54px;}
	#horizontal-nav li .active-title		{line-height:54px!important;}
	#horizontal-nav [class*=icon]		{line-height:60px;}
}
	
@media (min-width:760px) and (max-width:1300px) {
	.hor-menu-item-text 						{display:inline-block}
	#horizontal-nav > ul >li					{ width: auto;float: left;padding-right: 15px;}
	#horizontal-nav .badge					    {display:none!important;}
	#horizontal-nav [class*=icon] 				{float:none;font-size:150%!important;margin-right:0;}
	#horizontal-nav  li 						{text-align:center!important;}
	#horizontal-nav  li > ul > li				{text-align:left!important;}
	}
	
@media (max-width:767px) {
		#wrapper {
		  padding-left: 0;
		  height:100%;
		   min-height:100%;
		  height:100%;
		}
		
		#sidebar-wrapper {
		  left: 0;
			min-height:100%;
		  height:100%;
		  -webkit-transition:all 0.4s ease 0s;
		  transition: all 0.4s ease 0s;
		}
		
		#wrapper.sidebar-active {
		  position: relative;
		  min-height:100%;
		  height:100%;
		   left: 250px;
		  -webkit-transition:all 0.4s ease 0s;
		  transition: all 0.4s ease 0s;
		}
		
		#wrapper.sidebar-active #sidebar-wrapper {
		  width: 250px;
		 height:100%;
		   -webkit-transition:all 0.4s ease 0s;
		  transition: all 0.4s ease 0s;
		}
		
		#menu-toggle {
		  display: inline-block;
		  
		}
		
		.inset {
		  padding: 15px;
		}

}

@media (max-width:780px) {
	 #horizontal-nav li 			  	 {text-indent:15px!important;}
	 #horizontal-nav li .active-title	 {text-indent:10px!important;}
	 #horizontal-nav .nav > li 	   	     {height:47px!important;}
}